@charset "UTF-8";


<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

	<meta name="theme-color" content="#082e59">
	<meta name="description" content="나라를 나라답게, 국민과 함께 갑니다."/>
	<meta name="keywords" content="청와대, 대통령비서실, 대통령, 한국, 대한민국, 대한민국 정부, president.go.kr, 靑瓦臺, 19대, 문재인"/>
	<meta name="author" content="청와대 (CHEONGWADAE)"/>
	<meta name="format-detection" content="telephone=no"/>

	<meta property="og:type" content="website">
	<meta property="og:title" content="공개일정">
	<meta property="og:url" content="http://www.president.go.kr/">
	<meta property="og:site_name" content="공개일정">
	<meta property="og:description" content="나라를 나라답게, 국민과 함께 갑니다.">
	<meta property="og:image" content="http://president.go.kr/css/favicon_400x210.png">

	<meta name="twitter:url" content=" http://www.president.go.kr/">
	<meta name="twitter:description" content="나라를 나라답게, 국민과 함께 갑니다."/>
	<meta name="twitter:image" content="http://president.go.kr/css/favicon_400x210.png">


	<title>공개일정</title>

	<link rel="shortcut icon" href="http://president.go.kr/css/favicon.ico">
	<link rel="icon" href="http://president.go.kr/css/favicon.png">
	<link rel="apple-touch-icon" href="http://president.go.kr/css/favicon.png">

	<link rel="stylesheet" href="/css/init.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/layout.css?v=20170901">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
	<!-- <link rel="stylesheet" href="/css/flexslider.css"> -->
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/board.css">
	<link rel="stylesheet" href="/css/header.css?ver=20171215">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/jquery-ui.min.css">

	<style  type="text/css">
.clearfix {*zoom:1;}
.clearfix {content:' '; clear:both;overflow:hidden;}

.pull-left {float: left!important;}
.pull-right{float:right!important}
#cwdcalendar {margin-bottom:50px;}

#cwdcalendar table {width:100%}
.cwdcalendar {width:100%}
.schedule_view {padding-top:30px;text-align:left;line-height:150%;font-size:1.2em;}
.schedule_view table {width:100%}

.cal_head {margin-bottom: 40px;}
.cal_head_title{
	display:inline-block;
	color: #010101;
    font-size: 40px;
    font-weight: 500;
	margin-top:10px;
}
.cal_prev{
	width:60px;
	height:85px;
	background-image:url(/culturen/resources/img/cal_arrow.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.cal_next{
	width:60px;
	height:85px;
	background-image:url(/culturen/resources/img/cal_arrow.png);
	background-repeat:no-repeat;
	background-position:-74px 0px;
}
.cal_prev:hover{background-position:0px -84px;}
.cal_next:hover{background-position:-74px -84px;}

.add_day{border-bottom: 3px solid #082e59;}
.add_day th{
	padding-bottom: 12px;
    font-size: 18px;
	font-weight:500;
	color:#545454;
}
.add_day td{
	padding-bottom: 12px;
    font-size: 18px;
    padding-left: 10px;
}

.caltd {
	width:14.2%;
	height:150px;
	padding-top: 15px;
	text-align: left;
    padding-left: 10px;
	border: 1px solid #eaeaea;
	vertical-align:top;
	font-size:2em;
	color:#010101;
	font-family: 'Noto Sans KR', sans-serif;
	position: relative;
	cursor:pointer;
}

.nottd {color:#c5c5c5;}
td.caltd:hover {background:#EEEEEE}
.wvcaldata {
	position:absolute;
	width:100%;
	left:0px;
	top:50px;
}
.scheduletitle {
	width:80%;
	padding:3px 10px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size:0.65em;
	color:#6c6c6c;
	line-height:150%;
	font-family: 'Noto Sans KR', sans-serif;
}





.add_schedule{
	text-align: left;
    margin-bottom: 70px;
}
.add_schedule h3{
	font-size: 30px;
    letter-spacing: -1px;
    font-weight: 600;
    color: #272727;
    display: inline-block;
    margin-bottom: 25px;
}

.add_schedule_table{
	width: 100%;
    text-align: center;
	margin-bottom: 15px;
}
.add_schedule_table td{
	font-size: 16px;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.add_schedule_table td.schedule_table_hd{
	width: 100%;
    background-color: #082e59;
    padding: 18px 0;
    color: #fff;
    font-size: 22px;
}
.add_schedule_table td.borderRi_None{border-right:0;}
.schedule_hd_date{display:inline-block;}
.schedule_hd_day{display:inline-block;}

.add_schedule_table td.schedule_tablE_td{}

.add_schedule_table td.schedule_table_hd_1{
	width:100%;
	background-color: #29588c;
	padding: 18px 0;
    color: #fff;
    font-size: 22px;
}




/* 팝업 */
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
    top: 45%;
    left: 50%;
    width: 90%;
    padding: 8% 2%;
    overflow-y: scroll;
	background-color:#fff;
	height: 450px;
	z-index: 2000;
	visibility: hidden;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(56, 56, 56, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: #e74c3c;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.md-close{
	position: absolute;
    top: 36px;
    right: 33px;
	cursor:pointer;
}

</style>

	<script src="/js/html5.js"></script>
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/jquery.form.min.js"></script>
	<script src="/js/navigation.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.js"></script>
	<!-- <script src="/js/jquery.flexslider-min.js"></script> -->
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/SmoothScroll.js"></script>
	<script src="/js/moment.min.js"></script>

	<script src="/js/handlebars-v4.0.10.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	  
<script>
$(document).ready(function () {
	
getcal(2018,04);

$(document).on('click','.caltd',function(){
	if($(this).attr('data-cal')){
	$.get('./ajax/calendar_view.php?toDate='+$(this).attr('data-cal')+'&dumi='+new Date().getTime(), function( data ) {
		$('.schedule_view').html(data);
	});
	$( 'html, body' ).animate( { scrollTop :$('.schedule_view').offset().top}, 400 );
	}
});
	
	var webNavi = $('#webNavi').superfish({
	});
});
</script>

</head>

<body>

<div id="accessibility">
	<strong class="blind">컨텐츠바로가기</strong>
	<ul>
		<li><a href="#cont_view"><strong>본문으로 바로가기</strong></a></li>
		<li><a href="#sitemap"><strong>하단메뉴 바로가기</strong></a></li>
	</ul>
</div>

<div id="wrap">






<div class="head_navi">
	<h1 style=""><div class="sound_only">로고 배경이미지</div></h1>
	<div class="navigator_menu" style="">
		<ul id="webNavi" class="menu">
			<li class="menu_list ml0 main_logo"><a href="/" title="메인페이지로 이동"><img src="http://www.president.go.kr/cwdimg/main/logo.png" style="width:100%;" alt="청와대 로고"/></a></li>
			<li class="menu_list">
				<a href="/calendar">문재인 대통령</a>
				<ul class="menu_sub">
					<li><a href="/calendar">공개일정</a></li>
					<li><a href="/president-journey">걸어온길</a></li>
					<li><a href="/c/president-speeches">대통령의 말과 글</a></li>
					<li><a href="/c/first-lady-quotations">김정숙의 말과 글</a></li>
				</ul>
			</li>
			<li class="menu_list">
				<a href="/live-speeches">청와대 뉴스룸</a>
				<ul class="menu_sub">
					<li><a href="/live-speeches">청와대 온에어</a></li>
					<li><a href="/c/briefings">청와대 브리핑</a></li>
					<li><a href="/c/oversea-journals">해외언론보도</a></li>
					<li><a href="/c/blue-house-stories">청와대 이야기</a></li>
					<li><a href="/history">청와대 일기</a></li>
				</ul>
			</li>
			<li class="menu_list">
				<a href="/policies">정책자료</a>
				<ul class="menu_sub">
					<li><a href="/policies">정책현안</a></li>
					<li><a href="http://www.korea.kr/policy/actuallyList.do?pWise=main&pWiseMain=A25" target="_blank" rel="noopener noreferrer">정책브리핑</a></li>
					<li><a href="/government-projects">국정과제</a></li>
					<li><a href="/GovReport2018" style="line-height:20px;">2018년 정부부처<br>업무보고</a></li>
					<li><a href="/c/numerical-government">숫자로 보는 정책</a></li>
				</ul>
			</li>
			<li class="menu_list">
				<a href="/forums">국민소통 광장</a>
				<ul class="menu_sub">
					<li><a href="/Amendment">국민 개헌안</a></li>
					<li><a href="/forums">토론방</a></li>
					<li><a href="/petitions">국민청원 및 제안</a></li>
					<li><a href="http://epeople.go.kr" target="_blank" rel="noopener noreferrer" >국민신문고</a></li>
					<li><a href="http://mybudget.go.kr" target="_blank" rel="noopener noreferrer" >국민참여예산</a></li>
					<li><a href="https://www.hrdb.go.kr/mrfnRcog/retrieveHRORecommandIntro.do" target="_blank" rel="noopener noreferrer">인재추천</a></li>
					<li><a href="http://open.pss.go.kr" target="_blank" rel="noopener noreferrer">효자동사진관</a></li>
				</ul>
			</li>
			<li class="menu_list">
				<a href="/about/roi">청와대 알림</a>
				<ul class="menu_sub">
					<li><a href="/about/roi">정보공개</a></li>
					<li><a href="https://dashboard.jobs.go.kr" target="_blank" rel="noopener noreferrer">일자리 상황판</a></li>
					<li><a href="/about/organization">청와대 조직도</a></li>
					<li><a href="/budgets">세입·세출예산 운용상황</a></li>
					<li><a href="/Verification" style="line-height:20px;">고위공직 예비후보자<br/>사전 질문서</a></li>
					<li><a href="http://pa.go.kr/" target="_blank" rel="noopener noreferrer" >청와대 기록관</a></li>
					<li><a href="/about/location?where=desk">오시는 길</a></li>
				</ul>
			</li>
			<li class="menu_list mr0">
				<a href="/tours/about">청와대 관람 신청</a>
			</li>


			<p class="main_search_icon"><button id="trigger-overlay" class="search_icon" type="button">검색창 열기</button></p>

			<div class="en_btn">
				<a href="http://english.president.go.kr" title="영문페이지로 이동">
					<span><img src="http://www.president.go.kr/cwdimg/main/language_icon.gif" alt="영문페이지로 이동"/> English</span>
				</a>
			</div>


		</ul>


		<div class="overlay overlay-slidedown">
			<button type="button" class="overlay-close">Close</button>
			<div class="full_search">
				<form name="" action="/search" method="post" class="">
					<fieldset>
						<ul class="full_search_btn">
							<li class="search_box">
								<label for="loginid" class="hide">검색창</label>
								<input type="text" title="검색어입력" name="query" id="loginid" class="" placeholder="검색어를 입력해주세요." value=""/>
							</li>
							<li class="search_btn">
								<input type="submit" value="검색" class=""/>
							</li>
						</ul>
					</fieldset>
				</form>
			</div>
		</div>

		<script src="/js/modernizr.custom.js"></script>
		<script src="/js/classie.js"></script>
		<script src="/js/search_btn.js"></script>

	</div>
</div>




<header id="header" class="">
	<div class="navigator_menu" style="display:none"></div>
	<div class="h_logo">
		<a href="/" title="메인페이지로 이동">
			<h1 class="blind">대한민국 청와대</h1>
		</a>
	</div>
	<hr/>
	<div class="h_search">
		<h2 class="blind">통합검색</h2>
		<div class="hs_btn">
			<button type="button" id="search_btn">
				<i><span class="sound_only">통합검색</span></i>
				<span class="blind">Search Btn</span>
			</button>
        </div>
		<div class="hs_wrap">
			<script>
				$(document).ready(function () {
					$('#form-search').submit(function () {
						var keyword = $(this).find('input[name="query"]').val();
						var regex = /^([a-zA-Z0-9가-힣 ]){2,}$/i;
						if (!regex.test(keyword)) {
							alert('검색어는 한글, 영문 숫자를 2글자 이상으로 입력해주세요.');
							return false;
						}
						return true;
					});
				});
			</script>
			<form id="form-search" action="/search">
				<fieldset>
					<legend>통합검색폼</legend>
                    <div class="hs_group">
                        <div class="hs_input">
                            <label for="hs_keyword" class="blind">검색어</label>
                            <input type="text" id="hs_keyword" name="query" placeholder="검색어를 입력해주세요." required/>
                        </div>
                        <button type="submit" class="hs_ok">검색</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr/>
    <div class="h_gnb">
        <h2 class="blind">메인메뉴</h2>
        <div class="hg_btn">
            <h3>메뉴</h3>
            <button type="button" id="mainmenu_btn">
                <i><span class="sound_only">메인메뉴</span></i>
                <span class="blind">Menu Btn</span>
            </button>
        </div>
	<nav class="hg_wrap">
		<ul class="depth1">

			<li class="hg_president">
				<button type="button"><h3>문재인 대통령 <i><span class="sound_only">문재인 대통령</span></i></h3></button>
				<ul class="depth2">
					<li>
						<a href="/calendar">공개일정</a>
					</li>
					<li>
						<a href="/president-journey">걸어온길</a>
					</li>
					<li>
						<a href="/c/president-speeches">대통령의 말과 글</a>
					</li>
					<li>
						<a href="/c/first-lady-quotations">김정숙의 말과 글</a>
					</li>
				</ul>
			</li>


			<li class="hg_newsroom">
				<button type="button"><h3>청와대 뉴스룸 <i><span class="sound_only">청와대 뉴스룸</span></i></h3></button>
					<ul class="depth2">
						<li>
							<a href="/live-speeches">청와대 온에어</a>
						</li>
						<li>
							<a href="/c/briefings">청와대 브리핑</a>
						</li>
						<li>
							<a href="/c/oversea-journals">해외언론보도</a>
						</li>
						<li>
							<a href="/c/blue-house-stories">청와대 이야기</a>
						</li>
						<li>
							<a href="/history">청와대 일기</a>
						</li>
					</ul>
				</li>

				<li class="hg_policy">
					<button type="button"><h3>정책자료 <i><span class="sound_only">정책자료</span></i></h3></button>
					<ul class="depth2">
						<li>
							<a href="/policies">정책현안</a>
						</li>
						<li>
							<a href="/government-projects">국정과제</a>
						</li>
						<li><a href="/GovReport2018" style="line-height:20px;">2018년 정부부처<br>업무보고</a></li>
						<li>
							<a href="/c/numerical-government">숫자로 보는 정책</a>
						</li>
					</ul>
				</li>

				<li class="hg_community">
					<button type="button"><h3>국민소통 광장 <i><span class="sound_only">국민소통 광장</span></i></h3></button>
					<ul class="depth2">
						<li>
							<a href="/Amendment">국민 개헌안</a>
						</li>
						<li>
							<a href="/forums">토론방</a>
						</li>
						<li>
							<a href="/petitions">국민청원 및 제안</a>
						</li>
						<li>
							<a href="http://epeople.go.kr" target="_blank" rel="noopener noreferrer" >국민신문고</a>
						</li>
						<li>
							<a href="http://mybudget.go.kr" target="_blank" rel="noopener noreferrer" >국민참여예산</a>
						</li>
						<li>
							<a href="https://www.hrdb.go.kr/mrfnRcog/retrieveHRO0401001.do" target="_blank" rel="noopener noreferrer">인재추천</a>
						</li>
						<li>
							<a href="http://open.pss.go.kr" target="_blank" rel="noopener noreferrer" >효자동사진관</a>
						</li>
					</ul>
				</li>


				<li class="hg_cheongwadae">
					<button type="button"><h3>청와대 알림 <i><span class="sound_only">청와대 알림</span></i></h3></button>
					<ul class="depth2 hei325">
						<li>
							<a href="/about/roi">정보공개</a>
						</li>
						<li>
							<a href="https://dashboard.jobs.go.kr" target="_blank" rel="noopener noreferrer">일자리 상황판</a>
						</li>
						<li>
							<a href="/about/organization">청와대 조직도</a>
						</li>
						<li>
							<a href="/budgets">세입·세출예산 운용상황</a>
						</li>
						<li>
							<a href="/Verification" style="line-height:20px;">고위공직 예비후보자</br>사전 질문서</a>
						</li>
						<li>
							<a href="http://pa.go.kr/" target="_blank" rel="noopener noreferrer" >청와대 기록관</a>
						</li>
						<li>
							<a href="/about/location?where=desk">오시는 길</a>
						</li>
					</ul>
				</li>

				<li><button type="button" onclick="location.href='/tours/about';"><h3>청와대 관람 신청<i style="background-position-x:0;background-position-y:50%"><span class="sound_only">청와대 관람 신청</span></i></h3></button></li>

				<li><button type="button" onclick="location.href='http://english.president.go.kr';"><h3>English<i class="fa fa-globe" aria-hidden="true" style="background:none; font-size:38px"><span class="sound_only">English</span></i></h3></button></li>
			</ul>
		</nav>
	</div>
</header>




    <hr/>

	<!-- haeder -->
	<div id="contents" class="c_sub ">
		<section class="cs_hero newsroom" style="background-image: url('http://www1.president.go.kr/storage/cover/JzS38Bsj0CLQi7GyGs8OBdAEItmzdZziuGrvAtq0.jpeg');">
			<div class="sound_only">공개일정 사진</div>
			<div class="csh_txt">
				<h2 class="title t1 bold cw motion" data-animation="fadeInDown">공개일정</h2>
				<p class="text bold big cw motion" data-animation="fadeInDown"></p>
			</div>

		</section>

        <section class="cs_wrap">
			<div class="cs_navi">
				<ul>
					<li class="motion" data-animation="fadeInLeft">
						<a href="http://www1.president.go.kr/schedules">문재인 대통령</a>
					</li>
					<li class="motion" data-animation="fadeInLeft">
						<a href="http://www1.president.go.kr/schedules">공개일정</a>
					</li>
				</ul>
			</div>





		</section>
	</div>
	<!-- // haeder -->

	
	<hr/>
	<div id="cont_view" style="width:1280px;margin:0 auto;" class="clearfix">
	<div id="cwdcalendar" class="cwdcalendar">
		<div style="padding:2%;" class="">

		</div>
	</div>
	<div  style="padding:2%;" class="schedule_view"></div>
	</div>

	<!-- sitemap -->
		<div id="sitemap">
		<button class="s_btn">사이트맵 <span class="blind">버튼</span></button>
		<div class="wrap">
			<ul class="depth1">
				<li>
					<h3>문재인 대통령
					<a href="/calendar" class="blind">바로가기</a>
                    </h3>
					<ul class="depth2">
						<li><a href="/calendar">공개일정</a></li>
						<li><a href="/president-journey">걸어온길</a></li>
						<li><a href="/c/president-speeches">대통령의 말과 글</a></li>
						<li><a href="/c/first-lady-quotations">김정숙의 말과 글</a></li>
					</ul>
				</li>

				<li>
					<h3>청와대 뉴스룸<a href="/live-speeches" class="blind">바로가기</a></h3>
					<ul class="depth2">
						<li><a href="/live-speeches">청와대 온에어</a></li>
						<li><a href="/c/briefings">청와대 브리핑</a></li>
						<li><a href="/c/oversea-journals">해외언론보도</a></li>
						<li><a href="/c/blue-house-stories">청와대 이야기</a></li>
						<li><a href="/history">청와대 일기</a></li>
					</ul>
				</li>

				<li>
					<h3>정책자료<a href="/policies" class="blind">바로가기</a></h3>
					<ul class="depth2">
						<li><a href="/policies">정책현안</a></li>
						<li><a href="http://www.korea.kr/policy/actuallyList.do?pWise=main&pWiseMain=A25" target="_blank" rel="noopener noreferrer">정책브리핑</a></li>
						<li><a href="/government-projects">국정과제</a></li>
						<li><a href="/GovReport2018">2018년 정부부처 업무보고</a></li>
						<li><a href="/c/numerical-government">숫자로 보는 정책</a></li>
					</ul>
				</li>

				<li>
					<h3>국민소통 광장<a href="/forums" class="blind">바로가기</a></h3>
					<ul class="depth2">
						<li><a href="/Amendment">국민 개헌안</a></li>
						<li><a href="/forums">토론방</a></li>
						<li><a href="/petitions">국민청원 및 제안</a></li>
						<li><a href="http://epeople.go.kr" target="_blank" rel="noopener noreferrer" >국민신문고</a></li>
						<li><a href="http://mybudget.go.kr" target="_blank" rel="noopener noreferrer" >국민참여예산</a></li>
						<li><a href="https://www.hrdb.go.kr/mrfnRcog/retrieveHRORecommandIntro.do" target="_blank" rel="noopener noreferrer">인재추천</a></li>
						<li><a href="http://open.pss.go.kr" target="_blank" rel="noopener noreferrer" >효자동사진관</a></li>
					</ul>
				</li>

				<li>
					<h3>청와대 알림<a href="/about/roi" class="blind">바로가기</a></h3>
						<ul class="depth2">
							<li><a href="/about/roi">정보공개</a></li>
							<li><a href="https://dashboard.jobs.go.kr" target="_blank" rel="noopener noreferrer">일자리 상황판</a></li>
							<li><a href="/about/organization">청와대 조직도</a></li>
							<li><a href="/budgets">세입·세출예산 운용상황</a></li>
							<li>
								<a href="/Verification">고위공직 예비후보자<br/>사전 질문서</a>
							</li>
							<li><a href="http://pa.go.kr/" target="_blank" rel="noopener noreferrer" >청와대 기록관</a></li>
							<li><a href="/about/location?where=desk">오시는 길</a></li>

							<li><a href="/tours/about" style="font-size:15px; color:#fff; font-weight:bold; margin-top:12px; text-decoration:none;">청와대 관람신청</a></li>
						</ul>
					</li>


			</ul>
		</div>
	</div>	<!-- sitemap -->
    <hr/>


	<!-- footer -->
		<footer id="footer">
		<div class="wrap">
			<div class="f_group">
				<div class="f_logo">
					<h2 class="blind">대한민국 청와대</h2>
				</div>
				<div class="f_sns">
					<h2 class="blind">SNS 바로가기</h2>
					<ul>
						<li><a href="https://www.facebook.com/TheBlueHouseKR" target="_blank"><i class="fs_icon facebook"><span class="sound_only">페이스북 바로가기</span></i><span class="blind">Facebook</span></a></li>
						<li>
							<a href="https://blog.naver.com/thebluehousekr" target="_blank"><i class="fs_icon blog"><span class="sound_only">블로그 바로가기</span></i><span class="blind">blog</span></a>
						</li>
						<li><a href="https://twitter.com/TheBlueHouseKR" target="_blank"><i class="fs_icon twitter"><span class="sound_only">트위터 바로가기</span></i><span class="blind">Twitter</span></a></li>
						<li><a href="https://www.instagram.com/thebluehouse_kr/" target="_blank"><i class="fs_icon instagram"><span class="sound_only">인스타그램 바로가기</span></i><span class="blind">Instagram</span></a></li>
						<li><a href="https://www.youtube.com/TheBlueHouseKR" target="_blank"><i class="fs_icon youtube"><span class="sound_only">유튜브 바로가기</span></i><span class="blind">Youtube</span></a></li>
					</ul>
				</div>
			</div>
			<div class="f_wrap">
				<div class="f_info">
					<h2>CONTACT INFO</h2>
					<ul>
						<li><i class="fi_icon call"><span class="sound_only">대표전화</span></i><p><a href="tel:02-730-5800">(+82) 02-730-5800</a></p></li>
						<li><i class="fi_icon email"><span class="sound_only">담당자 메일</span></i><p> 담당자 메일 : <a href="mailto:webmaster@president.go.kr">메일보내기</a></p></li>
						<li><i class="fi_icon address"><span class="sound_only">청와대 주소</span></i><p>03048 서울특별시 종로구 청와대로 1 대통령 비서실</p></li>
					</ul>
				</div>
				<div class="f_menu">
					<div class="fm_wrap">
						<ul>
							<li><a href="http://www1.president.go.kr/about/privacy">개인정보처리방침</a></li>
							<li><a href="http://www1.president.go.kr/about/copyright">저작권 정책</a></li>
							<li><a href="http://www1.president.go.kr/sitemap">사이트맵</a></li>
							<li><a href="http://www1.president.go.kr/about/location">오시는 길</a></li>
                        </ul>
						<ul></ul>
					</div>
					<div class="fm_tip">
                    해당 메일은 기능 장애 등 홈페이지 관련 문의만 접수합니다.<br/>
                    청와대 및 정부에 대한 민원·제안 및 공익신고·고발 등은
                    국민신문고(<a href="http://www.epeople.go.kr/" target="_blank">www.epeople.go.kr</a>)로
                    접수해주시길 부탁드립니다.
					</div>
				</div>
			</div>
		</div>
		<div class="f_copyright">
			© Office of the President. All rights reserved.
		</div>
	</footer>	<!-- footer -->

</div>

	<!-- tail start -->
	
<script src="/js/common.js"></script>
<!-- AceCounter Log Gathering Script www1.president.go.kr 국문서브-->
<script language='javascript' src='/js/acecounter/acecounter_V70_www1.js?v=20161227'></script>
<!-- AceCounter Log Gathering Script End -->

<!-- AceCounter Log Gathering Script www.president.go.kr,www1.president.go.kr 통합국문-->
<script language='javascript' src='/js/acecounter/acecounter_V70_mergeKorean.js'></script>
<!-- AceCounter Log Gathering Script End -->

<!-- AceCounter Log Gathering Script www1.president.go.kr,english1.president.go.kr,m.president.go.kr,men.president.go.kr 통합서브(83,84)-->
<script language='javascript' src='/js/acecounter/acecounter_V70_mergeSub_83_84.js'></script>
<!-- AceCounter Log Gathering Script End -->

<!-- AceCounter Log Gathering Script 전체통합-->
<script language='javascript' src='/js/acecounter/acecounter_V70_total.js'></script>
<!-- AceCounter Log Gathering Script End -->
<script type="text/javascript">
<!--



function getcal(wv_yy,wv_mm) {
	$.get('./ajax/calendar.php?toYear='+wv_yy+'&toMonth='+wv_mm+'&dumi='+new Date().getTime(), function( data ) {
		$('#cwdcalendar').html(data);
	});
}



//-->
</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112394055-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());gtag('config', 'UA-112394055-1');
	</script>
</body>
</html>