@charset "UTF-8";

/* 	<link rel="stylesheet" href="/css/init.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/layout.css?v=20170901">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
	<!-- <link rel="stylesheet" href="/css/flexslider.css"> -->
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" href="/css/board.css">
	<link rel="stylesheet" href="/css/header.css?ver=20171215">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/jquery-ui.min.css"> */

	<style  type="text/css">
.clearfix {*zoom:1;}
.clearfix {content:' '; clear:both;overflow:hidden;}

.pull-left {float: left!important;}
.pull-right{float:right!important}
#cwdcalendar {margin-bottom:50px;}

#cwdcalendar table {width:100%}
.cwdcalendar {width:100%}
.schedule_view {padding-top:30px;text-align:left;line-height:150%;font-size:1.2em;}
.schedule_view table {width:100%}

.cal_head {margin-bottom: 40px;}
.cal_head_title{
	display:inline-block;
	color: #010101;
    font-size: 40px;
    font-weight: 500;
	margin-top:10px;
}
.cal_prev{
	width:60px;
	height:85px;
	background-image:url(/culturen/resources/img/cal_arrow.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
}
.cal_next{
	width:60px;
	height:85px;
	background-image:url(/culturen/resources/img/cal_arrow.png);
	background-repeat:no-repeat;
	background-position:-74px 0px;
}
.cal_prev:hover{background-position:0px -84px;}
.cal_next:hover{background-position:-74px -84px;}

.add_day{border-bottom: 3px solid #082e59;}
.add_day th{
	padding-bottom: 12px;
    font-size: 18px;
	font-weight:500;
	color:#545454;
}
.add_day td{
	padding-bottom: 12px;
    font-size: 18px;
    padding-left: 10px;
}

.caltd {
	width:14.2%;
	height:150px;
	padding-top: 15px;
	text-align: left;
    padding-left: 10px;
	border: 1px solid #eaeaea;
	vertical-align:top;
	font-size:2em;
	color:#010101;
	font-family: 'Noto Sans KR', sans-serif;
	position: relative;
	cursor:pointer;
}

.nottd {color:#c5c5c5;}
td.caltd:hover {background:#EEEEEE}
.wvcaldata {
	position:absolute;
	width:100%;
	left:0px;
	top:50px;
}
.scheduletitle {
	width:80%;
	padding:3px 10px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size:0.65em;
	color:#6c6c6c;
	line-height:150%;
	font-family: 'Noto Sans KR', sans-serif;
}





.add_schedule{
	text-align: left;
    margin-bottom: 70px;
}
.add_schedule h3{
	font-size: 30px;
    letter-spacing: -1px;
    font-weight: 600;
    color: #272727;
    display: inline-block;
    margin-bottom: 25px;
}

.add_schedule_table{
	width: 100%;
    text-align: center;
	margin-bottom: 15px;
}
.add_schedule_table td{
	font-size: 16px;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.add_schedule_table td.schedule_table_hd{
	width: 100%;
    background-color: #082e59;
    padding: 18px 0;
    color: #fff;
    font-size: 22px;
}
.add_schedule_table td.borderRi_None{border-right:0;}
.schedule_hd_date{display:inline-block;}
.schedule_hd_day{display:inline-block;}

.add_schedule_table td.schedule_tablE_td{}

.add_schedule_table td.schedule_table_hd_1{
	width:100%;
	background-color: #29588c;
	padding: 18px 0;
    color: #fff;
    font-size: 22px;
}




/* 팝업 */
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
    top: 45%;
    left: 50%;
    width: 90%;
    padding: 8% 2%;
    overflow-y: scroll;
	background-color:#fff;
	height: 450px;
	z-index: 2000;
	visibility: hidden;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(56, 56, 56, 0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #fff;
	background: #e74c3c;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.md-close{
	position: absolute;
    top: 36px;
    right: 33px;
	cursor:pointer;
}

</style>

	/* <script src="/js/html5.js"></script>
	<script src="/js/jquery-1.11.0.min.js"></script>
	<script src="/js/jquery.form.min.js"></script>
	<script src="/js/navigation.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.mCustomScrollbar.js"></script>
	<!-- <script src="/js/jquery.flexslider-min.js"></script> -->
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/SmoothScroll.js"></script>
	<script src="/js/moment.min.js"></script>

	<script src="/js/handlebars-v4.0.10.js"></script>
	<script src="/js/jquery-ui.min.js"></script> */
	  
<script>
$(document).ready(function () {
	
getcal(2018,04);

$(document).on('click','.caltd',function(){
	if($(this).attr('data-cal')){
	$.get('./ajax/calendar_view.php?toDate='+$(this).attr('data-cal')+'&dumi='+new Date().getTime(), function( data ) {
		$('.schedule_view').html(data);
	});
	$( 'html, body' ).animate( { scrollTop :$('.schedule_view').offset().top}, 400 );
	}
});
	
	var webNavi = $('#webNavi').superfish({
	});
});
</script>

	<!-- tail start -->




function getcal(wv_yy,wv_mm) {
	$.get('./ajax/calendar.php?toYear='+wv_yy+'&toMonth='+wv_mm+'&dumi='+new Date().getTime(), function( data ) {
		$('#cwdcalendar').html(data);
	});
}



//-->
/* </script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112394055-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());gtag('config', 'UA-112394055-1');
	</script> */
\