@charset "UTF-8";


.s_txt {
    text-align: center;
}

.list {
    margin: 0 auto;
}

p.s_list_ex {
    border-bottom: 1px solid #CCC;
    border-top: 2px solid #999;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 26px;
    margin: 44px auto;
    padding: 20px 0;
}


#borW {
    margin: 20px 100px;
}
section {
    display: block;
}

#container_title {
    margin-bottom: 20px;
    font-size: 1.2em;
    font-family: 나눔고딕;
}

label, input, button, select, img {
    vertical-align: middle;
}
input, button {
    margin: 0;
    padding: 0;
    font-family: 나눔고딕;
    font-size: 1em;
}
input, select, button, textarea {
    color: #333;
    font-size: 100%;
    font-family: 나눔고딕;
    }
#borW .borFrom_list01 {
}
.borFrom_list01 {
    margin: 0 0 20px;
}    
#borW .borFrom_list01 {
}
.borFrom_list01 {
    margin: 0 0 20px;
}
.borFrom_list01 table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#borW .borFrom_list01 th {
}
.borFrom_list01 th {
    width: 100px;
    padding: 7px 13px;
    border: 1px solid #CCC;
    border-left: 0;
    background: #eee;
    text-align: left;
    border-left: 1px solid #CCC;
}
label {
    cursor: pointer;
}
.sound_only {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
    border: 0 !important;
    overflow: hidden !important;
}
.msg_sound_only, .sound_only {
}
strong, em {
    font-weight: normal;
    font-style: normal;
}    

#borW .borFrom_list01 td {
    text-align: left;
}
.borFrom_list01 td {
    padding: 7px 20px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background: transparent;
} 
input[type="text"], input[type="password"] {
    border: 1px solid #CCC;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
} 
 .frm_input {

    background: #f5f5f5;
    vertical-align: middle;
 }
 #autosave_wrapper {
    position: relative;
}    
    
    
    
    
    
    
    