﻿@charset "utf-8";
/* CSS Document */


/* contact us menu5, menu5-list*/
#subContents {width:100%; height:auto;  padding-bottom: 20px;/* max-width:1180px;  margin-right:auto; margin-left:auto;*/}
#All {  margin-left:auto; margin-right:auto; padding:45px 0 0 0; width:1180px;}
#content {}
#area {}
.s_txt { text-align:center;}
.list { margin:0 auto;}
p.s_list_ex { border-bottom:1px solid #CCC; border-top:2px solid #999; color:#333; font-size:16px; font-weight:400; letter-spacing:-0.5px; line-height:26px; margin:44px auto; padding:20px 0;}

/*******************************************************************************/
/*레이아웃 다 되면 밑부분-공지사항부분- 아이디, 클래스명 변경할 것_ki에서 따온 것임_170403*/
#fBoard {}
table.board01List {/* border-color:#CCC; border-style:solid; border-width:2px 0 1px; color:#777;*/ font-size:13px; width:100%; text-align:center; font-family:나눔고딕; }
.mTop20 { margin-top: 20px !important;}
caption { font-size:0; height:0; left:0; line-height:0; overflow:hidden; position:absolute; table-layout:0; visibility:hidden; width:0;}
table.board01List th { background:#eee; border-bottom:1px solid #999; padding:13px 0; font-weight: 600; color:#333;}
table.board01List td { border-bottom:1px solid #999; padding:12px 0;}
table.board01List td.list_left { text-align:left;}
/*tbody { display:table-row-group; vertical-align:middle; border-color:inherit;}*/
div.page { width:100%; margin-top:15px; text-align:center; font-size:0; line-height:0; vertical-align:top; margin:30px 0; font-family:나눔고딕;}
div.page a { display:inline-block; width:26px; height:23px; margin-left:4px; padding-top:3px;  font-family:나눔고딕; line-height:18px; vertical-align:top; font-size:13px; cursor:pointer; /*border: 1px solid #CCC; border-right:1px solid #CCC; border-bottom: 1px solid #CCC; background:#eee;*/}

div.page a.btnPre01 { background: url(../img/page.png) no-repeat 1px 1px; font-size:0; cursor:pointer;}
div.page a.btnPre02 { background: url(../img/page.png) no-repeat -31px 2px; font-size:0;  cursor:pointer;}
div.page strong { color:#333; font-weight:bold;}
div.page strong { display:inline-block; width:26px; height:23px; margin-left:4px; padding-top:3px; font-family:나눔고딕; line-height:18px; vertical-align:top; font-size:13px; cursor:pointer; /*border: 1px solid #CCC; border-right:1px solid #CCC; border-bottom: 1px solid #CCC;  background:#eee;*/}

div.page a.btnNext01 { background: url(../img/page.png) no-repeat -65px 1px; font-size:0;  cursor:pointer;}
div.page a.btnNext02 { background: url(../img/page.png) no-repeat -97px 1px; font-size:0;  cursor:pointer;}
div.search { line-height:0; margin:30px 0; text-align:center; vertical-align:top; width:100%;}
.hidden { visibility:hidden; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height: 0;}
label { cursor:pointer;}
select { border:1px solid #999; height:26px; font-family:나눔고딕; color:#333; font-size:100%; }
option { font-weight:normal; display:block; white-space: pre; min-height:1.2em; padding:0px 2px 1px;}
input[type="text"], input[type="password"] { border:1px solid #CCC; box-sizing:border-box; height:30px; line-height: 30px; padding:0 10px;}
.input_btn01 { background:#666; border:0; color:#fff; font-size:13px; font-weight:500; padding:4px 14px; line-height:19px; cursor:pointer;}

input, select, button, textarea { color:#333; font-size:100%; font-family:나눔고딕;}

table { border-collapse:collapse; border-spacing:0px;}


p.letter_T01 { text-align: right; font-family: 나눔고딕;}
p.letter_T02 { text-align: center; clear: both;}
p.letter_T03 { line-height: 160%; font-family: 나눔고딕; font-size:14px;  text-align: center;}
p.letter_T04 { padding:70px;}
p.letter_T04 span { width:580px; line-height: 160%; font-family: 맑은고딕; font-size:13px;}


p.letter01 { text-align:left; padding-left:70px;}
p.letter01 span { line-height: 160%; font-family: 맑은고딕; font-size:13px;}
p.letter01-1 { line-height: 130%; text-align:left; padding-left:70px;}
p.letter01-1 span { line-height: 130%; font-family: 맑은고딕; font-size:12px;}
p.letter02 { margin-left: 20px; text-align:left; padding-left:70px;}
p.letter02 span { line-height:160%;  font-family: 맑은고딕; font-size:12px;}
p.letter03 { text-align: center;}
p.letter03 { font-family: 맑은고딕; font-size:14px;}

p.cust01 { padding:30px 70px 20px; text-align:center;}
p.cust01 span { width:580px; line-height: 160%; font-family: 맑은고딕; font-size:18px;}
p.cust02 { padding:0px 70px 30px; text-align:center;}
p.cust02 span { width:580px; line-height: 160%; font-family: 맑은고딕; font-size:18px;}



/*contect us list qna, qna_write */
h3.top_title { background:#eee; color:#333; font-size:16px; font-weight:400; padding:12px 0 12px 10px; border-top:2px solid #999; border-bottom:1px solid #CCC;}
table.board02List { border-bottom:1px solid #CCC; color:#666; font-size:14px; width:100%; text-align:center; font-family:나눔고딕; }
table.board02List th { border-bottom:1px solid #CCC; padding:13px 0; font-weight:600; color:#333; }
table.board02List th.borLeft {border-left:1px solid #CCC;} 
table.board02List td.list_left { text-align:left;}
table.board02List td.borLeft { border-left:1px solid #CCC; padding-left:10px;}
table.board02List td { border-bottom:1px solid #CCC; padding:12px 0;}
table.board02List th.att { border-bottom:none;}
.art_list { margin:20px; font-family:나눔고딕; font-size:13px;}
p.right_Twr_lis { text-align:right; overflow:hidden; border-top:1px solid; padding-right:30px;}
a.b-on01 { background:#999; color:#fff; display:inline-block; font-size:15px; font-weight:400; padding:11px 16px; text-align:center;}
ul.articleinfo { border-bottom:1px solid; border-top:1px solid; font-family:나눔고딕; font-size:13px; line-height:38px; margin-top:30px; overflow:hidden; text-align:left; padding-left:10px;}
ul.articleinfo li a.p { background: url(../img/n_p.png) no-repeat 59px 2px; padding:0 42px 0 10px;}
ul.articleinfo li a.n { background: url(../img/n_p.png) no-repeat 59px -17px; padding:0 42px 0 10px;}



/*qna_write-------네임명들 수정할 것*/
section { display:block;}
#borW { margin:20px 100px;}

#container_title { margin-bottom:20px; font-size:1.2em; font-family:나눔고딕;}
#borW .borFrom_list01 {}
.borFrom_list01 { margin:0 0 20px;}
.borFrom_list01 table { width:100%; border-collapse:collapse; border-spacing:0;}
#borW .borFrom_list01 th {}
.borFrom_list01 th { width:100px; padding:7px 13px; border:1px solid #CCC; border-left:0; background:#eee; text-align:left; border-left:1px solid #CCC;}
#borW .borFrom_list01 td { text-align:left;}
.borFrom_list01 td { padding:7px 20px; border-top:1px solid #CCC; border-bottom:1px solid #CCC; border-right:1px solid #CCC; background: transparent; }
/*input 부분....차후 필요 여부에 따라 수정할 것*/
.required, textarea.required { background: #CCC; top right no-repeat  !important; }
.frm_input { height: 22px;}

.borFrom_list01 textarea, .frm_input { border:1px solid #ddd; background:#f5f5f5; vertical-align:middle; line-height:2em;}

input, button { margin:0; padding:0; font-family:나눔고딕; font-size:1em;}
label, input, button, select, img { vertical-align:middle;}

.msg_sound_only, .sound_only {}
.sound_only { display:inline-block !important; position:absolute; top:0; left:0; margin:0 !important; padding:0 !important; font-size:0; line-height:0; border:0 !important; overflow:hidden !important;}
#autosave_wrapper { position:relative;}
.borFrom_list01 textarea { width:98%; height:100px; padding:2px 2px 3px; border:1px solid #ddd; background:#f5f5f5; color:#333; vertical-align:middle; line-height:2em;}

textarea, select { font-family:나눔고딕; font-size:1em;}
.borFrom_list01 .frm_file { display:block; margin-bottom:5px;}





#captcha { display:inline-block; position:relative;}
#captcha legend { position:absolute; margin:0; padding:0; font-size:0; line-height:0; text-indent:-9999em; overflow:hidden;}
#captcha #captcha_img { width:100px; height:41px; border:1px solid #999;}
#captcha #captcha_mp3 { position:absolute; top:0; left:101px; margin:0; padding:0; width:23px; height:22px; border:0; background: transparent; vertical-align:middle; overflow:hidden;}
#captcha #captcha_mp3 span { position:absolute; top:0; left:0; width:23px; height:22px; background: url(../img/sound.gif);  text-indent:-9999px;}
#captcha #captcha_reload { position:absolute; top:21px; left:101px; margin:0; padding:0; width:23px; height:22px; border:0; background: transparent; vertical-align:middle; overflow:hidden; cursor:pointer;}
#captcha #captcha_reload span { position:absolute; top:0; left:0; width:23px; height:22px; background: url(../img/reload.gif); text-indent:-9999px; }
#captcha #captcha_key { margin:0 0 0 25px; padding:0 5px; width:70px; height:41px; border:1px solid #ddd; font-size:1.333em; font-weight:bold; text-align:center; line-height:2.8em; background:#f5f5f5;}
#captcha #captcha_info { display:block; margin:5px 0 0; font-size:0.95em; letter-spacing:-0.1em;}

.btn_confirm { text-align:center;}
.btn_submit { width:80px; height:50px; padding:8px; border:0; background:#7d7d7d; color:#fff; border-radius:2px; cursor:pointer;}
.btn_cancel { width:58px; height:35px; display:inline-block; padding:7px; border:1px solid #ccc; background:#eee; color:#333; text-decoration:none; vertical-align:middle;border-radius:2px; line-height:37px; margin-left:3px;}