@charset "utf-8";
	
@import url('/css/portal/renewal-2015.css');	
	/* 삭제
	div.buttonBox01 button{margin-left:3px;font-size:0;line-height:0;vertical-align:top}
	div.buttonBox01 img{vertical-align:top}
	*/
/* sub layout */
	#wrap{position:relative;width:100%;height:100%;background:#fff }
	#container{min-height:640px;background:#fff }
	/* sub content 꽃무늬 배경 */
	
	div#localNavigator{float:left;width:185px;min-height:700px; }
	div#content{float:left;width:765px;min-height:640px;padding:0 0 60px 40px;background:#fff}

	/* text 정렬 */
	.textRight{text-align:right}

	/* 공연, 전시, 인디 목록 레잉아웃 2단일경우 */
	.layout2 #content{width:975px;}
	.layout2 #aside{display:none}
	/* sub content top */
	.contentTop{position:relative; height:37px; overflow:hidden; margin-bottom: 30px; border-bottom: 1px solid #d3d0d8; }
	/* location */
	.contentTop .location{}
	.contentTop .location .home, .contentTop .location .depth1, .contentTop .location .depth2{ position:relative; display:inline-block; color:#494949; line-height:12px; }
	.contentTop .location .depth1, .contentTop .location .depth2 { margin-left:7px; padding-left:14px; }
	.contentTop .location .depth1:before, .contentTop .location .depth2:before { content:''; position:absolute; left:0; top:0; width:6px; height:12px; background:url('/images/portal/layout/bg_location.gif') 0 1px no-repeat; }
	
	/* sns, 인쇄, 스크랩 링크 */
	.linkInfo{position:absolute;top:0;right:0}
	.linkInfo > li{float:left; margin-left:15px;}
	.linkInfo > li a, .linkInfo li button{display:block;width:25px;height:26px;box-sizing:border-box; background:url('/images/portal/layout/icoTopSns.gif') no-repeat;}
	.linkInfo > li a:focus {  }
	.linkInfo > li a span, .linkInfo li button span{position:absolute;top:-5000em}
	.linkInfo > li .snsI{background-position:0 0}/* sns 공유 */
	.linkInfo > li .print{background-position:-39px 0}/* 인쇄 */
	.linkInfo > li .scrap{background-position:-78px 0}/* 스크랩 */
	
	.linkInfo .snsList{position:absolute;top:0;right:115px;width:255px;}
	.linkInfo .snsList li { float:left; }
	.linkInfo .snsList a{display:block;width:33px; height:32px; background:url('/images/portal/layout/ico_sns_top.gif') 0 0 no-repeat;}
	.linkInfo .snsList .snsF{width:36px; background-position:0 0}/* 페이스북 */
	.linkInfo .snsList .snsT{background-position:-36px 0}/* 트위터 */
	.linkInfo .snsList .snsG{background-position:-69px 0}/* 구글 */
	.linkInfo .snsList .snsK{background-position:-102px 0}/* 카카오톡 */
	.linkInfo .snsList .snsKS{width:33px;background-position:-135px 0}/* 카카오스토리 */
	.linkInfo .snsList .snsU{width:82px;background-position:-168px 0}/* url */
	
	.linkInfo li.on .snsList{display:block}
	
	/* lnb */
	#localNavigator h2{height:110px;color:#fff;font-size:28px; font-weight:bold; text-align:center;line-height:3.6; background:url('/images/portal/layout/bg_subTit.gif') 0 0 no-repeat;}
	#localNavigator h2 a{font-family:'NGBold';text-decoration:none; color: #fff;}
	#localNavigator > ul { border:1px solid #d3d0d8; }
	#localNavigator > ul > li{line-height:3.5;border-top:1px solid #d3d0d8}
	#localNavigator > ul > li:first-child { border-top: 0; }
	#localNavigator > ul > li > a{position:relative;display:block;line-height:50px;padding-left:20px;color:#666;font-size:1.3em;text-decoration:none}
	#localNavigator > ul > li > a:hover, #localNavigator > ul > li > a:focus, #localNavigator > ul > li.on > a, #localNavigator > ul > li.current > a{color:#182f57; font-family:'NGBold'; background:#e3e8f3;}
	#localNavigator > ul > li > a:hover:after, #localNavigator > ul > li > a:focus:after, #localNavigator > ul > li.on > a:after, #localNavigator > ul > li.current > a:after { content:''; position:absolute; right:20px; top:50%; width:6px; height:11px; margin-top:-5px; background:url('/images/portal/layout/bg_localNavi_current.gif') 0 0 no-repeat; }
	#localNavigator > ul > li.current ul { display:block; }
	#localNavigator > ul > li > ul { display:none; background:#f3f3f3; border-top:1px dashed #d3d0d8;}
	#localNavigator > ul > li > ul li {  }
	#localNavigator > ul > li > ul li a { display:block; padding-left:20px; line-height:40px; color:#666; font-size:1.16em; }
	#localNavigator > ul > li > ul li a:hover, #localNavigator > ul > li > ul li a:focus, #localNavigator > ul > li > ul li a:active, #localNavigator > ul > li > ul li.current a { color:#182f57; text-decoration:underline; }
	#localNavigator .btnBox {margin:30px 0 0 0; }
	#localNavigator .btnBox a{position:relative; display:block; margin-top:12px; padding-left:20px; box-sizing:border-box; line-height:48px; font-size:1.05em; font-family:'NGBold'; color:#8a1818; border:1px solid #9b1101; }
	#localNavigator .btnBox a:after { content:''; position:absolute; right:0; top:0; width:50px; height:48px; background:url('/images/portal/layout/bg_lnb_btn.png') center center no-repeat #9b1101; }
	#localNavigator .btnBox a:first-child { margin-top:0; }
	#localNavigator .btnBox a.minimal { padding-left:7px; }
	#localNavigator .btnBox a.blue { color:#172e56; border-color:#172e56; }
	#localNavigator .btnBox a.blue:after { background-color:#172e56; }
	#localNavigator .btnBox a.lnb-ticket { border:0; color:#fff; background:url('/images/portal/layout/bg_lnb_ticket.gif') right 0 no-repeat #9b1101; }
	#localNavigator .btnBox a.lnb-ticket:after { display:none; }
	#localNavigator .btnBox a.lnb-card { border:0; color:transparent; font-size:0; line-height:0; background:url('/images/portal/layout/culture_card_bc.jpg') right 0 no-repeat #9b1101; height:105px; }
	#localNavigator .btnBox a.lnb-card:after { display:none; }
/* common */
	/* text color */
	.pointColor01{color:#d50008 !important}
	.pointColor02{color:#119bae !important}

	/* 카테고리홈 이동 버튼 */
	.btnHome{display:block;position:absolute;right:0;top:12px;height:14px;padding-right:12px;color:#767676;font-size:0.92em;background:url('/images/portal/bullet/bulArrow02.png') no-repeat right 4px}
	/* 텍스트 버튼 */
	.btnText{display:block;position:absolute;right:13px;bottom:13px;height:14px;padding-right:12px;color:#333;font-size:0.92em;background:url('/images/portal/bullet/bulArrow08.png') no-repeat right 3px}
	/* 문화릴레이티켓 아이콘 */
	.iconRelay{display:inline-block;height:22px;padding:0 6px;color:#4f71e8;font-size:0.92em;font-family:dotum;line-height:2;vertical-align:middle;border:1px solid #4f71e8}

	/* input[type='checkbox'], input[type='radio'] */
		.icr{position: relative;display: inline-block;vertical-align: top;cursor: pointer}
		.icr.disabled{cursor:default;opacity: 0.5}
		.icr__text{position:relative;display:inline-block;color:#666;line-height:1.4}
		.icr__radio, .icr__checkbox{position:absolute;display:block;top:0;left:0}
		.icr__hidden{position: relative;display:inline-block;width:0 !important;height:0 !important;overflow:hidden !important;font-size:0;line-height:0}
		.icr__hidden input{position:absolute;z-index:-1;top:5px;left:4px;width:5px;height:5px}
		/* 체크박스 버튼 */
		.icr__checkbox{display:inline-block;position:relative;top:-1px;margin:0 4px 0 -4px;width:15px;height:15px;vertical-align:middle;background:url('/culturen/resources/img/content/checkbutton.png') no-repeat 0 -14px}
		.icr.focus .icr__checkbox{background-position:0 -248px}
		.icr.enabled:hover .icr__checkbox, .icr.checked .icr__checkbox{background-position:0 -116px}
		.icr.focus .icr__text, .icr.enabled:hover .icr__text, .icr.checked .icr__text{color:#666}
		/* 라디오 버튼 */
		.icr__radio{display:inline-block;position:relative;top:-1px;margin:0 6px 0 -4px;padding:1px;width:15px;height:15px;vertical-align:middle;background:url('/culturen/resources/img/content/radiobutton.png') no-repeat 1px -14px}
		.icr.focus .icr__radio{padding:0;border:1px dotted #888;background-position: 0 -180px}
		.icr.enabled:hover .icr__radio, .icr.checked .icr__radio{background-position: 1px -116px}
		.icr.focus.icr.checked .icr__radio{background-position: 0 -117px}
		/* select Box */
		.selectCom{display:inline-block;vertical-align:middle;background:#fff}
		table.boardInput02 td .selectCom{float:none;margin:0}
		table.boardInput02 td .selectCom select{height:22px}
		table.boardInput02 td .vm{margin-top:2px;font-size:1.2em}
		table.boardInput02 td .selectCom + span{margin:0 5px;height:23px;line-height:2.3}


		.sbHolder{display:inline-block;position:relative;width:inherit;height:24px;border:solid 1px #d5d5d5;font-weight:normal;background-color:#fff}
		.sbHolder:focus .sbSelector{color:#666}
		.sbSelector{display:block;height:20px;left:0;line-height:2;outline:none;overflow:hidden;position:absolute;text-indent:16px;top:0;width:100%}
		.sbSelector:link, .sbSelector:visited, .sbSelector:hover{color:#555;outline:none;text-decoration:none}
		.sbSelector.selected{color:#444;outline:none;text-decoration:none}
		.sbToggle{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat;display:block;height:21px;width:20px;outline:none;position:absolute;right:10px;top:0}
		.sbToggle:hover{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat}
		.sbToggleOpen{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat}
		.sbToggleOpen:hover{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat}
		.sbHolderDisabled{background-color:#3C3C3C;border:solid 1px #515151}
		.sbHolderDisabled .sbHolder{}
		.sbHolderDisabled .sbToggle{}
		.sbOptions{position:absolute;top:-1px;left:-1px;margin:0;width:100%;z-index:1000;background-color:#fff;border:2px solid #525252;border-left:none;border-right:none;overflow-y:auto}
		.sbOptions li{padding:2px;border:2px solid #525252;border-top:none;border-bottom:none}
		.sbOptions a{display:block;padding-left:13px;font-weight:normal;color:#333;line-height:22px}
		.sbOptions a:link,.sbOptions a:visited{color:#555;text-decoration:none}
		.sbOptions a:hover,
		.sbOptions a:focus,
		.sbOptions a.sbFocus,
		.sbOptions a.sbOn{color:#fff;background:#525252}
		.sbOptions a:focus{}
		.sbOptions li:first-child a{line-height:19px}
		.sbOptions li.last a{border-bottom:none;font-size:0.92em}
		.sbOptions .sbDisabled{border-bottom:dotted 1px #515151;color:#767676;display:block;padding:7px 0 7px 3px}
		.sbOptions .sbGroup{border-bottom:dotted 1px #515151;color:#444;display:block;font-weight:bold;padding:7px 0 7px 3px}
		.sbOptions .sbSub{padding-left:17px}

		/* 입력양식 */
		input.inputText{height:33px;padding:0 1px 0 7px;border:1px solid #a8a2b1;background-color:#fff;line-height:33px;vertical-align:middle}
		input.placeholder{color:#767676}
		input.inputText.datepicker{width:120px;margin-right:4px}
		input.inputText.keyword01{width:520px}
		input.inputText.keyword02{width:350px}
		input.inputText.keyword03{width:140px}
		input.inputText.keyword04{width:305px}
		input.inputText.perform01{width:285px}
		input.inputText.subject01{width:580px}
		input.inputText.subject02{width:535px}
		input.inputText.file01{width:350px}

		input.inputText.name01,
		input.inputText.email01{width:120px}
		input.inputText.phone01{width:50px}
		input.inputText.company01,
		input.inputText.site01{width:330px}
		input.inputText.code01{width:500px;margin-top:5px}
		input.inputText.code02{width:375px;}

		input.inputText.pattern{width:535px;background:url('/images/common/bg/bgPlaceholder03.gif') no-repeat 10px 50%}
		input.inputText.more{width:535px;background:url('/images/common/bg/bgPlaceholder04.gif') no-repeat 10px 50%}
		input.inputText.goods,
		input.inputText.use{width:535px}

		input.inputText.public01{width:535px}
		input.inputText.public02{width:460px}
		input.inputText.public03{width:350px}
		input.inputText.zipCode01{width:70px}
		input.inputText.location01,
		input.inputText.address01{width:258px}
		input.inputText.location02{width:330px}

		input.inputText.uid,
		input.inputText.upass{width:150px}
		input.inputText.uname{width:150px;border-color:#fff;padding-left:0}
		input.inputText.uans{width:250px}

		textarea.inputText{padding:7px;color:#767676;border-width:1px;border-style:solid;border-color:#cbcbcb #e4e4e4 #e4e4e4 #cbcbcb;font:normal 1em/1.45 '나눔고딕', NanumGothic, NGNormal, '돋움', Dotum;vertical-align:middle} 
		textarea.inputText.comment01{width:518px;height:57px;min-height:57px}
		textarea.inputText.concept{width:535px;height:53px;min-height:53px;background:url('/images/common/bg/bgPlaceholder02.gif') no-repeat 10px 10px}
		textarea.inputText.use01{width:525px;height:53px;min-height:53px;background:url('/images/common/bg/bgPlaceholder05.gif') no-repeat 10px 10px}
		textarea.inputText.use02{width:525px;height:53px;min-height:53px}
		textarea.inputText.suggest{width:535px;height:53px;min-height:53px;background:url('/images/common/bg/bgPlaceholder06.gif') no-repeat 10px 10px}
		textarea.inputText.fastfacts{width:525px;height:53px;min-height:53px}
		textarea.inputText.signOut{width:550px;height:120px;min-height:120px;background:url('/images/common/bg/bgPlaceholder07.gif') no-repeat 10px 10px}
		textarea.inputText.apiEx{width:709px;margin-bottom:25px}
		
		/* file */
		input.file {margin:0; vertical-align:middle;}
		input.file + span { vertical-align: middle;}

		/* old
		file */
		/* div.fileInputs{position:relative;height:35px;width:366px;float:left}
		input.file{margin:0;width:366px}
		input.file.hidden{position:relative;height:26px;text-align:right;-moz-opacity:0;opacity:0;z-index:2;cursor:pointer} 
		div.fakefile{position:absolute;top:0px;left:0px;width:367px;padding:0;margin:0;z-index: 1;line-height:90%}
		div.fakefile input{width:269px}
		div.fileInputs + span{display:inline-block;margin-top:5px} */
	/* title */
	.titBul01{margin-bottom:8px;padding-left:15px;font-size:1.5em;font-weight:bold;font-family:'NGBold';background:url('/images/portal/bullet/bulSquare01.jpg') no-repeat 0 center}
	
	#content h3.contentTitle {margin-bottom:35px; font-size:2.1em; font-family:'NGBold'; color:#000; }
	#content .contentSummary { margin-top:-28px; margin-bottom:35px; font-size:1.16em; color:#333; }

	#content h4.title{margin-bottom:20px;padding:0 20px 26px;color:#333;font-size:1.34em;font-family:'NGBold';border-bottom:2px solid #222;background:url('/images/portal/bullet/bulSquare02.png') no-repeat 0 1px;line-height:1;overflow:hidden}
	
	#content h4.title01{clear:both;color:#333;font-family:'NGBold';font-size:1.2em;line-height:1}
	#content h4.title01.hasTable{margin-bottom:10px}
	#content h4.title01 span{color:#53d7bd}
	#content h4.title02{clear:both;margin-bottom:19px;padding-left:15px;color:#333;font-size:1.2em;font-family:'NGBold';background:url('/images/portal/bullet/bulSquare01.jpg') no-repeat 0 50%;line-height:1;letter-spacing:-1px}
	#content h4.title02.hasPrev{margin-top:30px}
	#content h4.title03{margin-bottom:15px;padding-left:15px;color:#333;font-size:1.167em;font-family:'NGBold';background:url('/images/portal/bullet/bulSquare04.png') no-repeat 0 50%;line-height:1;overflow:hidden}
	#content h4.title03.fs12{margin-bottom:10px;font-size:1em;font-family:'돋움',Dotum;font-weight:bold;line-height:1.2}
	#content h4.title03 em{color:#eb0009;font-weight:bold}
	#content h4.title03.hasNext{margin-bottom:10px}
	#content h4.title03.uline{background-position:0 3px;padding-bottom:27px;margin-top:0;margin-bottom:20px;border-bottom:2px solid #222}
	#content h4.title04{clear:both;margin-bottom:30px;color:#2f2f2f;font-size:1.7em;font-family:'NGBold';line-height:1}
	#content h4.title05{margin-bottom:10px;padding-left:15px;color:#333;font-size:1.2em;font-family:'NGBold';background:url('/images/portal/bullet/bulSquare04.png') no-repeat 0 center;line-height:1;overflow:hidden}
	/* 큰 블릿 타이틀 */
	#content h4.title06{padding-bottom:20px;padding-left:21px;color:#333;font-family:'NGBold';font-size:1.5em;font-family:'NGBold';background:url('/images/portal/bullet/bulSquare02.png') no-repeat 0 5px;border-bottom:1px solid #999;line-height:1.2}

	#content h5.title01{clear:both;margin-bottom:10px;color:#333;font-family:'NGBold';font-size:1.2em;line-height:1}
	#content h5.title02{margin-bottom:10px;color:#333;line-height:1}
	#content h5.title03{margin-bottom:15px;padding-left:15px;color:#333;font-size:1.2em;font-family:'NGBold';background:url('/images/portal/bullet/bulSquare04.png') no-repeat 0 center;line-height:1;overflow:hidden}
	#content h5.title04{margin-bottom:5px;color:#333;font-weight:bold;line-height:1}
	#content h5.title05{margin-bottom:10px;color:#333;font-family:'NGBold';line-height:1}
	#content h5.title06{margin-bottom:10px;color:#333;font-family:'NGBold';line-height:1.45}
	/* 상세 최신공연 타이틀 */
	#content h5.titList{margin-top:15px;color:#444;font-size:1.5em;font-family:'NGBold';line-height:2.2;border-top:2px solid #606060}

	#content h6.title01{margin-bottom:5px;color:#767676;font-family:'NGBold';line-height:1}
	#content h6.title02{clear:both;margin-bottom:10px;color:#333;font-size:1.2em;line-height:1;font-weight:bold}
	#content h6.title03{clear:both;margin-bottom:10px;color:#333;line-height:1}

	#content p.text01{margin-bottom:25px;line-height:1.65;letter-spacing:-.0325em;overflow:hidden}
	#content p.text02{margin-bottom:25px;font-family:'NGBold';line-height:1.65;letter-spacing:-.0325em;overflow:hidden}
	
	ul.list01{margin-bottom:20px;overflow:hidden}
	ul.list01 li{padding-left:8px;background:url('/images/common/bg/bgDash01.gif') no-repeat 0 8px}
	ul.list01 li a:hover,
	ul.list01 li a:active,
	ul.list01 li a:focus{text-decoration:underline}

	#content a.more{position:absolute;top:5px;right:0;padding-right:7px;color:#767676;font-size:.92em;background:url('/images/common/bg/bgMore01.gif') no-repeat 100% 50%}

	#content img.placeLeft{float:left;margin-right:30px}
	#content img.placeRight{float:right;margin-left:30px}
	#content img.placeBottom{clear:both;margin-bottom:30px}
	/* 삼각형 있는 타이틀 */
	.titleT{margin-bottom:11px;padding-left:23px;color:#d50008;font-size:1.2em;font-weight:bold;line-height:1.2;background:url('/images/portal/bullet/bultriangle01.png') no-repeat 0 0}
	.titleT strong{color:#444}

	/* tab */
		/* 마이페이지 스크랩, 폴더 탭 */
		.tab01{height:48px;overflow:hidden;margin-bottom:10px}
		.tab01 li{position:relative;float:left;width:147px;border-bottom:2px solid #d50008}
		.tab01 li a{display:block;width:147px;height:39px;color:#333;font-size:1.16em;font-family:'NGBold';text-align:center;line-height:2.8;background:#f5f5f5 url('/images/portal/bg/bgTab.png') no-repeat 0 0;border-top:1px solid #cbcbcb;border-right:1px solid #cbcbcb}
		.tab01 li.on a, .tab01 li a:hover, .tab01 li a:focus{margin:0 auto;color:#fff;background:#d50008 url('/images/portal/bg/bgTab.png') no-repeat 0 0;border-right:1px solid #d50008;border-top:1px solid #d50008}
		.tab01 li.on a:after, .tab01 li a:hover:after, .tab01 li a:focus:after{display:block;content:'';width:11px;height:16px;margin:0 auto;margin-top:1px;background:url('/images/portal/bg/bgTabOn.png') no-repeat 0 0}
		.tab01 li.first a{border-left:1px solid #cbcbcb}
		.tab01 li.first.on a, .tab01 li.first a:hover, .tab01 li.first a:focus{border-left:1px solid #d50008}
		/* 공연/전시 리스트 탭 */
		.tab02{float:left;width:434px;height:53px;background:#545454}
		.tab02 dt{float:left;width:70px;height:53px;color:#fff;font-family:'NGBold';text-align:center;line-height:53px; font-size:1.333em;}
		.tab02 dd{float:left;width:360px;height:35px; margin:1px 0; padding:16px 6px 0; background:#f5f5f5}
		.tab02 dd li{float:left;padding:0 9px;background:url('/images/portal/bg/bgLine01.png') no-repeat 0 center }
		.tab02 dd li.first{background:none}
		.tab02 dd li.last{padding-right:0}
		.tab02 dd li a{color:#444;line-height:1.5}
		.tab02 dd li a.on, .tab02 dd li a:hover, .tab02 dd li a:focus{color:#d50008;font-weight:bold}
		/* 공연/전시 상세 탭 */
		.tab03{overflow:hidden}
		.tab03 li{float:left;width:190px;border-top:2px solid #1c1c1c;}
		.tab03 li a{display:block;line-height:49px;color:#666;font-size:1.3em;text-align:center;border:1px solid #d3d0d8;border-left:0;border-top:0;background:#f3f3f3;}
		.tab03 li.first a { border-left:1px solid #d3d0d8; }
		.tab03 li.on { border-top:2px solid #8a1818; }
		.tab03 li.on a, .tab03 li a:focus, .tab03 li a:hover{color:#8a1818;font-family:'NGBold';background:#fff;border-bottom-color:#fff;}
		.tab03.num2 li{width:50%}
		.tab03.num3 li{width:240px}
		.tab03.num3 li.first{width:241px}
		.tab03.num4 li{width:190px}
		.tab03.num5 li{width:144px}
		.tab03.num5 li.first{width:143px}
		/* 가로 탭 */
		/* 마이페이지 스크랩, 폴더 탭 */
		.tab04{position:relative;border-top:1px solid #bbb;border-left:1px solid #bbb}
		.tab04 > ul > li{width:95px;height:91px}
		.tab04 > ul > li > a{position:relative;display:block;width:94px;height:90px;color:#333;font-size:1.16em;font-family:'NGBold';text-align:center;line-height:6.5;background:#f5f5f5;border-bottom:1px solid #bbb;border-right:1px solid #cbcbcb}
		.tab04 > ul > li.on > a, 
		.tab04 > ul > li > a:hover, 
		.tab04 > ul > li > a:focus{color:#fff;background:#d50008 url('/images/portal/bg/bgTab02.png') no-repeat 0 0;border-right:1px solid #d50008;border-bottom:1px solid #d50008}
		.tab04 > ul > li.on > a:after, 
		.tab04 > ul > li > a:hover:after, 
		.tab04 > li > a:focus:after{display:block;content:'';position:absolute;width:11px;height:16px;top:50%;right:-11px;margin-top:-6px;z-index:100;background:url('/images/portal/bg/bgTab02On.png') no-repeat 0 0}
		.tab04 .menuBox{display:none;position:absolute;left:94px;top:0;width:334px;height:181px;overflow:auto;border-right:1px solid #bbb;border-bottom:1px solid #bbb}
		.tab04 .on .menuBox{display:block}
		
		/* 관광 탭 */
		.tab05{height:52px;overflow:hidden;margin-bottom:21px;}
		.tab05 li{position:relative;float:left;width:53px;border-top:1px solid #cbcbcb;border-bottom:1px solid #8a1818;border-right:1px solid #d3d0d8}
		.tab05 li a{display:block;width:53px;height:50px;color:#333;font-size:1.16em;font-family:'NGBold';text-align:center;line-height:52px;background-color:#e2e2e2 }
		.tab05 li.first {width:56px;border-left:0px solid #d3d0d8}
		.tab05 li.first a {width:56px}
		.tab05 li.first.on { border-left:0;}
		.tab05 li.on a, 
		.tab05 li a:hover, 
		.tab05 li a:focus{margin:0 auto;color:#fff;background-color:#8a1818}
		
		/* 관광 이미지 있는 탭 */
		.tab06{height:60px;overflow:hidden;margin-bottom:40px}
		.tab06 li{float:left;width:154px;height:60px;margin-left:10px}
		.tab06 li.li01{margin-left:0}
		.tab06 li a{display:block;width:152px;height:58px;font-family:'NGBold';border:1px solid #d3d0d8}
		.tab06 li a span{display:block;padding-right:30px;text-align:right;color:#4c4c4c;font-size:1.167em;font-family:'NGBold';line-height:58px;background:url('/images/portal/content/perform/iconSightseeing.png') no-repeat 0 0}
		.tab06 li a:hover,
		.tab06 li a:focus,
		.tab06 li.on a{border:1px solid #8a1818;}
		.tab06 li a:hover span,
		.tab06 li a:focus span,
		.tab06 li.on a span{color:#fff;background-color:#8a1818;}
		
		/* 도서 이미지 있는 탭 */
		.tab07{height:60px;overflow:hidden;margin-bottom:15px}
		.tab07 li{float:left;height:60px;margin-left:7px}
		.tab07 li.li01{margin-left:0}
		.tab07 li a{display:block;width:118px;height:58px;font-family:'NGBold';border:1px solid #ccc}
		.tab07 li a span{display:inline-block;width:66px;height:47px;padding:9px 0 0 50px;color:#4c4c4c;font-size:1.1em;font-family:'NGBold';line-height:1.3;letter-spacing:-0.05em;vertical-align:middle;border:1px solid #fff;background:url('/images/portal/content/knowledge/iconBookOff.png') no-repeat 0 0}
		.tab07 li a:hover,
		.tab07 li a:focus,
		.tab07 li.on a{border:1px solid #6180ee}
		.tab07 li a:hover span,
		.tab07 li a:focus span,
		.tab07 li.on a span{border:1px solid #6180ee;color:#032ba0;background-image:url('/images/portal/content/knowledge/iconBookOn.png')}
		.tab07 li.li01 a{width:87px}
		.tab07 li.li01 a span{width:41px;height:37px;padding:19px 0 0 44px;background-position:0 -1px}
		.tab07 li.li02 a span{background-position:0 -59px}
		.tab07 li.li03 a span{width:69px;padding-left:47px;background-position:0 -117px}
		.tab07 li.li04 a span{background-position:0 -175px}
		.tab07 li.li05 a span{background-position:0 -233px}
		.tab07 li.li06 a span{height:50px;padding-top:6px;line-height:1.1;background-position:0 -291px}
		
		.tab{position:relative;width:100%;margin-bottom:30px}
		.tabDepth1 { border-bottom:1px solid #8a1818; }
		.tabDepth1:after{display:block;content:"";clear:both}
		.tabDepth1 > li { float:left; background:#e2e2e2; text-align:center; }
		.tabDepth1 > li > a { display:block; height:50px; line-height:50px; color:#333; font-size:1.167em; border:1px solid #d3d0d8; border-width:1px 1px 0 0; }
		.tabDepth1 > li.first > a { border-left:1px solid #d3d0d8; }
		.tabDepth1 > li.on { background:#8a1818; }
		.tabDepth1 > li.on > a { color:#fff; font-family:"NGBold";  border-color:#8a1818;}
		.tabDepth1 > li > a > span { display:block; margin-top:7px; line-height:1.3; }
		
		.num2 .tabDepth1 li { width:50%; }
		.num3 .tabDepth1 li { width:33.33%; }
		.num4 .tabDepth1 li { width:25%; }
		.num5 .tabDepth1 li { width:20%; }
		.num6 .tabDepth1 li { width:16.66%; }
		.num7 .tabDepth1 li { width:14.28%; }
		.num8 .tabDepth1 li { width:12.5%; }
		/* 2depth 있을경우 */
		/* .tab.dep2{height:82px;border-bottom:1px solid #b5b5b5;background:#fbfbfb}
		.tabDepth1:after{display:block;content:"";clear:both}
		.tabDepth1 > li > a{display:block;height:39px;color:#333;font-size:1.16em;font-family:'NGBold';text-align:center;line-height:2.8;background:#f5f5f5;border-right:1px solid #cbcbcb;border-top:1px solid #cbcbcb;border-bottom:2px solid #d50008;text-decoration:none}
		.tabDepth1 > li.on + li > a{background:#f5f5f5 url('/images/portal/bg/bgTab.png') no-repeat 0 0}
		.tabDepth1  > li.on > a,
		.tabDepth1 > li > a:hover, 
		.tabDepth1 > li > a:focus,
		.tabDepth1 > li.on + li > a:focus,
		.tabDepth1 > li.on + li > a:hover,
		.tabDepth1 > li.on + li.on > a{color:#fff;background:#d50008 url('/images/portal/bg/bgTab.png') no-repeat 0 0;border-right:1px solid #d50008;border-top:1px solid #d50008;margin:0 auto}
		.tabDepth1  > li.on > a:after, .tabDepth1 > li > a:hover:after, .tabDepth1 > li > a:focus:after{display:block;content:'';vertical-align:top;width:11px;height:16px;margin:0 auto;margin-top:2px;background:url('/images/portal/bg/bgTabOn.png') no-repeat 0 0}
		.tabDepth1  > li.first > a{border-left:1px solid #cbcbcb}
		.tabDepth1  > li.first.on > a, .tabDepth1 > li.first > a:hover, .tabDepth1 > li.first > a:focus{border-left:1px solid #d50008} */
		.tabDepth1 .tabDepth2{display:none;position:absolute;left:20px;top:56px;width:700px}
		.tabDepth1 .on .tabDepth2{display:block}
		.tabDepth1 .tabDepth2 li{float:left;margin-left:15px;padding-left:13px;background:url('/images/portal/bg/bgLine02.png') no-repeat 0 4px}
		.tabDepth1 .tabDepth2 li.firstDep2{margin-left:0;padding-left:0;background:none}
		.tabDepth1 .tabDepth2 li a{color:#666}
		.tabDepth1 .tabDepth2 li.on a, .tabDepth1 .tabDepth2 li a:hover, .tabDepth1 .tabDepth2 li a:focus{color:#d50008;font-weight:bold}
		
		/* 탭 8개 */
		.ICTTab .tabDepth1 > li{width:9%}
		.ICTTab .tabDepth1 > li.w1{width:12%}
		.ICTTab .tabDepth1 > li.w2{width:14%}
		.ICTTab .tabDepth1 > li.w3{width:26%}
		.ICTTab .tabDepth1 > li.w4{width:21%}
		
		/* 탭 8개 */
		.num08 .tabDepth1 > li{width:12.5%;height:49px}
		.num08 .tabDepth1 > li a{height:41px;padding-top:8px;font-size:1.09em;line-height:1.3}
		.num08 .tabDepth1 > li.vm a{height:33px;padding-top:16px}
		.num08 .tabDepth1  > li.on > a:after, .num08 .tabDepth1 > li > a:hover:after, .num08 .tabDepth1 > li > a:focus:after{position:absolute;top:52px;left:50%;height:11px;margin:0 0 0 -5px;background-position:0 0}
		
		/* 탭 9개 */
		.num09 .tabDepth1 > li{width:11%;height:49px}
		.num09 .tabDepth1 > li.first{width:12%}
		.num09 .tabDepth1 > li a{height:41px;padding-top:8px;font-size:1.09em;line-height:1.3}
		.num09 .tabDepth1 > li.vm a{height:33px;padding-top:16px}
		.num09 .tabDepth1  > li.on > a:after, .num09 .tabDepth1 > li > a:hover:after, .num09 .tabDepth1 > li > a:focus:after{position:absolute;top:52px;left:50%;height:11px;margin:0 0 0 -5px;background-position:0 0}
		
		/* 탭 10개 */
		.num10 .tabDepth1 > li{width:10%;height:49px}
		.num10 .tabDepth1 > li a{height:33px;padding:8px 0;font-size:1.09em;line-height:1.2}
		.num10 .tabDepth1 > li.vm a{height:17px;padding:16px 0}
		.num10 .tabDepth1  > li.on > a:after, .num10 .tabDepth1 > li > a:hover:after, .num10 .tabDepth1 > li > a:focus:after{margin-top:11px}
		.num10 .tabDepth1  > .vm.on > a:after, .num10 .tabDepth1 > li.vm > a:hover:after, .num10 .tabDepth1 > li.vm > a:focus:after{margin-top:19px}
		
		/* 탭 11개 */
		.num11 .tabDepth1 > li{width:9%;height:49px}
		.num11 .tabDepth1 > li:first-child{width:10%}
		.num11 .tabDepth1 > li a{height:33px;padding:8px 0;font-size:1.09em;line-height:1.2}
		.num11 .tabDepth1 > li.vm a{height:17px;padding:16px 0}
		.num11 .tabDepth1  > li.on > a:after, .num11 .tabDepth1 > li > a:hover:after, .num11 .tabDepth1 > li > a:focus:after{margin-top:11px}
		.num11 .tabDepth1  > .vm.on > a:after, .num11 .tabDepth1 > li.vm > a:hover:after, .num11 .tabDepth1 > li.vm > a:focus:after{margin-top:19px}

		/* tab input */
		.depthInput{padding:9px 9px 8px;overflow:hidden;background:#fbfbfb;border-bottom:1px solid #b5b5b5}
		.depthInput ul{float:left;width:657px;margin-top:4px}
		.depthInput li{float:left;margin-right:16px;padding-bottom:5px}
		.depthInput .button{float:right}
		.depthInput .icr .icr__text{color:#666;font-weight:normal;line-height:1.5}
		.depthInput .icr .icr__checkbox{top:-2px}
		.depthInput .icr.enabled:hover .icr__checkbox, 
		.depthInput .icr.checked .icr__checkbox{background-position:0 -179px}
		.depthInput .icr.enabled:hover .icr__text,
		.depthInput .icr.checked .icr__text{color:#d50008;font-weight:bold}
		
		/* 이미지 tab */
		.contentTab01{margin-bottom:30px;padding-bottom:6px;overflow:hidden}
		.contentTab01.mb0{margin-bottom:0}
		.contentTab01.mb0 + .topBehavior02{padding-top:3px}
		.topBehavior01{height:25px;padding:10px 10px;overflow:hidden;border-bottom:1px solid #eaeaea}
		.contentTab01 li{position:relative;float:left;border-top:1px solid #cbcbcb;border-bottom:1px solid #8a1818}
		.contentTab01 li.on{border-top:1px solid #f20d0b}
		.contentTab01 li a{display:block;border-right:1px solid #cbcbcb}
		.contentTab01 li.on a{border-right:1px solid #cbcbcb}
		.contentTab01 li:first-child a{border-left:1px solid #cbcbcb;border-right:1px solid #cbcbcb}
		.contentTab01 li:first-child.on a{border-left:1px solid #f6100e;border-right:1px solid #f6100e}
		.contentTab01 li:last-child.on a{border-right:1px solid #f6100e}
		.contentTab01 > li.on > a:after{display:block;content:'';position:absolute;bottom:-8px;left:50%;width:11px;height:6px;margin-top:1px;margin-left:-5px;background:url('/images/portal/bg/bgTab01On.png') no-repeat 0 0}
		/* 이미지 tab depth2 */
		.tabDepth2{overflow:hidden}
		.tabDepth2 .contentTab01{margin-bottom:0}
		.tabDepth2 .depth2{overflow:hidden;margin-top:-6px;padding:13px 29px;border-bottom:1px solid #b5b5b5;background:#f7f7f7}
		.tabDepth2 .depth2 li{float:left;margin-right:10px;padding-right:11px;line-height:1.95;background:url('/images/portal/bg/bgLine02.png') no-repeat right 6px}
		.tabDepth2 .depth2 li:last-child { background:none;}
		.tabDepth2 .depth2 li a{color:#666}
		.tabDepth2 .depth2 li.on a,
		.tabDepth2 .depth2 li a:hover,
		.tabDepth2 .depth2 li a:focus{color:#8a1818;font-family:"NGBold"}
	/* 문서목록 */
	
	p.totalCnt{float:left; margin-bottom:8px; font-size:1.16em; color:#777;}
	p.totalCnt.hasFunction{padding-top:16px;background-position:0 7px}
	p.totalCnt em{display:inline-block;padding-left:3px;color:#333}
	p.totalCnt em strong{color:#4f71e8; font-weight:normal; font-family:'NGBold';}
	p.totalCnt.right{float:right;margin-top:-25px}
	p.totalCnt span{display:inline-block;padding-right:3px;color:#a33227;font-family:'NGBold'}
	.searchBox + p.totalCnt{position:relative;top:16px}
	.searchTop{width:100%}
	ul.documentList01{clear:both;border-top:2px solid #222}
	ul.documentList01 > li{position:relative;overflow:hidden;padding:21px 20px 22px;border-bottom:1px solid #d3d0d8}
	/* ul.documentList01 li .img{float:left;width:125px;height:95px;padding-top:5px;margin-right:20px}
	ul.documentList01 li .img img {width:125px;height:95px;} */
	ul.documentList01 li > img{float:left;width:125px;height:95px;padding-top:5px;margin-right:20px}
	ul.documentList01 li li{display:inline;margin-left:7px;padding-left:12px;color:#767676;vertical-align:top; background:url('/images/portal/bg/bgLine04.gif') no-repeat 0 3px}
	ul.documentList01 li li.first{margin-left:0;padding-left:0;background:none}
	ul.documentList01 li li strong{color:#666;font-weight:normal}
	ul.documentList01 li li.origin{color:#666/* font-weight:bold */}
	ul.documentList01 h4{clear:right;margin:3px 0 13px;font-size:1.333em;}
	ul.documentList01 h4 a {font-family:'NGBold';color:#333;}
	ul.documentList01 h4 em{color:#5371bd;font-weight:bold}
	ul.documentList01 h4 img{margin-left:10px;vertical-align:middle}
	ul.documentList01 dl{margin-bottom:12px;line-height:13px;overflow:hidden}
	ul.documentList01 dt{float:left;margin-right:5px;color:#767676}
	ul.documentList01 dd{float:left;margin-right:10px}
	ul.documentList01 dd a img{vertical-align:top}
	ul.documentList01 p{margin-bottom:3px;color:#333;line-height:1.5}
	ul.documentList01 p a{color:#555}
	ul.documentList01 p.noResult{height:auto;border:none}
	ul.documentList01 li .bookInfo{margin-top:10px}
	ul.documentList01 li .bookInfo li{font-size:0.92em}
	ul.documentList01 li .bookInfo li strong{margin-right:7px; padding-right:9px; font-weight:normal; background:url("/images/portal/bg/bgLine04.gif") no-repeat right 2px;}

	ul.documentList02{clear:both;margin-bottom:49px;padding-top:7px;border-top:1px solid #222}
	ul.documentList02 > li{position:relative;overflow:hidden;padding:23px 10px 0}
	ul.documentList02 > li.first{padding-top:18px}
	ul.documentList02 li > img{float:left;width:115px;height:85px;padding-top:5px;margin-right:20px}
	ul.documentList02 li li{display:inline-block;margin-left:7px;padding-left:7px;color:#767676;vertical-align:top;background:url('/images/portal/bg/bgLine.png') no-repeat 0 2px}
	ul.documentList02 li li.liFirst{margin-left:0;padding-left:0;background:none}
	ul.documentList02 li li.origin{color:#666/* font-weight:bold */}
	ul.documentList02 h5{clear:right;margin:3px 0 10px;font-size:1.17em;font-weight:bold}
	ul.documentList02 h5 a{color:#444;line-height:1.3;vertical-align:top}
	ul.documentList02 h5 a:hover,
	ul.documentList02 h5 a:active,
	ul.documentList02 h5 a:focus{text-decoration:underline}
	ul.documentList02 h5 img{margin-left:10px;vertical-align:middle}
	ul.documentList02 dl{margin-bottom:12px;line-height:13px;overflow:hidden}
	ul.documentList02 dt{float:left;margin-right:5px;color:#767676}
	ul.documentList02 dd{float:left;margin-right:10px}
	ul.documentList02 dd a img{vertical-align:top}
	ul.documentList02 p{margin-bottom:6px;color:#666;line-height:1.5}
	
	/* 교육 리스트 */
	.documentList03{clear:both;padding:40px 0 10px 0; border-top: 2px solid #1c1c1c;border-bottom:1px solid #d3d0d8;}
	.documentList03 ul {margin-left:-25px; overflow:hidden; }
	.documentList03 li{position:relative;float:left;width:223px;height:163px;margin:0 0 20px 25px;text-align:center;border:1px solid #ccc}
	.documentList03 li dt{margin:30px 14px 13px;height:50px;color:#333;font-size:1.333em;font-weight:bold;letter-spacing:-0.05em;line-height:1.5;overflow:hidden;}
	.documentList03 li dt span{display:block;position:absolute;top:-1px;left:-1px;height:22px;padding:0 10px;color:#fff;font-size:0.79em;font-weight:normal;line-height:1.8;background:#888}
	.documentList03 li dt span.receipt{background-color:#4da011}/* 접수중 */
	.documentList03 li dt span.deadline{background-color:#888}/* 마감 */
	.documentList03 li dd.date{display:block;padding:0 25px 2px;color:#666;line-height:1.5}
	.documentList03 li dd.place{display:block;padding:0 25px 10px;color:#767676;line-height:1.5}
	.documentList03 li dd.num{display:block;height:22px;color:#ff5400;font-weight:bold;letter-spacing:-0.05em;line-height:22px;background-color:#fff3ed}

	/* 문서상단 */
	div.infoHead01{ overflow:hidden; border-top:2px solid #1c1c1c;}
	div.infoHead01.hasPrev{margin-top:25px}
	div.infoHead01 h4{margin-top:0;padding:15px 0;color:#333;font-size:1.66em;font-family:'NGBold';border-bottom:1px dashed #d3d0d8}
	div.infoHead01 dl{line-height:45px; border-bottom:1px solid #d3d0d8;}
	div.infoHead01 dt{display:inline-block; margin-right:8px;color:#808080}
	div.infoHead01 dd{display:inline-block;color:#666;padding-right:9px;margin-right:5px; background:url('/images/portal/bg/bgLine02.png') no-repeat right center}
	div.infoHead01 dd.last{margin-right:0;padding-right:0;background:none}
	/* 교육 상단 정보 */
	div.infoHead01 dl.infoContent{float:none;padding:2px 16px 1px 16px}
	div.infoHead01 dl.infoContent dt{float:left;min-width:75px;margin:0;padding-left:14px;color:#414141;font-weight:bold;line-height:1.95;background:url('/images/portal/bullet/bulCheck01.png') no-repeat 0 2px}
	div.infoHead01 dl.infoContent dd{float:left;width:600px;margin:0;padding:0;color:#414141;line-height:1.95;background:none}
	div.infoHead01 dl.infoContent dd strong{color:#ff5400}
	div.infoHead01 dl.infoContent dd em{font-weight:bold}
	div.infoHead01 ul{float:right;margin-top:9px}
	div.infoHead01 li{float:left;margin-right:10px;color:#666;padding-right:9px;background:url('/images/portal/bg/bgLine02.png') no-repeat right 4px}
	div.infoHead01 li.last{margin-right:0;padding-right:0;background:none}
	div.infoHead01 li.letter span{color:#444;font-weight:bold}
	div.infoHead01 li.letter strong{font-weight:normal}
	/*
	div.infoHead01 li.print,
	div.infoHead01 li.scrap{margin:1px 8px 0 0;padding-right:8px;border-right:1px dotted #c9c9c9}
	div.infoHead01 li.print > button,
	div.infoHead01 li.scrap > a{display:block;height:13px;padding-left:15px;color:#a6a6a6;font-family:NGNormal;font-size:.92em;background:url('/images/common/bg/bgFunction.gif') no-repeat -32px 1px;line-height:13px}
	div.infoHead01 li.scrap > a{background-position:-32px -20px}
	div.infoHead01 li.snsTwitter{margin-left:0}
	div.infoHead01 li.snsFacebook,
	div.infoHead01 li.snsMe2day,
	div.infoHead01 li.snsGoogle,
	div.infoHead01 li.snsKakaotalk,
	div.infoHead01 li.snsKakaostory{margin-left:4px}
	div.infoHead01 li.snsTwitter a,
	div.infoHead01 li.snsFacebook a,
	div.infoHead01 li.snsMe2day a,
	div.infoHead01 li.snsGoogle a,
	div.infoHead01 li.snsKakaotalk a,
	div.infoHead01 li.snsKakaostory a{display:block;position:relative;width:15px;height:15px;overflow:hidden}
	div.infoHead01 li a span{position:absolute;top:0;left:0;width:100%;height:100%;background:url('/images/common/bg/bgFunction.gif') no-repeat 0 0}
	div.infoHead01 li.snsFacebook a span{background-position:-16px 0}
	div.infoHead01 li.snsMe2day a span{background-position:0 -16px}
	div.infoHead01 li.snsGoogle a span{background-position:-16px -16px}
	div.infoHead01 li.snsKakaotalk a span{background-position:0 -32px}
	div.infoHead01 li.snsKakaostory a span{background-position:-16px -32px}
	*/
	div.infoHead02{/*height:60px;*/ padding:0 0 20px;border-bottom:1px solid #eaeaea;overflow:hidden}
	div.infoHead02.hasPrev{margin-top:25px}
	div.infoHead02 h4{float:left;margin-top:10px;color:#333;font-family:'NGBold';font-size:1.7em;line-height:1.1}
	div.infoHead02 h4 a{color:#333}
	div.infoHead02 ul{float:right;margin-top:14px}
	div.infoHead02 li{float:left}
	div.infoHead02 li.print,
	div.infoHead02 li.scrap{margin:1px 8px 0 0;padding-right:8px;border-right:1px dotted #c9c9c9}
	div.infoHead02 li.print > button,
	div.infoHead02 li.scrap > a{display:block;height:13px;padding-left:15px;color:#a6a6a6;font-family:NGNormal;font-size:.92em;background:url('/images/common/bg/bgFunction.gif') no-repeat -32px 1px;line-height:13px}
	div.infoHead02 li.scrap > a{background-position:-32px -20px}
	div.infoHead02 li.snsTwitter{margin-left:0}
	div.infoHead02 li.snsFacebook,
	div.infoHead02 li.snsMe2day,
	div.infoHead02 li.snsGoogle,
	div.infoHead02 li.snsKakaotalk,
	div.infoHead02 li.snsKakaostory{margin-left:4px}
	div.infoHead02 li.snsTwitter a,
	div.infoHead02 li.snsFacebook a,
	div.infoHead02 li.snsMe2day a,
	div.infoHead02 li.snsGoogle a,
	div.infoHead02 li.snsKakaotalk a,
	div.infoHead02 li.snsKakaostory a{display:block;position:relative;width:15px;height:15px;overflow:hidden}
	div.infoHead02 li a span{position:absolute;top:0;left:0;width:100%;height:100%;background:url('/images/common/bg/bgFunction.gif') no-repeat 0 0}
	div.infoHead02 li.snsFacebook a span{background-position:-16px 0}
	div.infoHead02 li.snsMe2day a span{background-position:0 -16px}
	div.infoHead02 li.snsGoogle a span{background-position:-16px -16px}
	div.infoHead02 li.snsKakaotalk a span{background-position:0 -32px}
	div.infoHead02 li.snsKakaostory a span{background-position:-16px -32px}
	
	div.infoHead03{margin-bottom:15px}
	div.infoHead03:after{display:block;content:"";clear:both}
	div.infoHead03 h4{float:left;color:#333;font-family:'NGBold';font-size:1.5em;line-height:1.1}
	div.infoHead03 .selectCom{float:right}
	div.infoHead03 .selectCom .jq_sel ul{height:200px;overflow:auto}
	
	/* 설명글 */
	.stateInfo{margin-top:36px;padding:17px 22px 12px;border:1px solid #ddd}
	.stateInfo dt{padding-left:17px;color:#666;font-size:1.2em;font-weight:bold;background:url('/images/portal/bullet/bulSquare01.jpg') no-repeat 0 50%;line-height:1;overflow:hidden;letter-spacing:-0.05em}
	.stateInfo dt span{display:inline-block;padding-left:5px;font-size:0.86em;font-weight:normal}
	.stateInfo dd{padding-top:13px;letter-spacing:-0.05em}
	.stateInfo dd strong{float:left;width:63px;color:#666;font-weight:normal;line-height:1.8}
	.stateInfo dd span{float:left;color:#666;line-height:1.8}
	.stateInfo dd li{}
	.stateInfo dd li:after{display:block;content:"";clear:both}

	/* 문서 입력 */
	table.boardInput01{width:100%;margin:-20px 0 15px}
	table.boardInput01 th{padding-left:20px;border-bottom:1px solid #d3d0d8;color:#666;text-align:left}
	table.boardInput01 td{padding:13px 0;border-bottom:1px solid #d3d0d8}
	table.boardInput01 td label{float:left;margin-right:10px;line-height:13px}
	table.boardInput01 td label > *{float:left;vertical-align:middle}
	table.boardInput01 td label > input{width:13px;height:13px;margin:0 4px 0 0;padding:0}

	p.inputHeadNote01{margin:0 5px -5px 0;color:#767676;font-size:.92em;text-align:right}
	p.inputHeadNote01 *{vertical-align:middle}
	p.inputHeadNote01 + p{margin-top:10px}
	p.inputHeadNote02{float:left;margin-top:20px;color:#767676;font-size:.92em}
	p.inputHeadNote02 + p{float:right}

	table.boardInput02{width:100%;margin-bottom:15px}
	table.boardInput02.hasTop{border-top:1px solid #eaeaea}
	table.boardInput02 th{padding-left:12px;border-bottom:1px solid #d3d0d8;color:#666;text-align:left}
	table.boardInput02 th span{position:relative;display:block;padding-left:8px}
	table.boardInput02 th span img{position:absolute;top:6px;left:0}
	table.boardInput02 td{padding:13px 0;border-bottom:1px solid #d3d0d8}
	table.boardInput02 td label{float:left;margin-right:10px;line-height:13px}
	table.boardInput02 td label.onlyType{margin-top:3px;margin-bottom:3px}
	table.boardInput02 td label.onlyType + span{margin-top:3px}
	table.boardInput02 td label.hasPrev{float:none;display:inline-block;margin-left:10px}
	table.boardInput02 td label > *{float:left;vertical-align:middle}
	table.boardInput02 td label > input{width:13px;height:13px;margin:0 4px 0 0;padding:0}
	table.boardInput02 td span{display:inline-block;margin-left:10px;color:#666;font-size:.92em;vertical-align:middle}
	table.boardInput02 td span.icr{font-size:1em}
	table.boardInput02 td span .button a, table.boardInput02 td span .button button{font-size:1.2em}
	table.boardInput02 td p{padding-top:5px;font-size:.92em}
	table.boardInput02 td p span{font-size:1em}
	table.boardInput02 td span.line01{margin:-6px 0 -6px 10px}
	table.boardInput02 td span.block{clear:both;display:block;margin:0;padding-top:10px}
	table.boardInput02 td span.button{margin-left:4px}
	table.boardInput02 td.more{vertical-align:bottom}
	table.boardInput02 td.more button{width:22px;height:22px;border:1px solid #ddd}
	table.boardInput02 td.interest{padding-bottom:6px;overflow:hidden}
	table.boardInput02 td.interest label{width:100px;padding-bottom:7px;font-size:.92em}
	table.boardInput02 td.path{padding-bottom:9px}
	table.boardInput02 td.path label{width:100px;margin-bottom:17px;padding-top:5px;font-size:.92em}
	table.boardInput02 td.path label.etc{width:auto;margin-bottom:0;padding-bottom:10px}
	table.boardInput02 + h4.title03.hasNext{margin-top:40px}
	
	/* 데이터 테이블 */
	table.data01{width:100%;margin-bottom:25px;border-top:2px solid #6b6b6b}
	table.data01 thead th{padding:10px;border-bottom:1px solid #eaeaea;border-left:1px solid #eaeaea;color:#333;background-color:#f8f8f8}
	table.data01 thead th.first,
	table.data01 tbody td.first{border-left:0}
	table.data01 tbody th{padding:10px;border-bottom:1px solid #eaeaea;font-family:NGNormal, "돋움", dotum}
	table.data01 tbody td{padding:10px;border-bottom:1px solid #eaeaea;border-left:1px solid #eaeaea;text-align:center}
	table.data01 tbody td span{display:block;padding-left:15px;color:#163be5;text-align:left;word-break:break-all}
	table.data01 tbody td a{color:#163be5}
	table.data01 tbody td a:hover,
	table.data01 tbody td a:active,
	table.data01 tbody td a:focus{text-decoration:underline}
	table.data01 tbody td.exp{padding-left:25px;text-align:left}


	/* button */
	/* reset */
	button, input[type='reset'], input[type='button'], input[type='submit']{line-height:normal !important;font-family:dotum}
	.button, .button a, .button button, .button input{display:inline-block;position:relative;margin:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;white-space:nowrap;overflow:visible;vertical-align:middle}
	.button a, .button button, .button input{vertical-align:top;cursor:pointer;background:none;border:none;overflow:hidden}
	.button button{margin-top:1px;padding-bottom:1px}
	/* 버튼 컬러 white */
	.button.whiteS{height:22px;color:#767676;background:#fff;border:1px solid #bbb}
	.button.whiteS a, .button.whiteS button, .button.whiteS input{width:auto;padding:0 10px;height:22px;color:#767676;font-size:1em;overflow: visible;line-height:2}
	.button.white{height:24px;color:#767676;background:#fff;border:1px solid #999}
	.button.white a, .button.white button, .button.white input{width:auto;height:24px;padding:0 12px;color:#767676;font-size:1em;overflow: visible;line-height:2}
	.button.whiteB{height:27px;color:#666;background:#fff;border:1px solid #666}/* 흰배경에 회색보더 */
	.button.whiteB a, .button.whiteB button, .button.whiteB input{width:auto;height:27px;padding:0 18px;color:#666;font-size:1em;font-weight:bold;overflow: visible;line-height:2.3}
	.button.whiteO{height:27px;color:#ff5400;background:#fff;border:1px solid #ff5400}/* 흰배경에 주황보더 */
	.button.whiteO a, .button.whiteB button, .button.whiteB input{width:auto;height:27px;padding:0 18px;color:#ff5400;font-size:1em;font-weight:bold;overflow: visible;line-height:2.3}
	
	/* 버튼 컬러 gray */
	.button.grayS{height:22px;color:#fff;background:#777;border:1px solid #666}
	.button.grayS a, .button.grayS button, .button.grayS input{width:auto;height:22px;padding:0 10px;color:#fff;font-size:1em;overflow: visible;line-height:1.8}
	.button.gray{padding:5px 6px;height:25px;background:#3f3f3f;}
	.button.gray a, .button.gray button, .button.gray input{width:auto;height:24px;padding:0 12px;color:#fff;font-size:1em;overflow: visible;line-height:2.1}
	.button.grayB{height:27px;font-weight:bold;color:#fff;vertical-align:top;background:#444;border:1px solid #000}
	.button.grayB a, .button.grayB button, .button.grayB input{width:auto;height:27px;padding:0 18px;color:#fff;font-size:1em;font-weight:bold;overflow: visible;line-height:2.3}
	.button.lightGrayB{height:27px;font-weight:bold;color:#fff;vertical-align:top;background:#666;border:1px solid #444}
	.button.lightGrayB a, .button.lightGrayB button, .button.lightGrayB input{width:auto;height:27px;padding:0 18px;color:#fff;font-size:1em;font-weight:bold;overflow: visible;line-height:2.3}
	
	/* 큰 버튼 */
	.greenBB{height:37px;color:#fff;background:#65a826 url('/images/portal/bg/bgGreenBtn.png') no-repeat 0 0;border:1px solid #549b15}
	.greenBB a, .greenBB button, .greenBB input{width:auto;height:37px;padding:0 49px;color:#fff;font-family:'NGBold';font-size:1.34em;text-shadow:0 1px rgba(0,0,0,.3);overflow: visible;line-height:2.2}
	.greenBB button{margin-top:-3px;height:40px}
	.whiteBB{height:37px;color:#fff;background:#fff;border:1px solid #777}
	.whiteBB a, .whiteBB button, .whiteBB input{width:auto;height:37px;padding:0 49px;color:#666;font-family:'NGBold';font-size:1.34em;text-shadow:0 1px rgba(0,0,0,.3);overflow: visible;line-height:2.2}
	.whiteBB button{margin-top:-3px;height:40px}
	.grayBB{height:37px;color:#fff;background:#666;border:1px solid #555}
	.grayBB a, .grayBB button, .grayBB input{width:auto;height:37px;padding:0 49px;color:#fff;font-family:'NGBold';font-size:1.34em;text-shadow:0 1px rgba(0,0,0,.3);overflow: visible;line-height:2.2}
	.grayBB button{margin-top:-3px;height:40px}
	.lightGrayBB{display:inline-block;height:37px;color:#fff;background:#949494;border:1px solid #777}
	.lightGrayBB a, .lightGrayBB button, .lightGrayBB input, .lightGrayBB span{display:inline-block;width:auto;height:37px;padding:0 49px;color:#fff;font-family:'NGBold';font-size:1.34em;text-shadow:0 1px rgba(0,0,0,.3);overflow: visible;line-height:2.2}
	/* 버튼 컬러 기타 */
	.btnSingleRight{clear:both;float:right;margin-bottom:40px}
	.button.orange{height:14px;background:#ff8400;border:1px solid #f26507}
	.button.orange a, .button.orange button, .button.orange input{width:auto;height:12px;padding:0 12px;color:#666;font-size:1em;overflow: visible;line-height:1.8}
	.button.orangeB{height:22px;background:#ff8400;border:1px solid #f26507}
	.button.orangeB a, .button.orangeB button, .button.orangeB input{width:auto;height:22px;padding:0 12px;color:#fff;font-size:1em;overflow: visible;line-height:2}
	.button.red{height:20px;color:#f5463e;background:none;border:1px solid #f5463e}
	.button.red a{width:auto;height:20px;padding:0 10px;color:#f5463e;font-size:0.92em;overflow: visible;line-height:1.9}
	.button.blue{width:auto;height:27px;font-weight:bold;color:#fff;vertical-align:top;background:#4b6de6;border:1px solid #2f4eb9}
	.button.blue a, .button.blue button, .button.blue input{height:27px;padding:0 18px;color:#fff;font-size:1em;font-weight:bold;overflow: visible;line-height:2.2}
	.button.black{height:29px;font-weight:bold;color:#fff;vertical-align:top;background:#0c0c0c}
	.button.black a{width:auto;height:29px;padding:0 18px;overflow: visible;color:#fff;line-height:2.4}
	.button.ebook{height:18px;padding:0 14px 0 12px;color:#666;vertical-align:top;border:1px solid #bbb}
	.button.ebook a{width:auto;height:18px;padding:0 12px 0 10px;color:#666;overflow: visible;font-size:0.92em;line-height:1.9;padding-left:21px;background:url('/images/portal/button/bgEbook.png') no-repeat 0 3px}
	.button.down{color:#fff;}
	.button.down a{padding:0 15px; color:#fff; background:#8a1818; height:35px; line-height:35px; }
	.button.general{padding:0 30px; color:#fff; background:#8a1818; height:46px; line-height:46px; border-radius:22px; font-size:1.333em; font-family:"NGBold"; }
	.button.general.gray{background:#666;}
	
	/* 비밀번호 찾기 버튼 */
	.button.blueL{display:inline-block;height:52px;color:#fff;background:#4f71e8}
	.button.blueL a, 
	.button.blueL button,  
	.button.blueL input, 
	.button.blueL span{display:inline-block;width:197px;height:52px;color:#fff;text-align:center;font-family:'NGBold';font-size:1.67em;text-shadow:0 1px rgba(0,0,0,.3);overflow: visible;line-height:2.6}
	
	.button.grayL{display:inline-block;height:52px;color:#fff;background:#9b9b9b}
	.button.grayL a, 
	.button.grayL button,  
	.button.grayL input, 
	.button.grayL span{display:inline-block;width:197px;height:52px;color:#fff;text-align:center;font-family:'NGBold';font-size:1.67em;text-shadow:0 1px rgba(0,0,0,.3);overflow: visible;line-height:2.6}
	
	/* 현황다운로드 버튼 */
	.btnDoc{text-align:right;margin:-32px 0 7px}
	.button.doc{height:25px;color:#666;text-align:left;background:#fff;border:1px solid #999}
	/* .button.doc a, .button.doc button, .button.doc input{width:auto;height:25px;padding:0 18px 0 34px;color:#767676;overflow: visible;font-size:1em;font-weight:bold;line-height:2.2;background:url('/images/portal/icon/iconEX.png') no-repeat 11px 4px} */
	.button.doc a, .button.doc button, .button.doc input{width:auto;height:33px;padding:0 18px 0 34px;color:#767676;overflow: visible;font-size:1em;font-weight:bold;line-height:2.9;background:url('/images/portal/icon/iconEX.png') no-repeat 11px 9px}
	.button.doc button{padding-top:5px;height:22px}
	
	/* 음원다운로드 */
	.button.download{height:27px;color:#666;text-align:left;background:#fff;border:1px solid #999}
	.button.download a, 
	.button.download button, 
	.button.download input{width:auto;height:27px;padding:0 13px 0 37px;color:#767676;overflow: visible;font-size:1em;font-weight:bold;line-height:2.2;background:url('/images/portal/icon/iconDownload.png') no-repeat 13px 6px}
	.button.download button{height:24px}
	
	/* 댓글 달기 버튼 */
	.button.commentW{height:21px;color:#666;text-align:left;background:#f1f1f1;border:1px solid #555}
	.button.commentW a, .button.commentW button, .button.commentW input{width:auto;height:25px;padding:0 24px 0 9px;color:#767676;overflow: visible;font-size:0.92em;font-weight:bold;line-height:2.2;background:url('/images/portal/icon/iconCommentW.png') no-repeat 100% 7px}
	.button.commentW button{height:21px}
	.button.commentC{height:21px;color:#666;text-align:left;background:#f1f1f1;border:1px solid #555}
	.button.commentC a, .button.commentC button, .button.commentC input{width:auto;height:25px;padding:0 24px 0 9px;color:#767676;overflow:visible;font-size:0.92em;font-weight:bold;line-height:2.2;background:url('/images/portal/icon/iconCommentC.png') no-repeat 100% 7px}
	.button.commentC button{height:21px}
	
	/* 교육접수현황 버튼 */
	.button.approval{height:23px;color:#666;text-align:left;background:#fff;border:1px solid #444}
	.button.approval a{width:auto;height:23px;padding:0 18px 0 18px;color:#666;overflow: visible;font-size:1em;font-weight:bold;line-height:2}
	
	/* 할인티켓출력 */
	.button.print{margin-top:-2px}
	.button.print button{ display:inline-block; padding:5px 12px; color:#fff; border-radius:13px; background:#a22112; }
	.button.event{width:199px;height:37px;font-size:1.17em;font-weight:bold;color:#fff;vertical-align:top;background:#ff1818 url('/images/portal/bg/bgBtnEvent.png') no-repeat 0 0;border:1px solid #d90a0a}
	.button.event, .button.event a, .button.event button, .button.event input{width:199px;height:37px;color:#fff;font-weight:bold;line-height:2.3;font-family:'NGBold';text-align:center}
	
	/* 버튼 목록 */
	.btnList{text-align:right}
	.btnList a{display:inline-block;width:112px;height:46px;background:url('/images/portal/button/btnList.png') no-repeat 0 0}
	.btnList a span{position:absolute;top:-5000em}
	/* 게시판 버튼 오른쪽 정렬 */
	.btnBoxRight{margin:15px 0 0 0;text-align:right}
	
	/* 툴팁 버튼 */
	.btnTootip{display:inline-block;width:12px;height:14px;margin:0 4px 0 3px;text-indent:-5000em;background:url('/images/portal/button/btnTooltip01.jpg') no-repeat 0 1px}

	div.buttonBox01{clear:both;text-align:right;overflow:hidden}
	div.buttonBox01.center{text-align:center}
	div.buttonBox01 p{float:left;margin:6px 0 0 20px;padding-left:12px;font-size:.92em;background:url('/images/common/bg/bgExMark01.gif') no-repeat 0 50%}
	div.buttonBox01 p.note01{margin:0;line-height:22px}
	div.buttonBox01 span.button{vertical-align:top}
	div.buttonBox01 span.afterText{float:left;margin:3px 0 0 5px}
	div.buttonBox01 .fr{float:right}

	/* table style*/
		/* boardList01 */
		table.boardList01{clear:both;width:100%;/*margin-bottom:40px;*/border-top:2px solid #272a31}
		/* table.boardList01.hasNext{margin-bottom:15px} */
		table.boardList01 thead th{height:39px;border-bottom:1px solid #272a31;font-size:1.05em; font-family:'NGBold'; color:#000;}
		table.boardList01 thead th.first, table.boardList01 thead th:first-child{border-left:0}
		table.boardList01 thead th.last, table.boardList01 thead th:last-child{border-right:0;}
		table.boardList01 .notice th a, table.boardList01 .notice td a { }
		/* 공지 아이콘 */
		.icoNotice{display:inline-block;height:20px;padding:0 7px;color:#fff;font-weight:bold;line-height:1.7;background:#8faad2}
		.uciBtn{display:inline-block;margin-left:3px;vertical-align:middle}
		.uciBtn img{width:25px;height:14px}
		ul.patternList01 .uciBtn{margin-top:3px}
		table.boardList01 td .uciBtn img{width:22px;height:12px;vertical-align:middle}
		table.boardList01 .notice .subject{font-weight:bold}
		table.boardList01 .subject img{display:inline-block;margin-top:-1px;vertical-align:middle}
		table.boardList01 .subject .uciBtn img{margin-top:0}
		table.boardList01 td{padding:13px 0;border-bottom:1px solid #d3d0d8;text-align:center;font-size:1.05em; line-height:1.5}
		table.boardList01 td.location,
		table.boardList01 td.subject{padding-left:10px;color:#444;text-align:left}
		table.boardList01 td.subject a{color:#333;vertical-align:middle}
		table.boardList01 td.subject a:hover, table.boardList01 td.subject a:focus, table.boardList01 td.subject a:active { color:#9b1101; text-decoration:none; border-bottom: 1px solid #9b1101;}
		table.boardList01 td.subject a.link{color:#333}
		table.boardList01 td.point{padding-right:20px;text-align:right}
		table.boardList01 td span.point{color:#53d7bd;font-family:NGBold, '돋움', Dotum}
		table.boardList01 td span.comment{color:#53d7bd}
		table.boardList01 tr.on td{font-family:NGBold, '돋움', Dotum;background-color:#f8f8f8}
		table.boardList01 tr.on span.starPoint span{background-color:#f8f8f8}
		table.boardList01 tfoot th{padding-left:20px;color:#333;border-left:none !important;border-right:none !important;background-color:#fdfdfd;background-image:none !important;text-align:left}
		table.boardList01 tfoot td{padding-right:20px;color:#333;background-color:#fdfdfd;font-family:NGBold, '돋움', Dotum;text-align:right}
		
		/* checkbox */
		table.boardList01 .sort .icr__checkbox{margin:0}
		table.boardList01 .sort .icr__text{position:absolute;visibility:hidden}
		
		/* tableFunction */
		div.tableFunction{margin:-1px 0 0;padding:6px 13px;border-top:1px solid #cecece;border-bottom:1px solid #cecece;background-color:#ececec}
		div.tableFunction + .buttonBox01{margin-top:10px}
		/* boardList02 */
		table.boardInput02{width:100%;margin-bottom:15px}
		table.boardInput02.hasTop{border-top:1px solid #eaeaea}
		table.boardInput02 th{padding-left:12px;border-bottom:1px solid #eaeaea;color:#444;text-align:left}
		table.boardInput02 th span{position:relative;display:block;padding-left:8px}
		table.boardInput02 th span img{position:absolute;top:6px;left:0}
		table.boardInput02 td{padding:13px 0;color:#666;border-bottom:1px solid #eaeaea}
		table.boardInput02 td label{float:left;margin-right:10px;line-height:13px}
		table.boardInput02 td label.onlyType{margin-top:3px;margin-bottom:3px}
		table.boardInput02 td label.onlyType + span{margin-top:3px}
		table.boardInput02 td label.hasPrev{float:none;display:inline-block;margin-left:10px}
		table.boardInput02 td label > *{float:left;vertical-align:middle}
		table.boardInput02 td label > input{width:13px;height:13px;margin:0 4px 0 0;padding:0}
		table.boardInput02 td span{display:inline-block;margin-left:5px;vertical-align:middle}
		table.boardInput02 td span.icr{margin-left:0px}
		table.boardInput02 td span.icr span{margin:0 10px 0 0;font-weight:normal}
		table.boardInput02 td span.icr + .inputText{margin:0 -3px 0 -7px}
		table.boardInput02 td span.icr + .inputText + span{margin-right:7px}
		table.boardInput02 td span.icr span.icr__text{margin-left:-7px}
		table.boardInput02 td span.line01{margin:-6px 0 -6px 10px}
		table.boardInput02 td span.block{clear:both;display:block;margin:0;padding-top:10px}
		table.boardInput02 td span.button{margin-left:4px}
		table.boardInput02 td div.fakefile span.button{font-size:1em}
		table.boardInput02 td.more{vertical-align:bottom}
		table.boardInput02 td.more button{width:22px;height:22px;border:1px solid #ddd}
		table.boardInput02 td.interest{padding:7px 0}
		table.boardInput02 td.path{padding-bottom:9px}
		table.boardInput02 td.path label{width:100px;margin-bottom:17px;padding-top:5px;font-size:.92em}
		table.boardInput02 td.path label.etc{width:auto;margin-bottom:0;padding-bottom:10px}
		table.boardInput02 + h4.title03.hasNext{margin-top:40px}
		table.boardInput02 strong.tit{color:#163be5;font-weight:normal}
	/* 문서 본문 */
	.notice-view { margin:40px 0; }
	.notice-view * { font-size:14px; }

	table.boardView01{width:100%;margin-bottom:15px;color:#666}
	table.boardView01 thead th{color:#767676;font-weight:bold;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;background:#fafafa}
	table.boardView01 thead td{padding:15px 0;color:#555;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;background:#fafafa}
	table.boardView01 thead + tbody tr.first th,
	table.boardView01 thead + tbody tr.first td{padding-top:30px}
	table.boardView01 td img{display:block;max-width:683px;margin:0 auto}
	table.boardView01 td.file{padding-top:8px;background-color:#fbfbfb}
	table.boardView01 td.file a{display:inline-block;height:13px;margin:0 0 8px 22px;padding-left:15px;color:#666;background:url('/images/common/bg/bgFile.gif') no-repeat 0 50%;line-height:13px}
	table.boardView01 td.content{padding:0 20px 20px;border-bottom:1px solid #eaeaea}
	table.boardView01 td.content div.answer{clear:both;margin:20px -20px 0;padding:20px;border:1px solid #f0f0f0;background-color:#fafafa}
	table.boardView01 td.content div.answer h4{float:left;margin-bottom:10px;color:#333;font-size:1.4em;font-family:'NGBold';line-height:1;vertical-align:top}
	table.boardView01 td.content div.answer .date{float:right;padding-left:5px;color:#767676;font-size:0.92em;line-height:2}
	table.boardView01 td.content div.answer .tit{height:26px;overflow:hidden}
	table.boardView01 td a.file{display:inline-block;height:13px;margin-right:20px;padding-left:15px;color:#666;background:url('/images/common/bg/bgFile.gif') no-repeat 0 50%;line-height:13px}
	table.boardView01 td span.secret{display:inline-block;height:13px;margin-right:20px;padding-left:15px;color:#666;background:url('/images/common/icon/icoSecret.gif') no-repeat 0 50%;line-height:13px} 

	table.boardView02{width:100%;margin:-20px 0 15px}
	table.boardView02.hasHead{margin-top:0}
	table.boardView02 th{padding-left:20px;border-bottom:1px solid #eaeaea;color:#666;text-align:left}
	table.boardView02 td{padding:13px 0;border-bottom:1px solid #eaeaea}
	table.boardView02 td.content{padding:25px 20px;border-bottom:1px solid #eaeaea}

	table.boardView03{width:100%;margin-bottom:15px}
	table.boardView03 th{padding:13px 0 13px 12px;border-bottom:1px solid #eaeaea;color:#666;text-align:left}
	table.boardView03 th span{position:relative;display:block;padding-left:8px}
	table.boardView03 th span img{position:absolute;top:6px;left:0}
	table.boardView03 td{padding:13px 0;border-bottom:1px solid #eaeaea}
	table.boardView03 td.content{padding:20px}
	table.boardView03 td.content div.answer{clear:both;margin:20px -20px 0;padding:20px;border:1px solid #f0f0f0;background-color:#fafafa}
	table.boardView03 td.content div.answer h4{margin-bottom:15px;color:#333;font-size:1.4em;line-height:1;vertical-align:top}


	/* paging */
	div.pageNav{clear:both;padding:20px 0 20px 0;height:35px;overflow:hidden;font-family:dotum !important;text-align:center}
	div.pageNav.hasNext{margin-bottom:50px}
	div.pageNav > a{display:inline-block;position:relative;height:25px;margin:0 3px;overflow:hidden;vertical-align:middle}
	div.pageNav > a:focus { border:1px dashed #000;  }
	div.pageNav > a.first,
	div.pageNav > a.last{width:25px}
	div.pageNav > a.prev,
	div.pageNav > a.next{width:25px}
	div.pageNav > a span{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff url('/images/portal/button/btnPaging.png') no-repeat 0 0}
	div.pageNav > a.last span{background-position:-78px 0}
	div.pageNav > a.prev span{background-position:-26px 0}
	div.pageNav > a.next span{background-position:-52px 0}
	div.pageNav > span{display:inline-block;margin:0 0}
	div.pageNav > span a{display:inline-block; margin:0 7px; color:#404040;font-size:1.05em; line-height:21px}
	div.pageNav > span a.on{font-weight:bold; color:#9b1101; border-bottom: 1px solid #9b1101;}
	div.pageNav > span a:hover{font-weight:bold; color:#9b1101; text-decoration:none; border-bottom: 1px solid #9b1101;}

	/* paging small */
	div.pageNavS{margin-top:22px;clear:both;font-family:Verdana;font-weight:bold;text-align:center}
	div.pageNavS > a{display:inline-block;position:relative;height:19px;margin:0 0;overflow:hidden;vertical-align:middle}
	div.pageNavS a:focus { border:1px dashed #000;}
	div.pageNavS > a.first,
	div.pageNavS > a.last{width:19px}
	div.pageNavS > a.prev,
	div.pageNavS > a.next{width:19px}
	div.pageNavS > a span{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff url('/images/portal/button/btnPagingS.png') no-repeat 0 0}
	div.pageNavS > a.last span{background-position:-78px 0}
	div.pageNavS > a.prev span{background-position:-26px 0}
	div.pageNavS > a.next span{background-position:-52px 0}
	div.pageNavS > span{display:inline-block;margin:0 8px}
	div.pageNavS > span a{display:inline-block;padding:0 6px;color:#404040}
	div.pageNavS > span a.on{color:#ff2a00;line-height:1.5}
	div.pageNavS > span a:hover{text-decoration:underline}
	
	/* list paging */
	.listPaging{margin-top:30px;border-top:1px solid #1c1c1c;border-bottom:1px solid #1c1c1c}
	.listPaging li{height:44px;padding:0 25px;line-height:44px;font-size:1.16em;}
	.listPaging li.next{border-top:1px solid #d3d0d8}
	.listPaging li em{position:relative; display:inline-block;padding:0 30px;color:#333;font-family:'NGBold';}
	.listPaging li em:before { content:''; position:absolute; left:0; top:50%; width:13px; height:8px; margin-top:-4px; background:url('/images/portal/bullet/bgListPaging.jpg') no-repeat 0 0; }
	.listPaging li.next em:before {background-position:0 -46px}
	.listPaging li span, .listPaging li a{color:#333}

	/* icon box */
	.couponBox span{display:inline-block;height:21px;margin-top:9px;padding:0 8px;color:#fff;line-height:1.8}
	.couponBox span.coupon01{background:#ff6430}
	.couponBox span.coupon02{background:#ff9e30}
	.couponBox span.coupon03{background:#6e89e9}

	.standby{display:inline-block;width:48px;height:18px;color:#fff;font-size:0.92em;font-weight:bold;text-align:center;letter-spacing:-0.05em;line-height:1.8}
	.standby.red{background:#eb0009}
	.standby.orange{background:#ff5400}
	.standby.gray{background:#a4a4a4}
	
	/* 할인 쿠폰 */
	.discountBox{position:absolute;top:-2px;left:-2px}
	/*
	.discountBox span{display:block;width:70px;height:70px;text-indent:-5000em;background: url('/images/portal/icon/iconDiscount.png') no-repeat}
	*/
	.discountBox span{display:block;width:64px;height:68px; padding:2px 0 0 6px; color:#fff; font-size:12px; font-family:'NGBold'; }
	.discountBox span.discount_ico1		{ background: url('/images/portal/icon/disImg1.png') no-repeat }
	.discountBox span.discount_ico2		{ background: url('/images/portal/icon/disImg2.png') no-repeat }
	.discountBox span.discount_ico3		{ background: url('/images/portal/icon/disImg3.png') no-repeat }
	.discountBox span strong			{ font-family:'NGBold'; color:#fff; font-size:16px; }
	.discountBox span em				{ font-size:11px; color:#fff; display:block; font-family:'dotum'; margin-top:-4px; }
	

	/* .searchTop{margin-top:4px} */
	.searchTop .doc{float:right;margin-right:15px;height:33px}
	.searchTop .doc button{height:33px;padding:0 15px 0 32px;background-position:11px 3px}
	/* searczhWhite */
	#content h4.title03 + form .searchBox{margin-top:-19px}
	.searchBox{position:relative;z-index:1000;float:right;margin-bottom:10px}
	.traditionBox:after{display:block;content:'';clear:both}
	/* select box */
	.searchBox .selectCom{float:left;margin-right:-1px}
	/* 출처 레이어 팝업 */
	.originSelect{position:relative;float:left;margin-right:-3px}
	.originSelect .tit{display:inline-block;width:55px;height:33px;padding:0 32px 0 16px;color:#666;line-height:33px;border:1px solid #a8a2b1; background:url('/images/portal/layout/ico_select.gif') no-repeat 80px 13px}
	.originSelect .itemBox{display:none;position:absolute;top:0;width:430px;max-height:388px;z-index:1000;border:2px solid #525252;background:#fff;overflow-y:auto}
	.originSelect .itemBox .tit{width:auto;padding:5px 56px 0 15px;color:#444;border:none;line-height:1.9;background-position:right -20px}
	.originSelect .itemBox ul{margin:0 2%;padding:3px 0 10px}
	.originSelect .itemBox ul:after{display:block;content:"";clear:both}
	.originSelect .itemBox li{position:relative;float:left;width:50%;line-height:2}
	/* .originSelect .itemBox li.li2{width:165px} */
	.originSelect .itemBox li .icr__text{font-weight:normal;line-height:2}
	.originSelect .itemBox li .icr__checkbox{margin:-1px 4px 0 0;z-index:10;}
	.originSelect .icr__hidden {position:absolute; top:12px; left:3px; width:7px !important; height:7px !important; font-size:inherit; line-height:inherit;overflow:inherit !important;}
	.originSelect .icr__hidden input {left:0;top:0;width:7px;height:7px;z-index:1;}
	.originSelect .icr__hidden label {display:none;}
	.originSelect .btnBoxRight{margin:-10px 13px 9px 0}
	/* 기간 레이어 팝업 */
	.termSelect{position:relative;float:left;margin-right:-1px;background:#fff}
	.termSelect .tit{display:inline-block;height:33px;width:55px;padding:0 32px 0 16px;color:#666;line-height:33px;border:1px solid #a8a2b1; background:url('/images/portal/layout/ico_select.gif') no-repeat 80px 13px}
	.termSelect .itemBox{display:none;position:absolute;top:0;width:100px;z-index:10;border:2px solid #525252;background:#fff}
	.termSelect .itemBox .tit{padding:0 32px 0 15px;width:55px;color:#555;line-height:1.9;border:none;background-position:69px -23px}
	.termSelect .itemBox li{padding:2px 3px;line-height:1.5}
	.termSelect .itemBox li a{display:block;height:18px;padding:0 13px;color:#555}
	.termSelect .itemBox li a:focus, .termSelect .itemBox li a:hover, .termSelect .itemBox li.on a{color:#fff;background-color:#525252}
	.termSelect.focus .itemBox{display:block}
	/* 기간 선택 */
	.termSelect .itemOption{margin:3px;padding:5px 6px 3px;text-align:center;background:#ececec}
	.termSelect .itemOption em{display:inline-block;margin-bottom:4px;padding-right:22px;color:#444;background:url('/images/portal/icon/iconCalender.png') no-repeat right 0}
	.termSelect .itemOption input{width:74px;height:19px;text-align:center;border:1px solid #d2d2d2;letter-spacing:-0.05em;font-size:0.95em;}
	.termSelect .button.gray, .termSelect .button.white{height:19px;margin-top:5px;padding:0 6px;font-size:0.92em;font-weight:bold;line-height:1.6}
	.termSelect .button.gray button, .termSelect .button.white button{height:16px;/* padding-top:3px; */padding:3px 9px 0 9px;}
	.termSelect span.dash{display:block;height:7px;color:#444;line-height:.8;text-align:center}
	.inputSearch{position:relative;z-index:0;float:left}
	.searchBox .btnSearch{float:left;width:66px;height:35px;text-align:center;background:#3f3f3f;}
	.searchBox .btnSearch span{font-size:1.05em; font-family:'NGBold'; color:#fff;}
	
	/* 공연전시 검색 .type02 */
	.searchBox.type02{width:535px;height:53px;margin-bottom:0;background:#545454}
	/* 기간선택 */
	.searchBox.type02 .termSelect{margin:1px 0;width:105px;height:50px;background:#545454;}
	.searchBox.type02 .termSelect .tit {padding:0 32px 0 16px;height:52px;line-height:52px;font-size:1.167em;font-family:'NGBold';color:#fff;border-width:0 1px 0 0;background:url('/images/portal/bg/bgSelbox.gif') no-repeat 101% -31px}
	/* .searchBox.type02 .termSelect input{width:88px;height:15px;padding:0 0 0 10px;color:#fff;line-height:1;font-weight:bold;letter-spacing:-0.075em;cursor:pointer;background:none;border:none} */
	.searchBox.type02 .termSelect.on{background-color:#d20000}
	
	

	/* 공통 select */
	.searchBox.type02 .selectCom{background:none}
	.searchBox.type02 .selectCom.on{background:#d20000 }
	
	/* 지역선택 */
	/* .searchBox.type02 .areaSelect{border-left:1px solid #323232;;border-right:1px solid #323232} */
	.searchBox.type02 .areaSelect.m-left{margin-left:100px}

	/* 검색 input */
	.searchBox.type02 .inputSearch{margin:9px 12px 0 12px}
	.searchBox.type02 .inputSearch input{border:none;width:143px;height:35px;padding:0 1px 0 5px}
	.searchBox.type02 .btnSearch{float:right; width:53px; height:53px; text-indent:-999em; background:#a22112 url("/images/portal/icon/iconSearch.png") no-repeat center center; }
	
/* 답글 공통 */
.clear:after{display:block;content:"";clear:both}
.comment { position:relative; }
.comment .title{margin-bottom:12px; color:#000;font-size:1.3em;}
.comment .snsLogin{float:none; position:absolute; right:0; top:0; margin:0; }

/* 레이어 */
.boxLayer { display:none; padding:15px; border:1px solid #8a1818; z-index:1000; background:#fff; z-index:1001; }
.boxLayer .closeLayer { position:absolute; right:0; top:0; display:inline-block; width:20px; height:20px; text-indent:-999em; background:url("/images/portal/button/btnClose01.gif") no-repeat center center; }
.boxLayer .inner { position:relative; }
.boxLayer h4.layerTitle { margin-bottom:10px; font-size:1.167em; color:#333; font-weight:bold;}

.boxLayer2 { display:none; position:fixed; background:#fff; z-index:10000; }
.boxLayer2 .layerTit { padding:14px 30px 12px; color:#fff; font-family:'NGBold'; font-size:1.333em; background:#8a1818; }
.boxLayer2 .closeLayer { display:inline-block; position:absolute; right:0; top:0; width:50px; height:50px; text-indent:-999em; color:transparent; background:url("/images/layer/btnClose.png") no-repeat center center; }
.boxLayer2 .layerCon { padding:30px; /* border:1px solid #8a1818; */ }
.boxLayer2 .btnC { margin-top:20px; padding-top:20px; text-align:center; border-top:1px solid #d3d0d8; }
.bgLayer { width:100%; height:100%; top:0px; left:0px; position:fixed; z-index:999; background:#000; opacity:0.3; }

.comment .snsLogin .btntooltip{float:left;}
.tooltipWrap{position:relative}
.tooltipWrap .tooltipBox{height:auto;top:27px;right:13px;padding:11px 20px}
.tooltipWrap .tooltipBox p{text-align:left}
.tooltipWrap .tooltipBox p:first-child{margin-bottom:0}
.tooltipBox{display:none;position:absolute;top:38px;right:0;width:250px;height:131px;padding:14px 24px;z-index:100;background:#fff;border:1px solid #999}
.tooltipBox p{color:#666;font-size:0.92em;line-height:1.7;letter-spacing:-0.05em}
.tooltipBox p:first-child{margin-bottom:18px}
.tooltipBox button{position:absolute;top:11px;right:11px;width:19px;height:19px}
.tooltipBox dt{color:#444;font-weight:bold;font-size:1em}
.tooltipBox dd{margin-top:8px;color:#666;font-size:0.92em;line-height:1.6}
/* 문화 릴레이티켓 레이어 팝업 */
.tool01{top:22px;right:32px;width:263px;height:auto;padding:18px 13px 29px 22px}
.tool02{top:154px;right:-24px;width:280px;height:auto;padding:14px 13px 29px 23px}
.tool02 p{color:#666;font-size:1em;line-height:1.7;margin-bottom:4px !important}

/* sns 로그인 버튼 */
.comment .snsLogin ul{float:left}
.comment .snsLogin li{float:left}
.comment .snsLogin li a{display:block;width:34px;height:34px;text-indent:-5000em;overflow:hidden;background:url('/images/portal/button/btnSns.png') no-repeat -115px 0}
/* 문화포털 로그인 버튼 */
.comment .snsLogin li a.snsP{background-position:0 0}
.comment .snsLogin li.on a.snsP,
.comment .snsLogin li a.snsP:hover,
.comment .snsLogin li a.snsP:focus{background-position:0 -40px}
/* 페이스북 로그인 버튼 */
.comment .snsLogin li a.snsF{background-position:-34px 0}
.comment .snsLogin li.on a.snsF,
.comment .snsLogin li a.snsF:hover,
.comment .snsLogin li a.snsF:focus{background-position:-34px -40px}
/* 트위터 로그인 버튼 */
.comment .snsLogin li a.snsT{background-position:-68px 0}
.comment .snsLogin li.on a.snsT,
.comment .snsLogin li a.snsT:hover,
.comment .snsLogin li a.snsT:focus{background-position:-68px -40px}
/* 카카오톡 로그인 버튼 */
.comment .snsLogin  li a.snsK{background-position:-102px 0}
.comment .snsLogin li.on a.snsK,
.comment .snsLogin li a.snsK:hover,
.comment .snsLogin li a.snsK:focus{background-position:-102px -40px}
/* 카카오스토리 로그인 버튼 */
.comment .snsLogin li a.snsKS{background-position:-136px 0}
.comment .snsLogin li.on a.snsKS,
.comment .snsLogin li a.snsKS:hover,
.comment .snsLogin li a.snsKS:focus{background-position:-136px -40px}

/* 답글 작성 */
.commentForm{clear:both; overflow:hidden; padding-top:12px; border-top:2px solid #1c1c1c;}
.commentForm .dragPoint{display:none}
.commentForm:after{display:block;content:"";clear:both}
.commentForm .textarea{position:relative;float:left;width:679px;height:83px;border:1px solid #a8a2b1;border-right:0;}
.commentForm .textarea textarea{width:657px;height:63px;padding:10px;border:0;border-right:none}
.commentForm .textarea textarea.placeholder{height:63px;color:#b8b8b8;}
.layout2 .commentForm .textarea { width:889px; }
.layout2 .commentForm .textarea textarea { width:889px; }
.commentForm .txtLength{position:absolute;bottom:10px;right:20px}
.commentForm .txtLength em{color:#444;font-family:'NGBold'}
.commentForm .button.gray{float:right;width:85px;height:85px;padding:0;background:#3f3f3f;border:0;}
.commentForm .button.gray button{width:85px;height:85px;padding:0;text-align:center;font-size:1.16em; font-family:'NGBold'; line-height:85px;}
.comment p.totalCnt{float:none;margin-top:10px}

/* 평점주기 */
.gradeWrite{height:61px;margin-top:16px;border:1px solid #bcbcbc}
.gradeWrite:after{display:block;content:"";clear:both}

/* 별 평점 드래그 */
.gradeWrite .dragPoint{display:block;position:relative;float:left;width:190px;height:41px;padding:20px 0 0 15px;background:#f7f7f7}
.gradeWrite .pointOff{display:inline-block;width:120px;height:20px;background:url('/images/portal/bg/bgPointB.png') no-repeat 0 0;vertical-align:middle}
.gradeWrite .pointOff button ~ button{float:left;width:11px;height:20px;text-indent:-5000em;background:url('/images/portal/bg/bgPointB.png') no-repeat 0 0;overflow:hidden}
.gradeWrite .pointOff button:first-child{position:absolute;top:-9999px}
.gradeWrite .pointOff button.stR{margin-right:2px;background-position:-11px 0}
.gradeWrite .pointOver button.on{background-position:0 -30px}
.gradeWrite .pointOver button.stR.on{background-position:-11px -30px}
.gradeWrite .dragPoint .val{position:absolute;top:0;right:15px;width:40px;height:42px;padding-top:19px;font-size:1.34em;font-family:'NGBold'}

/*
.gradeWrite .dragPoint .sbHolder{position:absolute;top:0;right:0;height:61px;padding:0 10px 0 0;border:none;border-right:1px solid #d4d4d4;background:none}
.gradeWrite .dragPoint .selectCom{position:static;width:55px !important;border:none;background:none}
.gradeWrite .dragPoint .sbSelector{height:46px;padding-top:15px;font-size:1.34em;font-family:'NGBold';text-indent:8px;z-index:10;border-bottom:1px solid #bcbcbc}
.gradeWrite .dragPoint .sbToggle{height:41px;right:8px;padding-top:20px;background:url('/images/portal/bg/selectIcons01.png') no-repeat 0 25px}
.gradeWrite .dragPoint .sbToggleOpen{background-position:0 -15px;z-index:10}
.gradeWrite .dragPoint .sbOptions{left:-1px;top:0;z-index:100;padding:60px 0 0;background:none;border:1px solid #bcbcbc;border-top:none}
.gradeWrite .dragPoint .sbOptions li{position:relative;height:22px;padding:0 0 2px;background:#f7f7f7;border:none}
.gradeWrite .dragPoint .sbOptions a{padding-left:5px;margin:0;font-size:1.34em;font-family:'NGBold';background:#f7f7f7}
.gradeWrite .dragPoint .sbOptions a:hover,
.gradeWrite .dragPoint .sbOptions a:focus,
.gradeWrite .dragPoint .sbOptions a.sbFocus,
.gradeWrite .dragPoint .sbOptions a.sbOn{color:#444;background:none}
*/

/* 평점 */
.detailBox .pointBox{padding:9px 0 10px;color:#444;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0}
.pointBox span{display:inline-block;width:82px;height:16px;vertical-align:middle;background:url('/images/portal/bg/bgPoint.png') no-repeat 0 0;vertical-align:middle}
.pointBox .pointOn{background-position:0 -19px}
.pointBox em{color:#666;font-size:1.5em;font-family:'NGBold';vertical-align:middle}
.pointBox em strong { color:#a32516; }
.pointBox a{display:inline-block;padding:3px 13px 0 22px;color:#606060;font-weight:bold;vertical-align:middle;background:url('/images/portal/bullet/bulArrow05.png') no-repeat right 5px}

/* 평점 작성 */
.gradeWrite .textarea{position:relative;float:left;width:453px}
.gradeWrite .textarea textarea{float:left;width:378px;height:51px;padding:10px 65px 0 10px;border:none}
.gradeWrite .textarea textarea.placeholder{padding-top:25px;height:36px;color:#b8b8b8;font-size:0.92em}
.gradeWrite .txtLength{position:absolute;top:25px;right:25px}
.gradeWrite .button.gray{float:right;height:61px;margin:-1px;line-height:5;background:#484848}
.gradeWrite .button.gray button{height:61px;padding:0 20px;line-height:5;text-shadow: 2px 2px 2px rgba(0,0,0,.5)}

.repleArea .textarea{position:relative;float:left;width:539px;height:55px}
.repleArea .textarea textarea{width:529px;height:33px;padding:10px 0 0 10px;border:1px solid #ddd}
.repleArea .textarea textarea.placeholder{padding-top:20px;height:33px;color:#b8b8b8;font-size:0.92em}
.repleArea .txtLength{position:absolute;top:25px;right:25px}
.repleArea .txtLength em{color:#444;font-weight:bold}
.repleArea .btn{float:left;padding-left:7px}
.repleArea .btn:after{content:"";display:block;clear:both;height:10px}
.repleArea p.totalCnt{float:right;margin-top:10px;background:none}

/* 댓글 리스트 */
.commentList{border-bottom:1px solid #999}
.commentList > li{border-top:1px solid #efefef}
.commentList > li:first-child{border-top:none}
.commentList .commentArea{padding:16px}
.commentList .repleArea{padding:16px 16px 3px;background:#f9f9f9}
.commentList .repleArea .repleList{clear:both;width:100%;margin-top:15px;border-top:1px solid #ddd}
.repleList > li{border-top:1px solid #efefef;padding:10px 0}
.repleList > li:first-child{border-top:none}

/* 댓글, 답글 공통 내용 */
.commentList .pointBox{position:relative;float:left;width:97px;;margin-right:10px;padding-right:10px;background:url('/images/portal/bg/bgLine02.png') no-repeat right 1px}
.commentList .pointBox span{height:16px}
.commentList .pointBox em{position:absolute;right:10px;top:-4px;font-size:1.17em}
.commentList .id{float:left;color:#666;margin-right:10px;padding-right:10px;background:url('/images/portal/bg/bgLine02.png') no-repeat right 4px}
.commentList .date{float:left;color:#767676}
.commentList .btnTxt{float:left;color:#666;margin-left:10px;padding-left:10px;background:url('/images/portal/bg/bgLine02.png') no-repeat 0 4px}
.commentList .btnTxt button{margin-top:2px;color:#666;font-size:0.97em;font-family:"NGNormal";}
.commentList .id span{display:inline-block;width:15px;height:15px;margin-right:3px;text-indent:-5000em;vertical-align:top;background:url('/images/portal/icon/iconSns.png') no-repeat 0 0}
.commentList .id span.iconF{background-position:0 0}
.commentList .id span.iconT{background-position:0 -20px}
.commentList .id span.iconK{background-position:0 -40px}
.commentList .id span.iconKS{background-position:0 -60px}
.commentList .id span.iconP{background-position:0 -80px}
.commentList .textP{clear:both;padding-top:10px;color:#666;line-height:1.5}
.commentList .btnReple{margin-top:8px;padding-left:18px;color:#848484;font-weight:bold;background:url('/images/portal/icon/iconReple.png') no-repeat 0 2px}
.commentList .btnReple a{padding-right:10px;color:#848484;background:url('/images/portal/icon/iconReple.png') no-repeat right -19px}

/* 상단 리스트 분류 */
.sortingList li{float:left;margin-right:15px; }
.sortingList li a{display:block;padding-left:13px;color:#767676;font-family:'NGBold';background:none;}
.sortingList li.on a, .sortingList li a:hover, .sortingList li a:focus{color:#933636;background:url('/images/portal/bullet/bulCheck.png') no-repeat 0 6px}


.topBehavior{height:15px;padding:22px 0 10px;overflow:hidden;border-bottom:1px solid #b7b7b7}
.topBehavior .totalCnt{float:right;background:none}

.topBehavior02{height:25px;padding:10px 0px 10px 10px; border-bottom:1px solid #eaeaea}
.topBehavior02 .sortingList li{margin-top:8px}
.topBehavior02 .totalCnt{float:right;background:none}

.topBehavior03{clear:both;overflow:hidden;font-size:1.167em;}
/* .topBehavior03 .totalCnt{float:right;background:none;margin-bottom:0} */

.topBehavior04{clear:both;width:100%;font-size:1.167em;}
.topBehavior04:after{display:block;content:"";clear:both}
.topBehavior04 .sortingList li{margin-top:16px}
.topBehavior04 .totalCnt{margin-top:8px}

.topBehavior05 {clear:both;overflow:hidden;padding-top:20px;font-size:1.167em;}
.topBehavior05 .sortingList {float:right;}
.topBehavior05 .sortingList li{float:left;margin:0 0 0 25px; }

/* 신청완료 */
.requestComplete{min-height:126px;margin-bottom:26px;padding:50px 0 58px 209px;background:url('/images/portal/bg/bgRequestComplete.png') no-repeat 0 0;border-bottom:1px solid #999}
.requestComplete .infoBox{margin-bottom:33px;color:#666;font-family:'NGBold';font-size:1.67em;line-height:2}
.requestComplete .infoBox strong.name{color:#4b6de6;font-family:'NGBold'}
.requestComplete .infoBox strong.info{display:block;color:#333;font-family:'NGBold'}
.requestComplete p{color:#666;font-size:1.25em;font-family:'NGBold';line-height:1.9}
.requestComplete p a{color:#0034c9;font-family:'NGBold';text-decoration:underline}

/* layer Popup */
.layerPopup{position:absolute;top:400px;left:50px}
.layerPopup .popHeader{width:633px;height:45px;color:#fff;font-size:1.5em;background:#000}
.layerPopup .popHeader > span{display:block;height:45px;padding-left:38px;font-family:'NGBold';background:url('/images/portal/content/popup/bgLayerH.png') no-repeat 0 0;line-height:2.5}
.layerPopup .popContent{padding:25px 32px 30px 38px;background:#f3f3f3}
.layerPopup .btnClose{position:absolute;top:0;right:0;background:none}
	
	/* 이벤트 응모하기 팝업 */
	.eventEntry{width:563px;height:270px}
	.eventEntry dl{margin-bottom:11px;padding-bottom:8px;border-bottom:1px solid #c2c2c2}
	.eventEntry dt{color:#333;font-size:1.84em;font-family:'NGBold';margin-bottom:11px}
	.eventEntry dt .iconRelay{font-size:0.5em;line-height:2.1}
	.eventEntry dd li{line-height:2}
	.eventEntry dd li em{display:inline-block;width:87px;color:#4b6de6;font-weight:bold}
	.eventEntry dd li span{display:inline-block;color:#444}
	.layerPopup .popContent .txt01{padding-bottom:4px;color:#444;font-weight:bold;letter-spacing:-0.05em;line-height:1.5}
	.layerPopup .popContent .txt01 em{display:inline-block;height:17px;padding:0 4px;color:#fff;background:#4b6de6}
	.layerPopup .popContent .txt02{margin-bottom:11px;color:#595959;font-size:0.92em;letter-spacing:-0.05em;line-height:1.7}
	.layerPopup .popContent .textarea{position:relative;width:485px;height:61px;float:left;border:1px solid #bcbcbc;border-right:none}
	.layerPopup .popContent .textarea textarea{width:412px;height:56px;padding:5px 60px 0 13px;border:none}
	.layerPopup .popContent .textarea textarea.placeholder{padding-top:20px;height:41px;color:#767676}
	.layerPopup .popContent .textarea .txtLength{position:absolute;top:20px;right:15px;color:#a2a2a2}
	.layerPopup .popContent .textarea .txtLength em{display:inline-block;padding-right:2px;color:#333;font-weight:bold}
	.layerPopup .popContent .btnEntry{float:left}
	.layerPopup .popContent .btnEntry button{display:block;width:77px;height:63px;overflow:hidden;background:url('/images/portal/button/btnEntry.png') no-repeat 0 0}
	.layerPopup .popContent .btnEntry button span{position:absolute;top:-900px}

/* 레이어 */
div.LayerBackground{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background:url('/images/layer/bgLayer.png') repeat 0 0;overflow:hidden;z-index:9000}
div.layerBody{display:none;position:absolute;top:350px;left:50%;margin:0 0 0 -362px;width:725px;overflow:hidden;z-index:10000;}
div.layerContent button{float:right;font-size:.7em;line-height:0}
div.layerContent button img{vertical-align:top}
div.layerContent h4{padding:14px 30px 12px; color:#fff; font-family:'NGBold'; font-size:1.333em; background:#8a1818; }
div.layerContent div.contentBox{height:700px;margin-bottom:40px;padding:0 40px;overflow-x:hidden;overflow-y:scroll}

/* jquery ui 수정 */
/*
	원본
	.ui-datepicker .ui-datepicker-title select{font-size: 1em;margin: 1px 0}
	.ui-datepicker select.ui-datepicker-month-year{width: 100%}
	.ui-datepicker select.ui-datepicker-month,
	.ui-datepicker select.ui-datepicker-year{width: 49%}
*/
/* 수정 */
.ui-datepicker .ui-datepicker-title							{height:22px;font:normal 11px/1.0 '돋움',dotum}
.ui-datepicker .ui-datepicker-title .ui-datepicker-year		{width:55px;font:normal 11px/1.0 '돋움',dotum}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month	{width:55px;margin-left:5px;font:normal 11px/1.0 '돋움',dotum}
img.ui-datepicker-trigger									{margin:0 0 0 3px;vertical-align:middle} 

/* Selects */
.selectCom{float:left;margin-right:5px}
.selectCom .jq_sel{display:block;position:relative;height:33px;color:#666;line-height:33px;border:1px solid #a8a2b1; }
.selectCom .jq_sel span{position:absolute;left:0;top:0;white-space:nowrap;height:33px;width:100%;_width:auto;line-height:33px;text-align:left;text-indent:13px;color:#666;overflow:hidden;cursor:pointer}
.selectCom .jq_sel a.jqTransformSelectOpen{display:block;position:absolute;right:0px;width:28px;height:33px;text-indent:-999em;background:url('/images/portal/layout/ico_select.gif') no-repeat center 13px #fff}
.selectCom .jq_sel ul{position:absolute;z-index:9999;top:0;left:0px;right:2px;width:100%;padding:2px 0;list-style:none;background-color:#fff;border:solid 2px #525252;display:none;z-index:10;white-space:nowrap}
.selectCom .jq_sel li{height:20px;line-height:1.8;}
.selectCom .jq_sel ul a{display:block;margin:0 2px;padding-left:13px;text-decoration:none;color:#555;text-align:left}
.selectCom .jq_sel ul a:hover{background-color:#525252;color:#fff}
.selectCom .jq_sel ul a.selected{}
.selectCom .jq_sel_hide{display:none}

/* 지역 select */
.areaSelect li{float:left;width:50%}
.areaSelect li a{padding-left:0;text-align:center}
/* 공연, 전시 select */
.searchBox.type02 .jq_sel{height:53px;background-position:0 -40px;font-size:1.167em;}
.searchBox.type02 .jq_sel span{height:53px;color:#fff;font-family:'NGBold';line-height:53px}
.searchBox.type02 .jq_sel a.jqTransformSelectOpen{width:20px;height:53px;background-position:99.5% -31px}
/* .searchBox.type02 .selectCom{border-left:solid 1px #323232} */
.searchBox.type02 .selectCom .jq_sel ul{top:0;border:solid 2px #d20000}
.searchBox.type02 .selectCom .jq_sel ul a{text-align:left;padding-left:12px}
.searchBox.type02 .selectCom .jq_sel ul a:hover{background-color:#d20000}
/* 공연, 전시 지역 select */
.searchBox.type02 .areaSelect .jq_sel ul a{text-align:center;padding-left:0}

.sel_dim .jq_sel{z-index:1!important;background-image:url('/images/portal/bg/bgSelboxDim.gif')}
.sel_dim .jq_sel a.jqTransformSelectOpen{background-image:url('/images/portal/bg/bgSelboxDim.gif')}
.sel_dim .jq_sel div span{opacity:0.5}
.sel_dim .jq_sel ul{display:none!important}

/* 동영상 caption focus */
.view-caption { height: 0; line-height: 0; font-size: 0; text-align: center; color: transparent; }


/* 2015 공통 추가정의 */

.tagBox{margin-bottom:20px;padding:20px 25px; overflow:hidden;border:1px solid #d3d0d8; background:#f3f3f3;}
.tagBox dt{position:relative; display:inline-block; width:80px; margin-right:20px; padding:0 20px 0 38px; line-height:32px; font-family:'NGBold';font-size:1.3em; color:#526c9b;background:url('/images/portal/bg/ico_tag.gif') no-repeat 0 center}
.tagBox dt:after { content:''; position:absolute; right:0; top:0; width:1px; height:100%; background:#e0dee3; }
.tagBox dd{display:inline-block; }
.tagBox dd a{color:#333;font-size:1.1em}
.tagBox dd a:before { content:','; }
.tagBox dd a:first-child:before { display:none; }

.tagBox-multi { margin:30px 0 20px 0;padding:20px 25px; overflow:hidden;border:1px solid #d3d0d8; background:#f3f3f3;}
.tagBox-multi strong {position:relative; display:inline-block; width:80px; margin-right:20px; padding:0 20px 0 38px; line-height:32px; font-weight:normal; font-family:'NGBold';font-size:1.3em; color:#526c9b;background:url('/images/portal/bg/ico_tag.gif') no-repeat 0 center}
.tagBox-multi strong:after { content:''; position:absolute; right:0; top:0; width:1px; height:100%; background:#e0dee3; }
.tagBox-multi span {display:inline-block; }
.tagBox-multi span a{color:#333;font-size:1.1em}
.tagBox-multi span a:before { content:','; }
.tagBox-multi span a:first-child:before { display:none; }
.tagBox-multi div.site-link { margin-top:10px; }
.tagBox-multi div.site-link strong { background-image:url('/images/portal/bg/ico_siteLink.gif')  }

.box-copyright { position:relative; height:32px; margin-top:15px; }
.box-copyright p { width:625px; margin:0; line-height:1.8; font-size:0.95em; color:#333; }
.box-copyright p strong { font-family:'NGBold'; color:#000; }
/* .box-copyright img { position:absolute; right:0; top:0; } */
.box-copyright a { position:absolute; right:0; top:0; }

/* 영상리스트 */
.galleryList01Wrap {padding:10px 0 40px; border-top:2px solid #1c1c1c; border-bottom:1px solid #d3d0d8;}
ul.galleryList01{margin-left:-25px;}
ul.galleryList01:after{display:block;content:"";clear:both}
ul.galleryList01 li{float:left;width:225px;margin:30px 0 0 25px;text-align:center}
ul.galleryList01 a{position:relative;display:block;width:100%;color:#333;text-align:left;/* overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/ }
ul.galleryList01 a:first-child{position:relative;margin-bottom:9px;}
ul.galleryList01 a:first-child img{width:225px;height:143px;}
ul.galleryList01 a:first-child:after{display:block;content:"";position:absolute;bottom:3px;left:3px;width:30px;height:30px;background:url('/images/portal/bg/btnPlay02.png') no-repeat 0 0}
ul.galleryList01 .youtube a:first-child:after{display:none}
ul.galleryList01 .youtube .iconYoutube{position:absolute;top:5px;right:5px;margin:0;width:55px;height:25px;text-indent:-5000em;background:url('/images/portal/icon/iconYoutube.png') no-repeat 0 0}
ul.galleryList01 a .time{position:absolute;right:0;bottom:0;width:40px;height:16px;margin:0;color:#ddd;text-align:center;font-size:0.92em;line-height:1.7;background:url('/images/portal/content/index/bgTxtBox.png') no-repeat 0 0}
ul.galleryList01 strong{clear:both;display:block;height:43px;padding:8px 0 2px 0;color:#444;font-weight:bold;line-height:1.5;font-size:1.167em;}
ul.galleryList01 strong span{display:inline-block;padding-right:5px;color:#4b6de6;font-weight:normal}
ul.galleryList01 li a > span{float:left;margin:2px 5px 0 0;color:#555;line-height:1.5}
ul.galleryList01 li a > span.clicks{width:auto;margin-left:2px;padding-left:7px;color:#767676;background:url('/images/portal/bg/bgLine02.png') no-repeat 0 4px}
ul.galleryList01 li a > span.airdate{display:block;margin:3px 5px 0 0;clear:both;color:#5371bd;font-size:0.92em}
ul.galleryList01 li a > span.professor{padding-right:7px; margin-right:5px; background:url("/images/portal/bg/bgLine02.png") no-repeat right 4px; }