
@charset "utf-8";

/*=================================================================================
 * Margin, Padding Style
 =================================================================================*/
.pda10 {padding:10px;}
.pda20 {padding:20px;}
.pda30 {padding:30px;}
.pdt0	{padding-top:0px !important;}
.pdt1	{padding-top:1px !important;}
.pdt5	{padding-top:5px !important;}
.pdt10	{padding-top:10px !important;}
.pdt15	{padding-top:15px !important;}
.pdt20	{padding-top:20px !important;}
.pdt25	{padding-top:25px !important;}
.pdt30	{padding-top:30px !important;}
.pdt35	{padding-top:35px !important;}
.pdt40	{padding-top:40px !important;}
.pdt45	{padding-top:45px !important;}
.pdt50	{padding-top:50px !important;}

.pdb0	{padding-bottom:0px !important;}
.pdb5	{padding-bottom:5px !important;}
.pdb10	{padding-bottom:10px !important;}
.pdb15	{padding-bottom:15px !important;}
.pdb20	{padding-bottom:20px !important;}
.pdb25	{padding-bottom:25px !important;}
.pdb30	{padding-bottom:30px !important;}
.pdb35	{padding-bottom:35px !important;}
.pdb40	{padding-bottom:40px !important;}
.pdb45	{padding-bottom:45px !important;}
.pdb50	{padding-bottom:50px !important;}
.pdb60	{padding-bottom:60px !important;}
.pdb70	{padding-bottom:70px !important;}
.pdb80	{padding-bottom:80px !important;}

.pdl0	{padding-left:0px !important;}
.pdl5	{padding-left:5px !important;}
.pdl10	{padding-left:10px !important;}
.pdl15	{padding-left:15px !important;}
.pdl20	{padding-left:20px !important;}
.pdl25	{padding-left:25px !important;}
.pdl30	{padding-left:30px !important;}
.pdl35	{padding-left:35px !important;}
.pdl40	{padding-left:40px !important;}
.pdl45	{padding-left:45px !important;}
.pdl50	{padding-left:50px !important;}

.pdr10	{padding-right:10px !important;}
.pdr30	{padding-right:30px !important;}

.mgt-3	{margin-top:-3px !important;}
.mgt-5	{margin-top:-5px !important;}
.mgt-10	{margin-top:-10px !important;}
.mgt-15	{margin-top:-15px !important;}
.mgt-18	{margin-top:-18px !important;}
.mgt-20	{margin-top:-20px !important;}
.mgt-21	{margin-top:-21px !important;}
.mgt-25	{margin-top:-25px !important;}
.mgt-30	{margin-top:-30px !important;}
.mgt0	{margin-top:0px !important;}
.mgt5	{margin-top:5px !important;}
.mgt10	{margin-top:10px !important;}
.mgt15	{margin-top:15px !important;}
.mgt20	{margin-top:20px !important;}
.mgt25	{margin-top:25px !important;}
.mgt30	{margin-top:30px !important;}
.mgt35	{margin-top:35px !important;}
.mgt40	{margin-top:40px !important;}
.mgt45	{margin-top:45px !important;}
.mgt50	{margin-top:50px !important;}

.mgb-5	{margin-bottom:-5px !important;}
.mgb-10	{margin-bottom:-10px !important;}
.mgb-15	{margin-bottom:-15px !important;}
.mgb-20	{margin-bottom:-20px !important;}
.mgb-25	{margin-bottom:-25px !important;}
.mgb-30	{margin-bottom:-30px !important;}
.mgb-35	{margin-bottom:-35px !important;}
.mgb-40	{margin-bottom:-40px !important;}
.mgb0	{margin-bottom:0px !important;}
.mgb3	{margin-bottom:3px !important;}
.mgb5	{margin-bottom:5px !important;}
.mgb10	{margin-bottom:10px !important;}
.mgb15	{margin-bottom:15px !important;}
.mgb20	{margin-bottom:20px !important;}
.mgb25	{margin-bottom:25px !important;}
.mgb30	{margin-bottom:30px !important;}
.mgb35	{margin-bottom:35px !important;}
.mgb40	{margin-bottom:40px !important;}
.mgb45	{margin-bottom:45px !important;}
.mgb50	{margin-bottom:50px !important;}

.mgl3	{margin-left:3px !important;}
.mgl5	{margin-left:5px !important;}
.mgl10	{margin-left:10px !important;}
.mgl15	{margin-left:15px !important;}
.mgl20	{margin-left:20px !important;}
.mgl25	{margin-left:25px !important;}
.mgl30	{margin-left:30px !important;}
.mgl35	{margin-left:35px !important;}
.mgl40	{margin-left:40px !important;}
.mgl45	{margin-left:45px !important;}
.mgl50	{margin-left:50px !important;}
.mgl60	{margin-left:60px !important;}
.mgl70	{margin-left:70px !important;}
.mgl80	{margin-left:80px !important;}
.mgl85	{margin-left:85px !important;}

.mgl100	{margin-left:100px !important;}
.mgl130	{margin-left:130px !important;}
.mgl140	{margin-left:140px !important;}
.mgl150	{margin-left:150px !important;}
.mgl160	{margin-left:160px !important;}
.mgl170	{margin-left:170px !important;}
.mgl200	{margin-left:200px !important;}
.mgl400	{margin-left:400px !important;}
.mgl420	{margin-left:420px !important;}
.mgl500	{margin-left:500px !important;}

.mgr5	{margin-right:5px !important;}
.mgr10	{margin-right:10px !important;}
.mgr15	{margin-right:15px !important;}
.mgr20	{margin-right:20px !important;}
.mgr25	{margin-right:25px !important;}
.mgr30	{margin-right:30px !important;}
.mgr35	{margin-right:35px !important;}
.mgr40	{margin-right:40px !important;}
.mgr45	{margin-right:45px !important;}
.mgr50	{margin-right:50px !important;}

