@charset "utf-8";
@import url('default.css');
@import url('common.css');

/* layout */
/* html, body{width:100%;height:100%;background-color:#f0f0f0 } */
input.placeholder{font-size:1.2em}
iframe{position:relative;z-index:1000}
.mt20{margin-top:20px !important}
.login #headerLogin{padding-top:115px}
#wrap.member{height:auto;min-height:100%}
.member #headerLogin{padding-top:65px}
/* 아이디, 회원가입 찾기 타이틀 */
.title01{position:relative;z-index:100;width:460px;margin:0 auto;padding:25px 128px 0 160px;margin-bottom:-26px;color:#010101;font-family:'NGBold';font-size:2em;letter-spacing: -2px;} /* 160525 수정함. width460>660; font-size:2.17>2; letter-spacing추가*/
.title01_bold{font-weight: bold;width:660px;} /* 160525 수정함 */
.title02{width: 660px;margin: 10px auto 15px;padding: 25px 128px 0 160px;line-height:24px;letter-spacing: -1.2px;font-size: 14px;font-family: 'NanumGothic';color: #646a81;} /* 160525 수정함 */
#headerLogin{width:460px;margin:0 auto;}
#headerLogin h1{width:310px;height:74px;margin:0 auto;background:url('/culturen/resources/img/content/logo.png') no-repeat 0 0}/* 160621 161007 수정함 */
#headerLogin h1 a{display:block;width:271px;height:74px;}
#headerLogin h1 span{position:absolute;top:-5000em}
/* #contentLogin{position:relative;width:460px;margin:0 auto;padding:0 128px 0 160px} */
#contentLogin{position:relative;width:460px;margin:0 auto;}
.member #contentLogin{width:700px;}
/* 상단 꽃 BG */
.graphic2 .before, 
.graphic .before, 
.loginForm .before, 
.joinHome .before, 
.stepWrap .before{display:block;position:absolute;top:-30px;left:0;z-index:1;content:"";width:280px;height:241px;background:url('/culturen/resources/img/content/bgSubMemberT.png') no-repeat 0 0} /* 161007 수정 */
.loginForm{padding-top:38px}
.joinHome .before{top:40px}/* 회원가입 home */
.stepWrap .before{top:-65px}/* 회원가입 step */
.graphic .before{top:-69px}/* 그래픽 */
.graphic2 .before{top:-69px}/* 그래픽 */
/* 하단 꽃 BG */
.graphic2 .after,
.graphic .after, 
.loginForm .after, 
.joinHome .after, 
.stepWrap .after{display:block;position:absolute;right:0;z-index:1;content:"";width:280px;height:241px;background:url('/culturen/resources/img/content/bgSubMemberB.png') no-repeat 0 0} /* 161007 수정 */
.loginForm .after{top:85px;}/* 로그인 */
.joinHome .after{top:187px}/* 회원가입 */
.stepWrap .after{bottom:-84px}/* 회원가입 */
.idSearch .after{top:125px}/* 아이디 찾기 */
.PwSearch .after{top:229px}/* 비밀번호 찾기 */
.graphic .after{top:355px}/* 그래픽 */
.graphic2 .after{top:441px}/* 그래픽 */
#footerLogin{width:460px;margin:0 auto;margin-top:115px}
.graphic + #footerLogin{margin-top:10px}
.graphic2 + #footerLogin{margin-top:10px}
.member #footerLogin{margin-top:89px;padding-bottom:30px}
#footerLogin ul{text-align:center}
#footerLogin li{display:inline;padding:0 14px 0 15px;font-weight:bold;background:url('/culturen/resources/img/content/bgLine02.gif') no-repeat 0 1px} /* 161007 수정 */
#footerLogin li:first-child{padding-left:0;font-weight:normal;background:none}
#footerLogin li:last-child{padding-right:0;font-weight:normal}
#footerLogin li a{padding-right:0;color:#666}
#footerLogin li:nth-of-type(2) a{color:#444}
#footerLogin .copyright{padding-top:11px;color:#727272;font-size:0.92em;font-family:Arial;text-align:center}
#footerLogin .copyright strong{letter-spacing:-0.04em}
/* login */
	/* login input */
	.loginForm fieldset{position:relative;z-index:100}
	.loginForm input{font-size:1.2em}
	.inputId{position:relative;width:458px;height:49px;margin-bottom:10px;border:1px solid #bec9d3;background:#fff}
	.inputId input{width:437px;height:45px;padding:3px 0 0 21px;line-height:2.5;border:none}
	.inputId.focus, .inputPw.focus, .inputS.focus{border:1px solid #4b6de6}
	.inputPw,.inputS{position:relative;width:458px;height:49px;margin-bottom:30px;border:1px solid #bec9d3;background:#fff}
	.inputS_{width:660px;} /* 160525 수정함 */
	.inputS.inputS_ input{width:639px;} /* 160525 수정함 */
	.inputS.inputS_mb10{margin-bottom: 10px;} /* 160525 수정함 */
	.inputPw input,.inputS input{width:437px;height:45px;padding:3px 0 0 21px;line-height:2.5;border:none}
	/* .inputS_ input{width:660px;} 160525 수정함 */
	/* 아이디 찾기 */
	.inputS{margin-bottom:40px}
	.inputS .txt01{margin:10px 0;color:#f42222}
	.inputId input.placeholder, .inputPw input.placeholder{font-size:1em}
	/* 비밀번호찾기 */
	.loginForm .selectCom{float:none;position:relative;z-index:1000;width:458px !important;left:1px;top:1px;height:49px;margin-bottom:10px}
	.loginForm  .jq_sel{position:absolute;top:6px;left:7px;width:448px  !important;border:none}
	.loginForm .selectCom .jq_sel span{top:5px}
	.loginForm  .selectCom .jq_sel{background-position:0 -90px}
	.loginForm  .selectCom .jq_sel a.jqTransformSelectOpen{top:5px;background-position:100% -90px}
	.loginForm  .selectCom .jq_sel ul{width:440px !important;}

	.PwSearch .txt01{padding:15px 0 10px;line-height:1.4;letter-spacing:-0.05em}/* 비밀번호 찾기 */
	/* 비밀번호 변경 */
	.PwChange .txtBox p{color:#555;line-height:1.6;padding-bottom:5px}
	.PwChange .txtBox p strong{color:#4b6de6}
	.PwChange .inputS{margin:0}
	.PwChange .inputS.first{margin:10px 0 15px}
	.PwChange .txt01{padding:10px 2px;color:#767676}
	.PwChange .txt02{padding:10px 2px;color:#f42222}
	.PwChange .btnBox{text-align:center;margin-top:30px}
	.PwChange .btnBox .button{width:225px}
	.PwChange .btnBox .button:first-child{margin-right:3px}

	/* 그래픽 */
	#contentLogin.graphic{width:800px;margin-top:38px;padding-right:28px}
	#contentLogin.graphic2{width:800px;margin-top:38px}

	/* 아이디찾기, 비밀번호찾기, 회원가입 */
	.link{text-align:center}
	.link li{display:inline;padding:0 14px 0 15px;background:url('/culturen/resources/img/content/bgLine01.gif') no-repeat 0 1px}
	.link li:first-child{background:none}
	.link li a{padding-right:0;color:#535557}
	/* 로그인 버튼 */
	.btnLogin{position:relative;z-index:100;margin-bottom:15px}
	/* 라디오 버튼 */
	.inputCheck{position:relative;margin-bottom:16px;padding-bottom:25px;border-bottom:1px solid #bec9d3}
	.inputCheck .icr__text{line-height:2.3}
	.inputCheck .icr__checkbox{display:inline-block;position:relative;top:-1px;margin:0 6px 0 -4px;width:30px;height:28px;vertical-align:middle;background:url('/culturen/resources/img/content/checkbutton.png') no-repeat -8px -14px}
	.inputCheck .icr.focus .icr__checkbox{background-position: -8px -215px}
	.inputCheck .icr.enabled:hover .icr__checkbox, .inputCheck .icr.checked .icr__checkbox{background-position: -8px -115px}
	.inputCheck .icr.checked .icr__checkbox { border:1px solid #2d53ed; }

	/* 에러 msg */
	.errorTxt{margin-top:15px;color:#f42222}
/* member join */
	.joinHome{margin-top:37px;margin-bottom:137px}
	.joinHome p{text-align:center;font-family:'NGBold'}
	.joinHome .text01{padding-bottom:5px;color:#010101;font-size:2.17em}
	.joinHome .text01 strong{color:#ec1818;font-family:'NGBold'}
	.joinHome .text02{padding-bottom:48px;color:#646a81;font-size:1.25em}
	/* 회원가입 타입 */
	.joinType{position:relative;z-index:100;height:235px;overflow:hidden}
	.joinType li{float:left;width:214px;height:230px;margin-left:6px;text-align:center;border:1px solid #c6d3e2;background:#fff url('/culturen/resources/img/content/imgJoin.jpg') no-repeat 0 0}
	.joinType li span{display:block;margin-top:103px;margin-bottom:1px}
	.joinType li strong{display:block;margin-bottom:25px;color:#333;font-size:1.2em}
	.joinType li.type01{margin-left:0;border-top:3px solid #4b6de6;background-position:0 0}/* 14세미만 */
	.joinType li.type02{border-top:3px solid #9b9b9b;background-position:-223px 0}/* 14세 이상 */
	.joinType li.type03{border-top:3px solid #f42222;background-position:-444px 0}/* 국내거주 외국인 */

	/* stepWrap */
	.stepWrap{margin-top:32px;font-size:1em;/*border-top:2px solid #4b6de6;*/background:#fff} /* 160525 수정 */
	.stepWrap_mg{margin-top:10px;} /* 160525 수정 */
	/* step title */
	.stepTit{width:660px;height:46px;overflow:hidden;background:#fff url('/culturen/resources/img/content/joinStep.png') no-repeat 0 -235px} /* 161007 수정 */
	.stepTit li{position:relative;z-index:0;float:left;width:160px;height:47px;margin-left:-23px}
	.stepTit li.on{z-index:10;background: url('/culturen/resources/img/content/joinStep.png') no-repeat 0 0} /* 161007 수정 */
	.stepTit .step01{width:143px;margin-left:0}
	.stepTit .step01.on{background-position:0 0}/* 약관동의 */
	.stepTit .step02{width:160px;margin-left:-23px}
	.stepTit .step02.on{background-position:-120px -47px}/* 실명인증 */
	.stepTit li.join14_01, .stepTit li.join14_02{position:relative;width:160px;margin-left:-23px;background: url('/culturen/resources/img/content/joinStep.png') no-repeat -120px -282px}/* 14세미만 실명인증 */
	.stepTit li.join14_01.on{background-position:-450px -47px}/* 14세미만 실명인증 */
	.stepTit li.join14_02.on{background-position:-280px -47px}/* 14세미만 보호자인증 */
	.stepTit .step03.on{background-position:-257px -94px}/* 회원정보입력 */ 
	.stepTit .step03_01.on{background-position:-394px -141px}/* 그래픽인증 */
	.stepTit .step04{width:129px}
	.stepTit .step04.on{background-position:-531px -188px}/* 가입완료 */
	.stepTit li em{position:absolute;top:-5000em}
	/* step content */
	.stepWrap > div{position:relative;width:658px;z-index:10;border:1px solid #c6d3e2;background:#fff}
	/* btnBox */
	.stepWrap .btnBox{padding:26px 0 34px 0;text-align:center;}
	.stepWrap .btnBox button, .stepWrap .btnBox img{vertical-align:middle}
	/* 약관동의 */
	.step01Wrap .agree01{margin-top:19px;padding:10px 26px;z-index:10;border-top:1px solid #e7eef6;border-bottom:none;padding-bottom:0}
	.step01Wrap .agree01 .icr{width:100%}
	.step01Wrap .agree01 .icr__text{float:left;color:#333;font-size:1.17em;font-weight:bold;background:#fff}
	.step01Wrap .agree01 .icr__checkbox{float:right;margin-right:0}
	.step01Wrap dl{padding:0 26px;margin-top:20px}
	.step01Wrap dt{ overflow:hidden; height:30px; margin-bottom:16px;color:#333;font-size:1.17em;background:#fff} 
	.step01Wrap dt em{color:#ff7200;font-size:0.86em;font-weight:normal;line-height:1.5}
	.step01Wrap dt .agree .icr{width:30%;float:right}
	.step01Wrap dt .agree .icr .icr__text{float:left;visibility:hidden}
	.step01Wrap dt .agree .icr .icr__checkbox{float:right;margin:1px 0 0 0}
	.step01Wrap dd{margin-bottom:17px} /* 20160628 수정*/
	.step01Wrap dd textarea{width:583px;height:90px;padding:8px 10px;color:#666;background:#f7f7f7;border:1px solid #f0f0f0}
	/* 실명인증 */
	.step02Wrap .btnBox{padding-top:18px}
	.step02Wrap .text01{padding:17px 25px 15px;color:#333;letter-spacing:-0.05em;line-height:1.7}
	.step02Wrap h2 {padding: 0 20px; font-weight: bold; font-size: 1.333em; color: #333;}
	.step02Wrap .list{padding:17px 25px 15px;color:#333;letter-spacing:-0.06em;line-height:1.7}
	.step02Wrap .list li{padding-left:10px;background:url('/culturen/resources/img/content/bulSq01.gif') no-repeat 0 8px}
	.step02Wrap .tabSt01{height:433px;/*  margin-top: 20px;*/}
	.tabSt01{position:relative}
	.tabSt01:after{display:block;content:"";clear:both}
	.tabSt01 > li{float:left;width:50%;border-top:1px solid #c6d3e2}
	.tabSt01 > li > a{display:block;height:38px;color:#657073;font-size:1.17em;font-weight:bold;text-align:center;line-height:38px;border-bottom:1px solid #c6d3e2;background:#cfd3d5}
	.tabSt01 > li > a:focus, .tabSt01 > li > a:hover, .tabSt01 > li.on > a{color:#fff;background:#657073}
	.tabSt01 > li > div{display:none;position:absolute;top:40px;left:0;width:100%}
	.tabSt01 > li.on > div{display:block}
	.step02Wrap .agreeBox{height:67px;overflow:hidden;padding:14px 26px 8px 55px;border-top:1px solid #e7eef6}
	.step02Wrap .agreeBox:after{display:block;content:"";clear:both}
	.step02Wrap .agreeBox li{float:left;width:50%;padding-bottom:6px}
	.step02Wrap .agreeBox li .icr__text{color:#555;letter-spacing:-0.1em;font-weight:normal}
	.step02Wrap .agreeBox li:last-child .icr__text{font-weight:bold}
	.step02Wrap .agreeBox li button{padding-left:6px;color:#4b6de6;text-decoration:underline;font-size:0.92em;background: url('/culturen/resources/img/content/bulArrow04.png') no-repeat 0 4px}
	.step02Wrap .txt{padding:88px 0 145px;color:#444;font-size:1.17em;font-weight:bold;line-height:1.7;text-align:center}
	.step02Wrap .inputBox{width:420px;margin:0 auto;margin-top:23px}
	.step02Wrap .radioBox{margin:11px 0 11px 5px}
	.step02Wrap .radioBox .icr{margin-right:15px}
	.step02Wrap .inputB{position:relative;z-index:100;width:418px;height:35px;margin-bottom:10px;border:1px solid #bec9d3;background:#fff}
	.step02Wrap .inputB input{width:397px;height:30px;padding-left:21px;border:none}
	.step02Wrap .inputB input.placeholder{font-size:1em}
	.step02Wrap .inputB.focus{border:1px solid #4b6de6}
	.step02Wrap .st1{width:308px;padding-left:110px;margin-bottom:15px} /* 160526 수정 */
	.step02Wrap .st1 input{width:287px} /* 160526 수정 */
	.step02Wrap .st1 .selectCom{position:static}
	.step02Wrap .st1 .jq_sel{position:absolute;top:0px;left:7px;width:82px !important;border:none}
	.step02Wrap .st1 .selectCom .jq_sel{background-position:0 -90px}
	.step02Wrap .st1 .selectCom .jq_sel a.jqTransformSelectOpen{background-position:100% -90px;background: url('/culturen/resources/img/content/arr_dw2.gif') no-repeat 0 0; margin: 13px -30px 0px 0px;}
	.step02Wrap .st2{width:418px}
	.step02Wrap .smsConfirm .confirm{display:none}
	.step02Wrap .smsC{display:none;width:420px;margin:0 auto;padding:68px 0 171px}
	.step02Wrap .smsC_{padding:125px 0 125px}
	.step02Wrap .smsC .inputB{display:inline-block;width:276px;vertical-align:top}
	.step02Wrap .smsC .inputB input{width:255px}
	.step02Wrap .smsC .button.gray{height:37px;padding:0 31px;color:#fff;font-weight:bold;vertical-align:top;background:#889497;border:none}
	.step02Wrap .smsC .button.gray, .step02Wrap .smsC .button.gray button{height:37px;color:#fff}
	.step02Wrap .tabSt01 .smsConfirm .smsC{display:block}
	
	/* 회원 정보 입력 */
	.step03Wrap{padding:25px 25px 0}
	.step03Wrap table.boardInput02 td span.button{font-size:1em}
	table.boardInput02 input.placeholder{font-size:1em;letter-spacing:-0.05em}
	.interestList li{float:left;width:25%;line-height:1.9;margin-bottom:3px}
	.pathList li{float:left;width:25%;line-height:1.9;margin-bottom:3px}
	.pathList li:last-child{width:50%}
	.stepWrap .step03Wrap .btnBox{padding-top:0;border:none}
	.stepWrap .step03Wrap table.boardInput02{margin-bottom:25px}
	.stepWrap .step03Wrap table.boardInput02{margin-bottom:25px}
	table.boardInput02 td span.icr span{margin-right:5px}
	table.boardInput02 td span.icr span.icr__text{margin-left:-2px}
	table.boardInput02 td span .button button{font-size:1em}
	table.boardInput02 td .interestList li{margin-bottom:2px}
	/* 2단계 인증 */
	.stepWrap .step03_01Wrap {width: 618px; padding: 20px;}
	.step03_01Wrap h3 {margin-bottom: 15px; font-size: 1.083em; color: #333;}
	.step03_01Wrap h3 span {font-size: 0.923em; color: #ff7200;}
	.doubleLogin {margin-bottom: 50px; border-bottom: 1px solid #e7eef6;}
	.doubleLoginImg {margin: 20px 0; text-align: center;}
	.serviceUseAgree .inputCheck {padding-bottom: 40px; margin-bottom: 35px; border-bottom: 1px solid #e7eef6;}
	.serviceUseAgree .inputCheck .icr {width: 100%;}
	.serviceUseAgree .inputCheck .icr__text {float: left;}
	.serviceUseAgree .inputCheck .icr__checkbox {float: right;}
	.emailConfirm {border-bottom:1px solid #e7eef6;}
	#emailConfirm {padding-bottom: 40px; margin-top: 25px;}
	#emailConfirm div {height: 37px; margin-bottom: 18px;}
	#emailConfirm div > input {width: 455px; padding: 10px; border: 1px solid #bec9d3; vertical-align: top;}
	#emailConfirm div > button {vertical-align: top;}
	
	/* 2단계 인증 신청 */
	.stepWrap .secondStepApplication {border: 0;}

	/* 2단계 인증 변경 */
	.stepWrap h3.contentTitle {margin-bottom: 27px; font-size: 2.1em; font-family: 'NGBold'; color: #333;}
	.stepWrap .secondStepModify {border: 0;}
	.secondStepModify h4.bulTitle {margin-bottom: 15px; padding-left: 15px; color: #333; font-size: 1.167em; font-family: 'NGBold'; background: url(/culturen/resources/img/content/bulSquare04.png) no-repeat 0 50%; line-height: 1; overflow: hidden;}
	.secondStepModify h4.bulTitleInline {display: inline-block; height: 37px; line-height: 37px; margin: 0 48px 0 0; vertical-align: top;}
	.emailAddress {padding-bottom: 60px; margin-bottom: 55px; border-bottom: 1px solid #e7eef6;}
	.emailAddress span {display: inline-block; width: 349px; height: 15px; padding: 10px 20px; /* border: 1px solid #bec9d3; */}
	.emailAddress button {vertical-align: top;}
	/*.emailAddress .emailChange {width: 87px; height: 29px; border: 1px solid #000; background-color: #444; color: #fff; font-family: 'NGBarun'; font-size: 1.083em;}*/
	.secondStepModify .receiveEmail {padding-left: 14px;}

	/* 2단계 인증 해지 */
	.stepWrap .secondStepCancel {width: 460px; margin: 0 auto; border: 0;}
	.stepWrap .secondStepCancel {text-align: center;}
	.stepWrap .secondStepCancel .inputPw {margin: 0 auto 10px auto;}
	.stepWrap .secondStepCancel .btnWrap {position: relative; z-index: 100; margin-bottom: 15px;}
	.stepWrap .secondStepCancel .textPw {margin-bottom: 20px; font-family: 'NGNormal'; font-size: 1.083em;}
	.stepWrap .secondStepCancel .textPw span {color: #333;}
	.stepWrap .secondStepCancel .textWrong {color: #f42222;}

	/* 2단계 인증 화면 */
	.stepWrap .secondStepUse {padding-bottom: 40px; margin-bottom: 17px; border-bottom: 1px solid #bec9d3;}
	.textPw .mailAddress {text-decoration: underline; color: #5171ea;}
	.stepWrap .btnResend {width: 460px; margin: 0 auto; text-align: center; border: 0;}
	.stepWrap .btnResend button {text-decoration: underline; color: #666;}


	/* 가입완료 */
	.step04Wrap{padding-top:72px;text-align:center}
	.step04Wrap .text01{margin-bottom:5px;color:#4b6de6;font-size:3em;font-family:'NGBold'}
	.step04Wrap .text02{margin-bottom:28px;color:#444;font-size:1.5em;font-family:'NGBold';line-height:1.7}
	.step04Wrap .joinBox{width:461px;height:72px;margin:0 auto;margin-bottom:83px;padding:30px 0 0 120px;text-align:left;background:url('/culturen/resources/img/content/bgJoinBox.jpg') no-repeat 0 0}
	.step04Wrap .joinBox .text03{color:#010101;font-size:1.34em;font-family:'NGNormal'}
	.step04Wrap .joinBox .text03 strong{color:#4b6de6;font-family:'NGBold'}
	.step04Wrap .joinBox .text04{color:#767676;font-family:'NGNormal';line-height:2.1}
	.step04Wrap .joinBox .text04 strong{font-family:'NGBold'}
	/* 160525 수정함 */
	.inputPassword {width: 660px; margin: 0 auto; padding: 0 128px 0 160px;}
	
	/* 이용약관 동의 수정 */
	.agree-box {  }
	.agree-box { overflow:hidden; overflow-y:scroll; height:108px; padding:8px 10px; color:#666; background-color:#f7f7f7; border:1px solid #f0f0f0;}