@charset "utf-8";
@font-face {
	font-family:'NGNormal';
	font-style:normal;
	font-weight:400;
	src: url('/common/font/NanumGothic.eot');
	src: url('/common/font/NanumGothic.eot') format('embedded-opentype'), url('/common/font/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:'NGBold';
	font-style:normal;
	font-weight:700;
	src:url('/common/font/NanumGothic-Bold.eot');
	/* src:local(※), url('/common/font/NanumGothic-Bold.eot') format('embedded-opentype'), url('../font/NanumGothic-Bold.woff') format('woff'); */
	src:url('/common/font/NanumGothic-Bold.eot') format('embedded-opentype'), url('/common/font/NanumGothic-Bold.woff') format('woff');
}
@font-face {
	font-family:'NGBarun';
	font-style:normal;
	font-weight:700;
	src:url('/common/font/NanumBarunGothic.eot');
	/* src:local(※), url('/common/font/NanumBarunGothic.eot') format('embedded-opentype'), url('../font/NanumBarunGothic.woff') format('woff'); */
	src:url('/common/font/NanumBarunGothic.eot') format('embedded-opentype'), url('/common/font/NanumBarunGothic.woff') format('woff');
}

#comment + .btnList{margin-top:15px}
/* reset */
body{position:relative;font-family:"나눔고딕",NGNormal,Dotum,Tahoma,sans-serif;color:#666;font-size:12px;line-height:1.5}
/* body,object,iframe,
h1,h2,h3,h4,h5,h6,div,span,p,blockquote,pre,abbr,acronym,address,cite,code,del,dfn,em,img,figure,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
form,fieldset,legend,a,textarea,input,select,option,button,label,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;font-family:"나눔고딕",NGNormal,Dotum;border:0;background:transparent}

 */
/* Media */
audio:not([controls]){display:none;height:0;}
/* Link */
a{color:#444}
a:link{text-decoration:none;}

a:hover{text-decoration:underline}/*20161017 접근성 수정*/
a:active,a:visited{text-decoration:none;}
/* Typography */
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:inherit;}
b, strong{font-weight:bold;}
hr{display:none;box-sizing:content-box;height:0;}
address, caption, cite, code, dfn, em, var{font-style:normal;font-weight:normal;}
abbr, acronym, img, button{border:0;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
sub, sup{line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
/* span,em,strong{vertical-align:top;}*/
img{vertical-align:top}
legend{visibility:hidden}
/* List */
ul, ol, li{list-style:none;}
/* Figures */
figure{margin:0;}
/* Forms */
button{cursor:pointer;}
button, input, textarea{border:0 none; background-color:#fff;}
select{border:1px solid #999}
/* button, select{text-transform:none;} */
textarea{vertical-align:top;border:solid 1px #ccc;font-size:1em}
/* Table */
table{border-collapse:collapse;empty-cells:show;border-spacing:0;table-layout:fixed;}
table caption, fieldset legend, .element-hide { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); font-size:0; line-height:0; color: transparent;}
/* summary :common */
/* scroll
.scroll{overflow:auto;z-index:10;margin:0;}*/
abbr[title]{border-bottom:1px dotted;}

/* 검색 결과 없을 경우 */
.noResult	{float:left;clear:both;width:100%;height:70px;line-height:5.8;margin-top:10px;text-align:center;border-top:2px solid #666}
.noResult_t	{float:left;clear:both;width:100%;height:70px;line-height:5.8;margin-top:10px;text-align:center;border-top:2px solid #666;border-bottom:1px solid #666;}
.noResult_tb{float:left;clear:both;width:100%;height:70px;line-height:5.8;margin:10px 0;  text-align:center;border-top:2px solid #666;border-bottom:1px solid #666;}

/* common */
.hide{display:none !important}

/* common button */
.btnBlue01{display:inline-block;padding:1px 12px;height:17px;line-height:1.7;color:#fff;font-size:0.92em;border:1px solid #4b6de6;background:#6b87ec}

/* Text overflow with ellipsis */
.ellipsis{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/* .ellipsis_2{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;display:-moz-box;display:box;-webkit-line-clamp:2;-moz-line-clamp:2;line-clamp:2;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;word-wrap:break-word;} */
