@charset "utf-8";
@import url("layout.css");
@import url("common.css");
@media print {
	
	body {margin: 10mm 15mm 10mm 15mm !important;}
	html {margin:0 6cm}
	.board_view_tp02 tbody tr th {}
	.popup {position:relative;top:0 !important;left:0 !important;background:#fff ;width:500px;height: 550px !important;margin:0 auto;-webkit-print-color-adjust:exact;box-shadow:none;}
	.board_view_tp02 tbody tr td {border-bottom:1px solid #000;}
	.board_view_tp02 tbody tr th {border-bottom:1px solid #000;border-right:1px solid #000;}
	
	#wrap {display:none;}
	.non-printable, .popup .pop_close {display:none;}
	
}

/*=================================================================================
 * Style Import
 =================================================================================*/
@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('http://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@font-face { /* 나눔고딕 Regular */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face { /* 나눔고딕 Bold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face { /* 나눔고딕 ExtraBold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}

/*=================================================================================
 * Default Tag Style
 =================================================================================*/
html {height:100%;}
html, body {margin:0; padding:0;}
body {height:100%;background:#fff;font-size:14px; color:#000; font-family: 'Nanum Gothic', sans-serif;font-weight:400;-webkit-font-smoothing: antialiased;}
div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, fieldset, p, a, iframe, span, img, input, table, th, td {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:12px;}
ol, ul {list-style:none;}
fieldset {border:none;}
legend, caption {display:none;}
i,cite,em,var,address,dfn{font-style:normal;}
img {border:0;vertical-align:middle;}

table, th, td {border-collapse:collapse;}

input, select, textarea, button, input.button, input.check, input.radio {margin:0; padding:0;font-family: 'Nanum Gothic', sans-serif;vertical-align:middle;font-weight:400;font-size:14px;color:#666;}

input.text, textarea.text {border-top:1px solid #a2a2a2;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:1px solid #a2a2a2;padding:4px 0 7px 5px;}
input.text {width:200px;}
input.image {}
input.check {vertical-align:middle;margin-top:-2px;}
input[type = radio] {vertical-align:middle;margin-top:-2px;margin-right:2px;}
input[type = checkbox] {vertical-align:middle;margin-top:-2px;margin-right:2px;}
input[type = text]:disabled, select:disabled {background:#eee;}
input.file {height:25px;}
input.button {height:23px;padding:0 10px 0 10px;margin-left:2px;}
button {cursor:pointer;border:1px solid transparent;;background:none;color:#666;padding:0;margin:0;}
button:focus {
	outline:2px;
	border:1px solid #5a86a7;
}


a:link,  a:visited {color:#666;text-decoration:none;}
a:hover,  a:active {color:#666;text-decoration:underline;}

*{
   -webkit-box-sizing: border-box;
      -mox-box-sizing: border-box;
               box-sizing:border-box;
}

input::-webkit-input-placeholder {
    color:    #b1b1b1;
		font-weight:300;
}
