@charset "utf-8";

#wrap {min-width:1200px;background:#fff;}
#skipNavi a{position:absolute;top:-300px;left:0;z-index:40;width:100%;margin:0 auto;}
#skipNavi a:focus { display:block; left:0; top:0; z-index:10000000000; height:40px; line-height:40px; background:#e0223c; color:#fff; text-align:center;}
.header_wrap {width:100%;min-height:140px;margin-bottom:30px;position:relative;background:#f3f4f6 url(../img/top_bg.gif) repeat-x left top;}
.header_wrap:after {width:100%;height:0px;position:absolute;top:140px;left:0;width:100%;background:#fff;/*border-bottom:1px solid #eee;*/content:""; display:block; clear:both;z-index:5;transition:.4s ease all;}
.header_wrap.on:after {height:249px;}
header {width:1200px;margin:0 auto;position:relative;}
header h1 {position:absolute;top:62px;left:0;}
header .t_group {padding:10px 0 0 0;text-align:right;}
header .t_group2 {text-align: left;}
header .t_group ul li {display:inline-block;}
header .t_group ul li a {padding:0 8px 0 8px;display:block;background:url(../img/t_line.gif) no-repeat left 50%;}
header .t_group ul li:first-child a {background:none;}

#gnb {margin:43px 0 0 175px;}
#gnb:after {content:""; display:block; clear:both;}
#gnb > ul > li {width:140px;float:left;position:relative;}
#gnb > ul > li > a {height:70px;padding:26px 0 0 0;display:block;font-size:18px;color:#000;text-align:center;font-weight:700;text-decoration:none;}
#gnb > ul > li > a:hover, #gnb > ul > li > a:focus, #gnb > ul > li.active > a, #gnb > ul > li.selected > a {color:#e0223b;}
#gnb > ul > li > a:before {width:0px;height:3px;position:absolute;bottom:-1px;left:50%;background:#e0223b;content:""; display:block; clear:both;transition:.2s ease all;z-index:10;}
#gnb > ul > li > a:after {width:0px;height:3px;position:absolute;bottom:-1px;right:50%;background:#e0223b;content:""; display:block; clear:both;transition:.2s ease all;z-index:10;}
#gnb > ul > li > a:hover:before, #gnb > ul > li > a:focus:before, #gnb > ul > li.active > a:before, #gnb > ul > li.selected > a:before {width:50%;}
#gnb > ul > li > a:hover:after, #gnb > ul > li > a:focus:after, #gnb > ul > li.active > a:after, #gnb > ul > li.selected > a:after {width:50%;}
#gnb > ul > li > ul {width:100%;height:0px;position:absolute;top:71px;left:0;background:#fff;overflow:hidden;z-index:100;transition:.4s ease all;}
#gnb > ul > li > ul li > a {padding:7px 0 7px 0;display:block;font-size:13px;color:#000;text-align:center;}
#gnb > ul > li > ul li > a:hover, #gnb > ul > li > ul > li > a:focus {color:#e0223b;text-decoration:underline;}
.gnb_bg {height:0px;position:absolute;top:140px;left:0;width:100%;background:#fff;/*border-bottom:1px solid #eee;*/z-index:90;box-shadow:0px 10px 20px rgba(0,0,0,.2);transition:.4s ease all;}
header .allmenu {/*position:absolute;top:67px;left:0;width:100%;height:500px;background:red;*/}
header .allmenu .all {width:50px;height:65px;position:absolute;top:75px;left:900px;background:url(../img/ico_allmenu.png) no-repeat center 20px;text-indent:-10000px;z-index:900;transition:.4s ease all;}
header .allmenu.on .all {background:#e0223c url(/culturen/resources/img/ico_allmenu_close.png) no-repeat center 20px;}
header .allmenu .all_list {height:0px;position:absolute;top:140px;left:115px;background:#fff;z-index:900;overflow:hidden;transition:.4s ease all;}
header .allmenu.on .all_list {height:250px;}
header .allmenu .all_list:after {content:""; display:block; clear:both;}
header .allmenu .all_list > ul {display:none;}
header .allmenu.on .all_list > ul {display:block;}
header .allmenu .all_list > ul > li {width:140px;height:250px;float:left;display:block;position:relative;top:0;bottom:0;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;}
header .allmenu .all_list > ul > li:first-child {border-left:1px solid #eaeaea;}
header .allmenu .all_list a {padding:5px 0 5px 18px;display:block;font-size:13px;color:#000;}
header .allmenu .all_list > ul > li > a {padding-top:15px;color:#e0223b;}
header .allmenu .all_list > ul > li a:hover, header .allmenu .all_list > ul > li a:focus {color:#e0223b;text-decoration:underline;}
header .t_search_wrap {width:200px;position:absolute;bottom:20px;right:0;border-bottom:2px solid #000;}
header .t_search_wrap:before {width:0px;height:2px;position:absolute;bottom:-2px;left:50%;background:#e0223b;content:""; display:block; clear:both;transition:.2s ease all;}
header .t_search_wrap:after {width:0px;height:2px;position:absolute;bottom:-2px;right:50%;background:#e0223b;content:""; display:block; clear:both;transition:.2s ease all;}
header .t_search_wrap.on:before {width:50%;}
header .t_search_wrap.on:after {width:50%;}
header .t_search_wrap input {width:85%;font-size:12px;border:none;padding-left:0;}
header .t_search_wrap .btn_search {width:30px;height:30px;position:absolute;bottom:0px;right:0;}

.container {min-height:700px;}
.container .container_body {width:1200px;margin:0 auto;padding:0 0 60px 0;position:relative;}

.lnb_view .container_body {padding-left:200px;}
.lnb_view .lnb {width:160px;position:absolute;top:0px;left:0;}
.lnb_view .lnb h2 {padding:20px 0 20px 0;margin-bottom:3px;border-bottom:2px solid #000;font-family:'NanumBarunGothic';font-size:27px;font-weight:400;}
.lnb_view .lnb ul li {border-bottom:1px solid #eee;}
.lnb_view .lnb ul li a {height:40px;padding:10px 0 0 0;display:block;color:#000;}
.lnb_view .lnb ul li.selected a {color:#c40715;}

/* .abs_menu {margin-top:-30px;margin-bottom:30px;background:#f1f1f1;} */
.abs_menu {margin-top:0px;margin-bottom:30px;background:#f1f1f1;}
.abs_menu_body {width:1200px;height:45px;margin:0 auto;position:relative;}
.abs_menu_body:after {content:""; display:block; clear:both;}
.abs_menu_body ul {position:absolute;top:0px;left:0;}
.abs_menu_body ul.sm03 {left:280px;}
.abs_menu_body ul.sm04 {left:510px;}
.abs_menu_body ul.sm05 {left:630px;}
.abs_menu_body ul li {float:left;}
.abs_menu_body ul li a {height:45px;padding:12px 15px 0 15px;display:block;color:#000;}
.abs_menu_body ul li a:hover {color:#e0223b;text-decoration:underline;}
.abs_menu_body ul li.selected a {color:#c40715;}

.title_wrap {padding:20px 0 35px 0;text-align:center;}
.title_wrap h2 {padding:0 0 17px 0;font-family:'NanumBarunGothic';font-size:35px;font-weight:400;}
.title_wrap p {font-size:16px;color:#666;}
.title_wrap p.date {color:#de0615;}

.h2_box {padding:50px 0 20px 0;position:relative;}
.h2_box:after {content:""; display:block; clear:both;}
.h2_box h2 {font-family:'NanumBarunGothic';font-size:24px;font-weight:400;}
.h2_box .r_box {position:absolute;bottom:10px;right:0;}

.event_list:after {content:""; display:block; clear:both;}
.event_list ul li {width:49.1%;height:240px;padding:20px;margin-top:20px;float:left;border:1px solid #eee;}
.event_list ul li:nth-child(1), .event_list ul li:nth-child(2) {margin-top:0px;}
.event_list ul li:nth-child(even) {float:right;}
.event_list ul li:after {content:""; display:block; clear:both;}
.event_list ul li .pic {width:148px;height:200px;margin-right:25px;float:left;overflow:hidden;}
.event_list ul li .pic img {width:148px;height:200px;}
.event_list ul li dl dt {height:60px;font-size:18px;font-weight:700;line-height:26px;}
.event_list ul li dl dt a {color:#000;}
.event_list ul li dl dt a:hover {text-decoration:underline;}
.event_list ul li dl dd {padding:0 0 10px 0;font-size:13px;color:#666;}
.event_list ul li dl dd span.tit {font-weight:700;}
.event_list ul li dl dd.label {padding:0;}
.event_list ul li dl dd.first {padding-top:15px;}
.tp_normal ul li {height:190px;}
.tp_normal ul li .pic {width:217px;height:170px;padding:0 0 15px;}
.tp_normal ul li .pic img {width:250px;height:150px;}
.event_view {padding:50px;border-top:2px solid #000;border-bottom:2px solid #eee;text-align:center;}
.ev_tab {padding:0 0 40px 0;text-align:center;}
.ev_tab:after {content:""; display:block; clear:both;}
.ev_tab ul {font-size:0px;line-height:0px;}
.ev_tab ul li {display:inline-block;}
.ev_tab ul li a {width:150px;height:40px;display:block;margin-right:-1px;border:1px solid #ddd;font-size:14px;line-height:36px;font-weight:700;}
.ev_tab ul li a.on {background:#000;border-bottom:1px solid #ddd;color:#fff;}
.search_ev_list ul li .pic {width:130px;}
.search_ev_list ul li .pic img {width:100%;}
.search_ev_list ul li dl {width:390px;height:175px;position:relative;float:left;}
.search_ev_list ul li dl dt {height:auto;padding:10px 0 10px 0;}
.search_ev_list ul li dl dd {padding:0;}
.search_ev_list ul li dl dd.txt {line-height:24px;}
.search_ev_list ul li dl dd .ico_btn {position:absolute;bottom:0px;left:0;}

.search_list {padding-top:10px;border-top:2px solid #000;border-bottom:1px solid #eee;}
.search_list ul li {border-bottom:1px solid #eee;vertical-align:middle;}
.search_list ul li a {min-height:50px;padding:15px 0 15px 30px;display:block;font-size:16px;font-weight:700;color:#000;}
.search_list ul li a:hover {text-decoration:underline;}
.search_list ul li a .location {padding:0 0 5px 0;display:block;font-size:13px;color:#666;font-weight:400;}

.interest_list {margin-top:30px;border-top:2px solid #000;border-bottom:1px solid #eee;}
.interest_list:after {content:""; display:block; clear:both;}
.interest_list ul li {width:50%;padding:30px 0 30px 0;margin-bottom:-1px;float:left;border-bottom:1px solid #eee;height:240px;}
.interest_list ul li:after {content:""; display:block; clear:both;}
.interest_list .check_b_wrap {width:170px;padding:0 20px 0 20px;float:left;position:relative;}
.interest_list .check_b_wrap .pic img {width:128px;height:173px;}
.interest_list .check_b_wrap .ico {margin-top:0;position:absolute;top:0px;left:0px;}
.interest_list ul li dl {width:260px;height:175px;position:relative;float:left;}
.interest_list ul li dl dt {padding:10px 0 10px 0;font-size:16px;font-weight:700;color:#000;line-height:24px;}
.interest_list ul li dl dd.txt {min-height:80px;padding:0 0 10px 0;font-size:13px;color:#666;line-height:24px;}
.interest_list ul li dl dd .ico_btn {position:absolute;bottom:0px;left:0;}

/*///// 테이블 상,하단 버튼 /////*/
.board_btn_wrap {padding:30px 0 0px 0;}
.board_btn_wrap:after {content:""; display:block; clear:both;}
.board_btn_wrap .lt_l {float:left;}
.board_btn_wrap .lt_r {float:right;}


/*///// 리스트 테이블 /////*/
.board_list {width:100%;border-top:2px solid #000;}
.board_list thead tr th {padding:15px 0 15px 0;background:#f8f8f8;border-bottom:1px solid #ddd;font-size:16px;font-weight:700;color:#666;}
.board_list tbody tr td {padding:15px 0 15px 0;border-bottom:1px solid #eee;color:#666;text-align:center;}
.board_list tbody tr td.subject {padding-left:10px;font-size:16px;font-weight:700;color:#000;}
.board_list tbody tr td.subject a {color:#000;}

.board_list02 {width:100%;border-top:2px solid #000;}
.board_list02 thead tr th, .board_list02 tbody tr th {height:45px;background:#fff;border-bottom:1px solid #ddd;border-left:1px solid #ddd;font-size:14px;font-weight:700;color:#666;}
.board_list02 thead tr th {background:#f8f8f8;}
.board_list02 thead tr th.white {background:#fff;}
.board_list02 thead tr th:first-child, .board_list02 tbody tr th:first-child, .board_list02 tbody tr td:first-child {border-left:none;}
.board_list02 tbody tr td {padding:5px 0 5px 15px;border-bottom:1px solid #ddd;border-left:1px solid #ddd;color:#666;text-align:center;}
.calcul_td tbody tr td {position:relative}
.calcul_td tbody tr td:after {width:18px;height:18px;position:absolute;top:13px;right:-9px;content:""; display:block; clear:both;}
.calcul_td tbody tr td.plus:after {background:url(../img/ico_plus.png) no-repeat left top;}
.calcul_td tbody tr td.minus:after {background:url(../img/ico_minus.png) no-repeat left top;}
.calcul_td tbody tr td.equal:after {background:url(../img/ico_equal.png) no-repeat left top;}

.writen_list tr:nth-child(even) {background:#f8f8f8;}
.writen_list tr:nth-child(even) {display:none;}
.writen_list tr:nth-child(even) td {padding:20px;text-align:left;line-height:24px;}

.faq_list tbody tr td.subject {font-weight:400;}
.faq_list tbody tr td.subject .ico, .faq_list tbody tr td .answer .ico {width:26px;height:26px;margin-right:10px;display:inline-block;vertical-align:middle;text-indent:-10000px;}
.faq_list tbody tr td.subject .ico {background:url(../img/ico_question.png) no-repeat 50% 50%;}
.faq_list tbody tr td .answer {padding:0 0 0 150px;position:relative;}
.faq_list tbody tr td .answer .ico {position:absolute;top:0px;left:110px;background:url(/culturen/resources/img/ico_answer.png) no-repeat 50% 50%;}
.faq_list tbody tr td a.on {font-weight:700;}

.bd_l_line thead tr th {font-size:14px;padding:12px 0 12px 0;}
.bd_l_line tbody tr td {height:50px;font-size:13px;padding:7px 0 7px 0;}
.bd_l_line thead tr th, .bd_l_line tbody tr td {border-left:1px solid #eee;}
.bd_l_line thead tr th:first-child, .bd_l_line tbody tr td:first-child {border-left:none;}
.bd_l_line tbody tr td.subject {font-size:14px;font-weight:400;}
.bd_l_line tbody tr td.al {padding-left:10px;}

.t_radio {height:40px;margin-top:-30px;padding-top:5px;}
.t_radio:after {content:""; display:block; clear:both;}
.t_radio .radio_g_inlineblock .item {padding:0 0 0 10px;}

/*///// 게시판 상단 검색 /////*/
.board_search_wrap {padding:0px 0 50px 0;position:relative;}
.board_search_wrap:after {content:""; display:block; clear:both;}
.board_search_wrap .scr_elem {float:left;}
.board_search_body:after {content:""; display:block; clear:both;}
/*.board_search_body {float:right;}*/
.board_search_wrap .btn_search {min-width:80px;height:40px;border:none;border-radius:0px;background:#000;color:#fff;}
.board_search_wrap .comm_input {height:40px;margin-right:-1px;border-radius:0;}
.board_search_wrap .tit {padding:0 10px 0 0;display:inline-block;font-weight:700;color:#000;vertical-align:middle;}
.sort_wrap {padding:10px 30px 10px 30px;margin-bottom:40px;border:1px solid #eee;background:#f8f8f8;}
.sort_wrap .btn, .sort_wrap .comm_input {font-size:13px;}
.board_search_wrap .ast_box {position:absolute;bottom:0px;right:0px;}

.search_tab {padding:10px 30px 10px 30px;margin-bottom:40px;border:1px solid #eee;background:#f8f8f8;text-align:center;}
.search_tab:after {content:""; display:block; clear:both;}
.search_tab ul li {display:inline-block;}
.search_tab ul li:after {margin:0 -6px 0 -6px;content:"ㅣ"; display:inline-block; clear:both;vertical-align:middle;color:#aaa;}
.search_tab ul li a {min-width:90px;height:36px;padding:9px 30px 0 30px;display:inline-block;font-weight:700;vertical-align:middle;}
.search_tab ul li a span {color:#c40715;}
.search_tab ul li.selected a span {color:#fff;}
.search_tab ul li.selected a {background:#c40715;border-radius:3px;color:#fff !important;}

/*///// 테이블 읽기/쓰기 /////*/
.board_view_tp01 {padding-bottom:50px;border-top:2px solid #000;/*border-bottom:1px solid #eee;*/}
.board_view_tp01 .view_tit {padding:15px 0 15px 0;background:#f8f8f8;border-bottom:1px solid #ddd;font-size:16px;font-weight:700;color:#000;text-align:center;}
.board_view_tp01 .cont {padding:30px 30px 0px 30px;line-height:24px;}
.board_view_tp01 .cont p {padding:0 0 20px 0;}

.board_view_tp02 {width:100%;border-top:2px solid #000;}
.board_view_tp02 tbody tr th {padding:10px 0 10px 30px;background:#f8f8f8;border-bottom:1px solid #eee;border-right:1px solid #eee;font-weight:700;color:#666;text-align:left;}
.board_view_tp02 tbody tr td:last-child {border-right:none;}
.board_view_tp02 tbody tr td {height:40px;padding:10px 0 10px 15px;border-bottom:1px solid #eee;color:#666;border-right:1px solid #eee;}
.board_view_tp02 tbody tr td.subject {font-size:16px;font-weight:700;color:#000;}
.board_view_tp02 tbody tr td.subject a {color:#000;}
.board_view_tp02 tbody tr td.pic {padding:20px;}
.board_view_tp02 tbody tr td.pic img {width:150px;}
.board_view_tp02 tbody tr td.tit {padding:10px 0 10px 30px;background:#f8f8f8;border-bottom:1px solid #eee;border-right:1px solid #eee;font-weight:700;color:#666;text-align:left;}

.board_view_tp03 {width:100%;border-top:2px solid #000;line-height:22px;}
.board_view_tp03 tbody tr th {padding:10px 0 10px 30px;background:#f8f8f8;border-bottom:1px solid #eee;border-right:1px solid #eee;font-weight:700;color:#666;text-align:left;}
.board_view_tp03 tbody tr td:last-child {border-right:none;}
.board_view_tp03 tbody tr td {height:50px;padding:10px 0 10px 15px;border-bottom:1px solid #eee;color:#666;border-right:1px solid #eee;font-size:13px;}
.board_view_tp03 tbody tr td.subject {font-size:16px;font-weight:700;color:#000;}
.board_view_tp03 tbody tr td.subject a {color:#000;}
.board_view_tp03 tbody tr td.pic {padding:20px;}
.board_view_tp03 tbody tr td.pic img {width:150px;}
.board_view_tp03 tbody tr td.tit {padding:10px 0 10px 30px;background:#f8f8f8;border-bottom:1px solid #eee;border-right:1px solid #eee;font-weight:700;color:#666;text-align:left;}

.s_table {width:100%;border:1px solid #eee;}
.s_table thead tr th {padding:10px 0 10px 0px;border-bottom:1px solid #eee;border-right:1px solid #eee;background:#f8f8f8;text-align:center;}
.s_table tbody tr th {padding:10px 0 10px 30px;background:#fff;border-bottom:1px solid #eee;border-right:1px solid #eee;font-weight:700;color:#666;text-align:left;}
.s_table tbody tr td:last-child {border-right:none;}
.s_table tbody tr td {min-height:40px;padding:10px 0 10px 15px;border-bottom:1px solid #eee;color:#666;border-right:1px solid #eee;}

.inf_note_wrap {font-size:13px;color:#666;line-height:22px;}
.inf_note_wrap h3 {padding:30px 0 15px 0;font-size:16px;color:#000;}
.inf_note_wrap .list_ty01 li {padding:0 0 10px 0;}
.inf_note_wrap .list_ty01 li ul {padding:5px 0 0 15px;}
.inf_note_wrap .list_ty01 li ul li {padding:0 0 0px 0;}
.inf_note_wrap .list_ty02 li {padding:0 0 0px 0;}
.inf_note_wrap .list_ty02 li ul {padding:5px 0 0 15px;}
.inf_note_wrap .list_ty02 li ul li {padding:0 0 0px 0;}

.pannel {border:1px solid #ddd;}
.pannel .pannel_header {padding:15px 0 15px 30px;background:#f8f8f8;}
.pannel .pannel_header h2 {font-size:16px;font-weight:700;color:#000;}
.pannel .pannel_header h2.ico {padding:0 0 0 25px;background:url(../img/ico_check02.png) no-repeat left 50%;}
.pannel .pannel_body {padding:30px;line-height:24px;}

.thum_list {border-top:2px solid #000;line-height:24px;}
.thum_list ul li:after {content:""; display:block; clear:both;}
.thum_list ul li {padding:30px 20px 30px 20px;border-bottom:1px solid #eee;}
.thum_list ul li .pic {float:left;width: 200px;text-align: center;background: #f1f1f1;}
.thum_list ul li .con_box {width:930px;float:right;font-size:13px;color:#666;}
.thum_list ul li .con_box .subject {font-weight:700;color:#000;} 
.thum_list ul li .con_box .tit {padding:15px 0 35px 0;font-family:'NanumBarunGothic';font-size:24px;color:#000;} 
.thum_list ul li .con_box .txt {} 
.thum_list ul li a:hover p {text-decoration:underline;}

/*///// 페이징 /////*/

.pageing {padding:40px 0 0 0;text-align:center;}
.pageing a, .pageing span, .pageing strong {display:inline-block;vertical-align:middle;color:#000;}
.pageing a, .pageing strong {padding:2px 0 3px 0;}
.pageing span a, .pageing strong {width:25px;color:#000;}
.pageing span a:hover {}
.pageing strong {color:#e0233b;text-decoration:underline;}
.pageing .first, .pageing .prev, .pageing .next, .pageing .last {width:25px;background:rgba(255,255,255,.05);overflow:hidden;border:1px solid #e3e3e3;}
.pageing .first span, .pageing .prev span, .pageing .next span, .pageing .last span {width:100%;text-indent:-10000px;}
.pageing .first:hover, .pageing .prev:hover, .pageing .next:hover, .pageing .last:hover {}
.pageing .first, .pageing .last {width:25px;}
.pageing .first span {background: url(/culturen/resources/img/page_first.png) no-repeat center 50%;}
.pageing .prev span {background: url(/culturen/resources/img/page_prev.png) no-repeat center 50%;}
.pageing .next span {background: url(/culturen/resources/img/page_next.png) no-repeat center 50%;}
.pageing .last span {background: url(/culturen/resources/img/page_last.png) no-repeat center 50%;}
.pageing .prev {margin-right:10px;}
.pageing .next {margin-left:10px;}

.concert_list {}
.concert_list:after {content:""; display:block; clear:both;}
.concert_list > ul > li {margin-right:50px;float:left;width:200px;height:346px;}
.concert_list > ul > li .pic {width:200px;height:270px;position:relative;background:#000;overflow:hidden;}
.concert_list > ul > li a {display:block;padding:0px 0 10px 0;display:block;color:#000;text-align:center;}
.concert_list > ul > li a:hover .txt {text-decoration:underline;}
.concert_list > ul > li a .pic img {width:100%;height:100%;transition:.3s ease all;}
.concert_list > ul > li a .pic ul {position:absolute;bottom:0px;left:7px;opacity:0;transition:.3s ease all;}
.concert_list > ul > li a:hover .pic ul {display:block;bottom:10px;opacity:1;}
.concert_list > ul > li a .pic ul:after {content:""; display:block; clear:both;}
.concert_list > ul > li a .pic ul li {width:86px;float:left;margin:0 0 4px 4px;padding:5px 0 5px 13px;background:#000;border-radius:3px;color:#e2c787;text-align:left;font-size:13px;}
.concert_list > ul > li a .pic ul li:before {width:18px;height:18px;margin:0 7px 0 0;vertical-align:middle;content:""; display:inline-block; clear:both;}
.concert_list > ul > li a .pic ul li.age:before {background:url(../img/ico_age.png) no-repeat left 50%;}
.concert_list > ul > li a .pic ul li.sale:before {background:url(../img/ico_sale.png) no-repeat left 50%;}
.concert_list > ul > li a .pic ul li.ev:before {background:url(../img/ico_ev.png) no-repeat left 50%;}
.concert_list > ul > li a .pic ul li.free:before {background:url(../img/ico_free.png) no-repeat left 50%;}
.concert_list > ul > li a .pic ul li.ticket:before {background:url(../img/ico_ticket02.png) no-repeat left 50%;}
.concert_list > ul > li a .pic ul li.area:before {background:url(../img/ico_area.png) no-repeat left 50%;}
.concert_list > ul > li a:hover .pic img {opacity:.45}
.concert_list > ul > li:nth-child(5n+5) {margin-right:0px;}
.concert_list > ul > li .txt {padding:12px 0 35px 0;font-weight:700;line-height:1.3;}
.list_more {width:100%;height:50px;padding:0px 50px 2px 50px;display:inline-block;border:1px solid #eee;background:#f8f8f8;border-radius:3px;font-size:14px;font-weight:400;transition:.3s ease all;}
.list_more:hover {border:1px solid #757575;background:#fff;color:#000;}

.reser_list {border:1px solid #ddd;border-top:2px solid #000;}
.reser_list ul li {border-top:1px solid #ddd;}
.reser_list ul li:first-child {border-top:none;}
.reser_list ul li dl {width:100%;display:table;table-layout:fixed;}
.reser_list ul li dl dt, .reser_list ul li dl dd {padding:10px 0 10px 0;display:table-cell;font-size:13px;}
.reser_list ul li dl dt {width:50%;padding-left:20px;}
.reser_list ul li dl dt a {display:block;font-size:16px;font-weight:700;color:#000;}
.reser_list ul li dl dd {text-align:center;}
.reser_list ul li dl dd.date {width:20%;color:#666;}
.reser_list ul li dl dd.place {width:15%;}
.reser_list ul li dl dd.detail {width:15%;}
.reser_list ul li.poster {padding:50px 0 50px 0;background:#f8f8f8;text-align:center;}

.concert_detail h2.tit {padding:30px 0 15px 0;font-family:'NanumBarunGothic';font-size:27px;}
.concert_detail h2 .area {font-size:18px;}
.detail_body {padding:30px 0 50px 0;border-top:2px solid #000;}
.detail_body:after {content:""; display:block; clear:both;}
.detail_body .lt_left {width:350px;float:left;}
.detail_body .lt_left .poster {width:300px;}
.detail_body .lt_left .poster img {width:100%;}
.detail_body .lt_right {width:845px;float:left;}
.detail_body .lt_right .detail_info {min-height:330px;border-bottom:1px solid #eee;}
.detail_body .lt_right .detail_info:after {content:""; display:block; clear:both;}
.detail_body .lt_right .detail_info span {display:inline-block;}
.detail_body .lt_right .detail_info .dafault_list {width:400px;float:left;}
.detail_body .lt_right .detail_info .dafault_list ul li {padding:0 20px 20px 75px;position:relative; line-height:1.4;}
.detail_body .lt_right .detail_info .dafault_list .tit {width:75px;position:absolute;top:0px;left:0px;font-size:13px;font-weight:700;}
.detail_body .lt_right .detail_info .hidden {display:none;}
.detail_body .lt_right .detail_info .info_list_wrap {width:445px;float:left;}
.detail_body .lt_right .detail_info .info_list {padding:0 0 30px 75px;position:relative;}
.detail_body .lt_right .detail_info .info_list:after {content:""; display:block; clear:both;}
.detail_body .lt_right .detail_info .info_list h3 {position:absolute;top:0px;left:0px;}
.detail_body .lt_right .detail_info .info_list ul:after {content:""; display:block; clear:both;}
.detail_body .lt_right .detail_info .info_list ul li {padding:0 0 15px 0;}
.detail_body .lt_right .detail_info .info_list ul li .tit {padding:0 15px 0 0;}
.detail_body .lt_right .detail_info .tit_fixed ul li {width:50%;float:left;}
.detail_body .lt_right .detail_info .tit_fixed ul li .tit {width:60px;padding:0;}
.detail_body .lt_right .detail_info .tit_fixed ul li .price {width:70px;color:#e0223b;text-align:right;}
.lt_right .detail_btm {padding:25px 0 0 0;}
.lt_right .detail_btm:after {content:""; display:block; clear:both;}
.lt_right .detail_btm .btm_l {float:left;padding:20px 0 0 0;}
.lt_right .detail_btm .btm_r {float:right;}
.sail_info {position:relative;}
.layer_on .layer_pop {display:block !important;}
.sail_info ul li {width:100% !important;}
.sail_info ul:after {content:""; display:block; clear:both;}

.detail_v_tab {padding:0 0 10px 0;text-align:center;}
.detail_v_tab:after {content:""; display:block; clear:both;}
.detail_v_tab ul {font-size:0px;line-height:0px;letter-spacing: -4px;}
.detail_v_tab ul li {width:14.25%;display:inline-block;letter-spacing: 0px;}
.detail_v_tab ul li a {height:50px;display:block;margin-right:-1px;position:relative;border:1px solid #ddd;font-size:14px;line-height:48px;font-weight:700;}
.detail_v_tab ul li a .ico_event {position:absolute;top:0px;left:0px;}
.detail_v_tab ul li a.on {background:#000;border-bottom:1px solid #ddd;color:#fff;}

.detail_con {padding:30px 0 30px 0;text-align:center;}

.cancle_info_list:after {content:""; display:block; clear:both;}
.cancle_info_list li {width:50%;padding: 7px 0 0 0 !important;float:left;}

.comment_outer {padding:0 0 50px 0;border-bottom:1px solid #eee;}
.comment_wrap {border-top:2px solid #000;margin-top:10px;}
.comment_wrap ul li:after {content:""; display:block; clear:both;}
.comment_wrap ul li {padding:15px 0 15px 0;border-bottom:1px solid #eee;line-height:22px;}
.comment_wrap ul li .lt_left {float:left;}
.comment_wrap ul li .lt_left:after, .comment_wrap ul li .lt_right:after {content:""; display:block; clear:both;}
.comment_wrap ul li .lt_right {float:right;}
.comment_wrap ul li .lt_left div, .comment_wrap ul li .lt_right div {float:left;}
.comment_wrap ul li .lt_right div {padding:0 20px 0 0;font-size:13px;color:#666;}
.comment_wrap ul li .lt_right div button {padding:0 5px 0 5px;font-size:13px;text-decoration:underline;}
.comment_wrap ul li .lt_left .star {width:200px;padding:0 0 0 18px;}
.comment_wrap ul li .lt_left .txt {max-width:700px;}
.comment_wrap ul li.comment_write {padding:10px 0 10px 0;border-bottom:1px solid #ddd;}
.comment_wrap ul li.comment_write .lt_left {width:100%;}
.comment_wrap ul li.comment_write .lt_left .txt {width:1000px;max-width:1000px;}
.comment_wrap ul li.comment_write .writer {padding:0 0 10px 0;}
.comment_wrap ul li.comment_write .writer label {width:100px;display:inline-block;font-weight:700;text-align:center;}
.comment_wrap ul li.comment_write .write_btn_g {float:none;}
.comment_wrap ul li.comment_write .star_sel {width:200px;padding:0 0 0 18px;}
.comment_wrap ul li.comment_write .star_sel:after {content:""; display:block; clear:both;}
.comment_wrap ul li.comment_write .star_sel label {line-height:0;font-size:0;display: block;}
.comment_wrap ul li.comment_write .star_sel span {width:30px;height:35px;display:block;float:left;position:relative;background:url(/culturen/resources/img/evaluation_bg.png) no-repeat left top;}
/*.comment_wrap ul li.comment_write .star_sel span:hover {background:#000 url(../img/evaluation_bg.png) no-repeat left top;}*/
.comment_wrap ul li.comment_write .star_sel span input {width:24px;height:35px;opacity:0;cursor:pointer;}
.comment_wrap ul li.comment_write .star_sel .dafault_bg {position:relative;background:#ddd;}
.comment_wrap ul li.comment_write .star_sel .dafault_bg .bar {width:0px;position:absolute;top:0px;left:0px;background:#de0615;transition:.3s ease all;}

.re_comment {color:#666;}
.re_comment .lt_left .txt {padding:0 0 0 60px;;position:relative;}
.re_comment .lt_left .txt:before {width:50px;height:10px;position:absolute;top:0px;left:0px;background:url(../img/ico_comment.gif) no-repeat right top;content:""; display:block; clear:both;}

.write_btn_g:after {content:""; display:block; clear:both;}
.write_btn_g {padding:10px 0 0 0;float:none;}
.write_btn_g p {padding:10px 0 0 0;font-size:13px;color:#666;}
.write_evaluation {}
.write_evaluation ul li.comment_write .lt_left .txt {width:100%;max-width:100%;}
.write_evaluation ul li .lt_left .txt {max-width:900px;}
.ev_box {padding:25px 25px 15px 120px;position:relative;border:1px solid #ddd;background:#f8f8f8;}
.ev_box h2 {font-size:18px;font-weight:700;}
.ev_box p, .ev_box ul {color:#666;}
.ev_box p {padding:20px 0 20px 0;}
.ev_box ul li {padding:0 0 10px 0;}
.ev_box .ico_event {position:absolute;top:0px;left:0px;}

.place_box {padding:10px 0 20px 0;position:relative;}
.place_box:after {content:""; display:block; clear:both;}
.place_box .pic {width:250px;height:180px;margin:0 50px 0 0;float:left;border:1px solid #ddd;overflow:hidden;display:table-cell;text-align:center;vertical-align:middle;}
.place_box .logo {padding:20px;}
.place_box ul li {padding:15px 0 0 0;}
.place_box ul li .tit {width:85px;display:inline-block;font-size:13px;font-weight:700;}
.place_box .hidden {display:none;}
.place_box .d_link {position:absolute;bottom:10px;right:0px;}
.place_box .logo img {max-width:100%;max-height:100%;}
.place_box .place img {width:100%;height:100%;} 

.map_box {height:300px;border:1px solid #ddd;}

.sns_news {border:1px solid #ddd;border-top:2px solid #000;}
.sns_news:after {content:""; display:block; clear:both;}
.sns_news > ul > li {width:33.3%;height:280px;padding:20px;float:left;border-left:1px solid #ddd;}
.sns_news > ul > li:first-child {border-left:none;}
.sns_news > ul > li .con_box {height:240px;padding:0 0 0 65px;position:relative;color:#666;line-height:24px;}
.sns_news > ul > li .con_box .logo {width:50px;height:50px;border:1px solid #ddd;position:absolute;top:0px;left:0px;border-radius:50%;overflow:hidden;}
.sns_news > ul > li .con_box .logo img {width:100%}
.sns_news > ul > li .con_box strong {color:#000;}
.sns_news > ul > li .con_box .tit {padding:12px 0 12px 0;}
.sns_news > ul > li .con_box .sns_logo {position:absolute;bottom:0px;right:0px;}
.sns_news > ul > li .con_txt {height:160px;overflow:hidden;}

.actor_list {}
.actor_list:after {content:""; display:block; clear:both;}
.actor_list ul li {width:20%;padding:30px 0 0 0;float:left;}
.actor_list ul li a:hover span {text-decoration:underline;}
.actor_list ul li .pic {width:100px;height:100px;display:inline-block;vertical-align:middle;border-radius:50%;overflow:hidden;}
.actor_list ul li .pic img {width:100%;}
.actor_list ul li .info {padding:0 0 0 15px;display:inline-block;vertical-align:middle;width:120px;}
.actor_list ul li .info span {padding:0 0 10px 0;display:block;color:#666;}
.actor_list ul li .info span.tit {font-size:16px;font-weight:700;color:#000;}
.actor_list_lager {padding:0 20px 40px 20px;border-top:1px solid #000;border-bottom:1px solid #eee;}
.actor_list_lager ul li {width:25%;padding:40px 0 0 0;}
.actor_list_lager ul li .pic {width:120px;height:120px;}
.actor_list_lager ul li .pic img {width:100%;}
.actor_list_lager ul li .info span.tit {font-family:'NanumBarunGothic';font-size:24px;font-weight:400;}
.actor_list_lager ul li a {display:block;}
.actor_list_lager ul li a:hover span {text-decoration:underline;}


.cancle_info {padding:0 60px 40px 0px;}
.cancle_info > ul > li {padding:50px 0 0 0;color:#666;line-height:24px;}
.cancle_info > ul > li:first-child {padding-top:0px;}
.cancle_info h3 {padding:0 0 5px 0;font-size:16px;font-weight:700;color:#000;}
.cancle_info p {}

.actor_info {border-top:2px solid #000;}
.actor_info:after {content:""; display:block; clear:both;} 
.actor_info .pic {float:left;}
.actor_info ul {width:970px;margin-top:40px;float:right;}
.actor_info .pic {width:180px;padding:30px;background:#f8f8f8;}
.actor_info .pic img {width:100%;}
.actor_info ul li {padding:0 0 15px 0;}
.actor_info ul li .tit {width:80px;display:inline-block;font-size:13px;font-weight:700;vertical-align:top;}
.actor_info ul li .long {width:700px;display:inline-block;color:#666;line-height:24px;}


.work_list {padding:15px 0 0 0;border-top:1px solid #000;}
.work_list ul li {padding:10px 0 0 0;color:#666;}

.gallery_list {border-top:1px solid #000;}
.gallery_list:after {content:""; display:block; clear:both;}
.gallery_list ul {margin-right:-50px;}
.gallery_list ul li {padding:25px 50px 0 0;float:left;}
.gallery_list ul li:nth-child(5n+5) {padding-right:0;}

.group_list {padding:15px 0 40px 0;border-top:2px solid #000;border-bottom:1px solid #eee;}
.group_list:after {content:""; display:block; clear:both;} 
.group_list ul li {width:220px;height:200px;margin:25px 25px 0 0;float:left;position:relative;border:1px solid #eee;background:#f1f1f1;}
.group_list ul li .pic {height:150px;background:#fff;overflow:hidden;padding:20px;width:218px;text-align:center;vertical-align:middle;}
.group_list ul li .pic img {max-width:100%;max-height:100%;}
.group_list ul li .tit {padding:15px 0 0 0;font-size:13px;font-weight:700;color:#000;text-align:center;width: 200px; height: 50px; overflow: hidden; padding-left: 15px; white-space: nowrap; text-overflow: ellipsis;}
.group_list ul li a {display:block;}
.group_list ul li a:hover {text-decoration:underline;}
.group_list ul {margin-right:-25px;}
.group_list ul li:nth-child(5n+5) {margin-right:0;}

.group_info {padding:30px 0 0 0;border-top:2px solid #000;}
.group_info:after {content:""; display:block; clear:both;} 
.group_info .pic {float:left;}
.group_info ul {width:920px;margin-top:10px;float:right;}
.group_info .pic {width:250px;height:180px;padding:20px;border:1px solid #ddd;background:#fff;overflow:hidden;display:table-cell;text-align:center;vertical-align:middle;}
.group_info .pic img {max-width:100%;max-height:100%;}
.group_info ul li {padding:0 0 15px 0;}
.group_info ul li .tit {width:80px;display:inline-block;font-size:13px;font-weight:700;vertical-align:top;}
.group_info ul li .long {width:700px;display:inline-block;color:#666;line-height:24px;}

.step_img_box {width:1080px;height:100px;margin-bottom:45px;position:relative;background:url(../img/step_bg.gif) no-repeat left top;}
.step_img_box:after {content:""; display:block; clear:both;} 
.step_img_box ul li {width:280px;float:left;padding:25px 0 0 90px;}
.step_img_box ul li:first-child {width:240px;padding-left:50px;}
.step_img_box ul li span {font-size:12px;}
.step_img_box ul li p {padding:5px 0 0 0;font-size:18px;font-weight:700;color:#de0615;}
.step_txt_box {}
.step_txt_box dl {padding:25px 0 25px 0;position:relative;border-bottom:1px dashed #eee;}
.step_txt_box dl dt {padding:0 0 10px 0;font-size:16px;font-weight:700;}
.step_txt_box dl dd {color:#666;line-height:24px;}
.step_txt_box dl dd .ico_btn {width:225px;position:absolute;bottom:15px;right:0px;line-height:16px;}
.service_box {width:1080px;height:100px;display:table;padding:35px 0 0px 90px;position:relative;background:url(../img/service_bg.png) no-repeat left top;}
.service_box ul li {height:30px;display:table-cell;vertical-align:middle;padding:0 0 0 45px;background:url(../img/ico_mail.png) no-repeat left top;font-family:'NanumBarunGothic';font-size:24px;font-weight:700;color:#de0615;line-height:28px;}
.service_box ul li:first-child {padding-right:180px;background:url(../img/ico_phone.png) no-repeat left top;}
.service_box ul li a {height:30px;display:inline-block;margin:0px 0px 0px 0;font-size:18px;font-weight:400;color:#000;line-height: 28px;}

.input_active_wrap {width:400px;margin:0 auto;}

/*///// 예매하기 /////*/
.ticketing_con_wrap {}
.ticketing_tit {padding:0 0 10px 0;font-family:'NanumBarunGothic';font-size:18px;}
.ticketing_tit span {padding:0 0 0 20px;}
.ticketing_tit span:first-child {padding-left:0;font-size:27px;}
.ticketing_tab:before {width:100%;height:2px;position:absolute;top:0px;left:0px;background:#000;content:""; display:block; clear:both;} 
.ticketing_tab:after {content:""; display:block; clear:both;} 
.ticketing_tab {margin-bottom:10px;border-bottom:1px solid #ddd;position:relative;}
.ticketing_tab ul li {width:25%;float:left;}
.ticketing_tab ul li dl dt {height:40px;padding:10px 0 0 0;background:#333;font-weight:600;color:#fff;text-align:center;}
.ticketing_tab ul li dl dt span {display:inline-block;vertical-align:middle;}
.ticketing_tab ul li dl dt p:before {width:31px;height:20px;margin-right:6px;content:""; display:block; clear:both;display:inline-block;vertical-align:middle;}
.ticketing_tab ul li:nth-child(1) dl dt p:before {background:url(../img/tab_tic01.png) no-repeat right 50%;}
.ticketing_tab ul li:nth-child(2) dl dt p:before {background:url(../img/tab_tic02.png) no-repeat right 50%;}
.ticketing_tab ul li:nth-child(3) dl dt p:before {background:url(../img/tab_tic03.png) no-repeat right 50%;}
.ticketing_tab ul li:nth-child(4) dl dt p:before {background:url(../img/tab_tic04.png) no-repeat right 50%;}
.ticketing_tab ul li dl dd {height:50px;padding:17px 0 0 0;border-left:1px solid #ddd;text-align:center;}
.ticketing_tab ul li:first-child dl dd {border-left:none;}
.ticketing_tab ul li.selected dl dt {position:relative;background:#c40715;}
.ticketing_tab ul li.selected dl dt:before, 
.ticketing_tab ul li.selected dl dt:after {width:15px;position:absolute;top:0px;bottom:0px;content:""; display:block; clear:both;}
.ticketing_tab ul li.selected dl dt:before {left:0px;background:url(../img/tab_tic_left.png) no-repeat left 50%;}
.ticketing_tab ul li.selected dl dt:after {right:0px;background:url(../img/tab_tic_right.png) no-repeat left 50%;}

.tic_con_body {border-top:2px solid #000;border-bottom:1px solid #000;}
.ticket_sel_table {width:100%;display:table;}
.ticket_sel_table:after {content:""; display:block; clear:both;}
.ticket_sel_table > ul {display:table-row;}
.ticket_sel_table > ul > li {display:table-cell;padding:15px 30px 25px 30px;border-left:1px solid #e1e1e1;background:#f1f1f1;}
.ticket_sel_table > ul > li h2 {padding:0 0 20px 0;font-size:16px;font-weight:600;}
.ticket_sel_table > ul > li:nth-child(1) {width:40%;border-left:none;background:#fff;} 
.ticket_sel_table > ul > li:nth-child(2) {width:21%;}
.ticket_sel_table > ul > li:nth-child(3) {width:24%;}
.ticket_sel_table > ul > li:nth-child(4) {width:15%;}
.ticket_sel_table > ul > li ul li {background:#fff;}
.ticket_sel_table > ul > li ul li button {width:100%;height:32px;display:block;text-align:center;}
.ticket_sel_table > ul > li ul li button.selected {background:#de0615;color:#fff;}
.ticket_sel_table > ul > li .seat li {padding:0 0 15px 0;background:none;}
.ticket_sel_table > ul > li .seat li .tit:before {width:12px;height:12px;margin-right:10px;content:""; display:block; clear:both;display:inline-block;vertical-align:middle;background:#000;}
.ticket_sel_table > ul > li .seat li span {display:inline-block;vertical-align:middle;}
.ticket_sel_table > ul > li .seat li span.tit {width:120px;font-weight:600;}
.ticket_sel_table > ul > li .seat li:nth-child(1) .tit:before {background:#7c67f0;}
.ticket_sel_table > ul > li .seat li:nth-child(2) .tit:before {background:#1baa14;}
.ticket_sel_table > ul > li .seat li:nth-child(3) .tit:before {background:#1daffc;}
.ticket_sel_table > ul > li .seat li:nth-child(4) .tit:before {background:#fb7f4c;}
.ticket_sel_table > ul > li .seat li:nth-child(5) .tit:before {background:#ffd334;}
.ticket_sel_table > ul > li .seat li:nth-child(6) .tit:before {background:#87e0be;}
.ticket_sel_table > ul > li .seat li:nth-child(7) .tit:before {background:#f3427d;}

.time_sel ul, .seat_sel ul {display:none;}

.ticket_sel_table .seat_gubun {width:100%;padding:13px 0 5px 10px;position:absolute;left:0px;bottom:0px;background:#f8f8f8;border-top:1px solid #eee;z-index:10;}
.ticket_sel_table .seat_gubun .seat:after {content:""; display:block; clear:both;}
.ticket_sel_table .seat_gubun .seat {width:720px;height:50px;display:block;overflow:hidden;transition:.9s ease all;}
.ticket_sel_table .seat_gubun .seat li {padding:0 0 7px 10px;float:left;font-size:13px;}
.ticket_sel_table .seat_gubun .seat li .check_b_wrap .ico {margin-top:0px;}
.ticket_sel_table .seat_gubun .seat_more {width:60px;position:absolute;right:0px;top:0px;bottom:0px;border-left:1px solid #eee;font-size:13px;vertical-align:top;}
.ticket_sel_table .seat_gubun .seat_more span {padding:15px 0 0 0;display:block;background:url(../img/seat_arrow_up.png) no-repeat 50% top;}
.ticket_sel_table .seat_more_close .seat_more span {background:url(../img/seat_arrow_down.png) no-repeat 50% top;}
.ticket_sel_table .seat_more_close .seat {height:auto;}

.tip_use_info_txt {width:240px;padding:15px;display:none;position:absolute;left:0px;top:24px;border:1px solid #757575;background:#fff;font-size:13px;color:#666;line-height:20px;}

.seat_con_wrap {}
.seat_table:after {content:""; display:block; clear:both;}
.seat_table > ul {}
.seat_table > ul > li {height:600px;padding:0px 10px 0px 10px;}
.seat_table > ul > li h2 {padding:0 0 5px 0;}
.seat_table > ul > li:nth-child(1) {width:75%;padding:0;float:left;position:relative;} 
.seat_table > ul > li:nth-child(2) {width:25%;float:right;}
.seat_table > ul > li > ul {height:320px;padding:15px;border-top:1px solid #000;overflow:auto;}
.seat_table > ul > li > ul > li {padding:0 0 8px 0;font-size:13px;}
.seat_table > ul > li ul li {background:none;}
.seat_table .tit_wrap {padding:15px 0 0 10px;position:relative;}
.seat_table .tit_wrap:after {content:""; display:block; clear:both;}
.seat_table .tit_wrap h2 {float:left;}
.seat_table .seat_top {height:50px;border-bottom:1px solid #ddd;}
.seat_table .seat_top:after {content:""; display:block; clear:both;}
.seat_table .seat_top li {padding:6px 15px 0 0;float:right;}
.seat_table .seat_top li:first-child {padding:6px 0 0 0;float:left;}
.seat_table .seat_top label, .seat_table .seat_top select, .seat_table .seat_top button {display:inline-block;vertical-align:middle;}
.seat_table .seat_top label {padding:0 10px 0 15px;font-weight:600;}
.seat_top select {border:1px solid #ddd;padding:8px 10px 8px 10px;border-radius:4px;}
.seat_top .circle_btn {width:30px;height:30px;border:1px solid #bbb;border-radius:50%;text-indent:-10000px;}
.seat_top .plus {background:url(../img/ico_plus02.png) no-repeat 50% 50%;}
.seat_top .minus {background:url(../img/ico_minus02.png) no-repeat 50% 50%;}
.seat_top .origin {background:url(../img/ico_origin.png) no-repeat 50% 50%;}
.seat_top .refresh {width:auto;margin-left:20px;color:#222;font-weight:600;}
.seat_top .refresh:before {width:18px;height:18px;margin-right:5px;background:url(../img/ico_refresh.png) no-repeat 50% 50%;content:""; display:inline-block; clear:both;vertical-align:middle;}
.seat_content_area {height:480px;position:relative;overflow:hidden;}
.seat_content_area .area_box {width:100%;padding:50px;position:absolute;top:0;bottom:0;left:0;}
.area_box .tit {width:480px;height:56px;padding:10px 0 0 0;margin:0 auto;background:#eee;border-radius:6px;text-align:center;font-size:30px;color:#bdbdbd;font-weight:600;}
.seat_view_wrap {float:left;}
.seat_view_wrap .s_box {width:16px;height:16px;margin:0 2px 2px 0;font-size:10px;color:#fff;text-align:center;line-height:1.5;}
.seat_view_wrap .line_box {width:16px;height:16px;margin:0 2px 2px 0;font-size:11px;color:#000;text-align:center;line-height:1.5;font-weight:600;}

.tip_use_info {width:20px;height:20px;margin-left:5px;background:url(../img/ico_info.png) no-repeat 50% 50%;text-indent:-10000px;}

.mini_map {height:150px;margin:13px 0 25px 0;background:#fff;position:relative;overflow:hidden;}
.mini_map .mBox {width:100px;height:70px;position:absolute;top:50px;left:50px;border:2px solid #de0615;}
.tic_con .seat_info {height:40px;background:#f9f3e6;font-weight:600;color:#000;}
.tic_con .board_view_tp03 tr td {padding-right:10px;}
.tic_con .h2_box {padding:20px 0 15px 0;}
.tic_con .h2_box h2 {font-size:16px;font-weight:600;}
.tic_con .pannel .pannel_header {padding:8px 0 8px 30px}
.tic_con .pannel .pannel_body {padding:13px 30px 20px;}
.tic_con .pannel .pannel_body li {font-size:13px; line-height:22px;}

.info_tp01 {padding:20px;border:1px solid #eee;background:#f8f8f8;font-size:13px;color:#666;}
.info_tp01 ul li {padding:7px 0 0 0;}
.info_tp01 ul li:first-child {padding-top:0;}

.pm_box {width:80%;display:inline-block;height:32px;position:relative;overflow:hidden;}
.pm_box button {width:30px;position:absolute;top:0px;bottom:0;color:#000;}
.pm_box button.num_plus {right:0;border:1px solid #ddd;}
.pm_box button.num_minus {left:0;border:1px solid #ddd;}
.pm_box .pm_input {width:100%;height:32px;border:1px solid #ddd;text-align:center;color:#000;}

.payment_wrap {width:100%;height:55px;display:table;border-top:2px solid #000;border-bottom:1px solid #000;}
.payment_wrap .pay_tb {padding:0 0 0 15px;display:table-cell;vertical-align: middle;}
.payment_wrap .pay_how {width:15%;background:#f8f8f8;}
.payment_wrap .pay_kind {text-align:left;}
.payment_wrap .pay_kind ul:after {content:""; display:block; clear:both;}
.payment_wrap .pay_kind ul li {padding:0 30px 0 0;float:left;}


#dateSelect {padding:0 20px 0 0;margin-left:30px;position:relative;text-align:right;}
#dateSelect .ui-datepicker-calendar {width:100%;border-bottom:1px solid #eee;}
#dateSelect .ui-datepicker-calendar thead tr th {height:36px;background:#f5f5f5;border-top:1px solid #757575;border-bottom:1px solid #eee;font-size:13px;text-align:center;}
#dateSelect .ui-datepicker-calendar tbody tr td {width:30px;height:30px;padding:0px 0 7px 0;font-size:14px;text-align:center;color:#888;}
#dateSelect .ui-datepicker-calendar tbody tr td {}
#dateSelect .ui-datepicker-calendar tbody tr:first-child td {padding-top:10px;}
#dateSelect .ui-datepicker-calendar tbody tr td a {width:30px;height:30px;padding:6px 0 0 0;display:inline-block;background:#f9f3e6;border-radius:50%;color:#000;}
#dateSelect .ui-datepicker-calendar tbody tr td.ui-datepicker-today a {border:1px solid #000000;}
#dateSelect .ui-datepicker-calendar tbody tr td .ui-state-active {background:#de0615;color:#fff;}
#dateSelect .ui-datepicker-header {height:60px;position:relative;text-align:center;}
#dateSelect .ui-datepicker-header .ui-datepicker-title {font-family:'NanumBarunGothic';font-size:24px;}
#dateSelect .ui-datepicker-header .ui-datepicker-next,
#dateSelect .ui-datepicker-header .ui-datepicker-prev {width:17px;height:17px;position:absolute;top:5px;text-indent:-10000px;cursor:pointer;}
#dateSelect .ui-datepicker-header .ui-datepicker-next {right:10px;background:url(../img/cal_next.png) no-repeat left top;}
#dateSelect .ui-datepicker-header .ui-datepicker-prev {left:10px;background:url(../img/cal_prev.png) no-repeat left top;}
#dateSelect .dateGubun {position:absolute;top:40px;right:22px;font-size:12px;color:#666;}
#dateSelect .dateGubun span {display:inline-block;padding-left:10px;}
#dateSelect .dateGubun span:before {width:12px;height:12px;margin-right:5px;content:""; display:block; clear:both;display:inline-block;vertical-align:middle;background:#f9f3e6;border:1px solid #ccc;border-radius:50%;}
#dateSelect .dateGubun span:first-child:before {background:#de0615;border:none;}

/*///// 좌석색상 /////*/
.seatBg01 {background:#7c67f0;}
.seatBg02 {background:#1baa14;}
.seatBg03 {background:#1daffc;}
.seatBg04 {background:#fb7f4c;}
.seatBg05 {background:#ffd334;}
.seatBg06 {background:#87e0be;}
.seatBg07 {background:#f3427d;}
.seatBg08 {background:#9c4878;}
.seatBg09 {background:#9c7a48;}
.seatBg10 {background:#7c868d;}
.seatBg11 {background:#7c67f0;}
.seatBg12 {background:#7c67f0;}
.seatBg13 {background:#7c67f0;}
.seatBg14 {background:#7c67f0;}
.seatBg15 {background:#7c67f0;}
.seatBg16 {background:#7c67f0;}
.seatBg17 {background:#7c67f0;}
.seatBg18 {background:#7c67f0;}
.seatBg19 {background:#7c67f0;}
.seatBg20 {background:#7c67f0;}

.polc_wrap {color:#666;line-height:24px;}
.polc_wrap .h2_box {padding: 40px 0 25px 0;}
.polc_wrap .h2_box h2 {font-size:24px;color:#000;}
.polc_list {}
.polc_list > ul > li {padding:0 0 15px 0;}
.polc_list > ul > li > ul {padding:0 0 0 0;}
.polc_list .list_tit {display:inline-block;padding:0 0 5px 0;}
.polc_list .polc_tb_box {padding:5px 0px 0px 0px;}
.polc_wrap .bullet_list {padding-left:8px;}
.polc_list tr:nth-child(even) {}
.polc_list tr:nth-child(even) {}
.polc_wrap h5 {margin-bottom: 8px;color: #333;line-height: 1.45;font-size:14px;}
.polc_wrap .term { margin-bottom: 20px;overflow: hidden;line-height: 1.7;}
.polc_wrap ol {margin-bottom: 20px;}
.polc_wrap em { margin: 0 4px 1px 0; font-style: normal;}
.polc_wrap .nem {margin: 0 0 5px 15px;}
.polc_wrap .longText {display: block;overflow: hidden;margin:-22px 0 0 17px;}


.guide {}
.guide ul li {padding:10px 0 0 0;}
.guide_info {color:#666;}
.guide_info h2 {padding:40px 0 20px 0;font-size:24px;font-weight:600;color:#000;}
.guide_info h3 {padding:30px 0 15px 0;font-size:16px;font-weight:600;color:#000;}
.guide_info .txt_b p {padding:0 0 20px 0;border-bottom:1px dashed #ddd;line-height:24px;}

.custom_info {height:155px;padding:35px 0 0 50px;background:url(../img/guide_bg.gif) no-repeat left top;}
.custom_info ul li {margin:0px 0 20px 0;font-size:16px;font-weight:600;color:#000;}
.custom_info span {width:110px;height:30px;padding:6px 0 0 13px;margin-right:10px;display:inline-block;border-radius:50px;background:#de0615;vertical-align:middle;font-size:14px;color:#fff;}
.custom_info span:before {width:21px;height:17px;margin-right:5px;display:inline-block;vertical-align:middle;content:""; clear:both;}
.custom_info ul li:nth-child(1) span:before {background:url(../img/ico_phone02.png) no-repeat left top;}
.custom_info ul li:nth-child(2) span:before {background:url(../img/ico_clock.png) no-repeat left top;}

.intro_info {width:1200px;margin:0 auto;}
.intro_info h2 {padding:0 0 20px 0;font-size:24px;}
.intro_info ol li {padding:40px 0 30px 90px;border-bottom:1px dashed #ddd;line-height:24px;color:#666;}
.intro_info ol li:nth-child(1) {background:url(../img/num01.png) no-repeat left 40px;}
.intro_info ol li:nth-child(2) {background:url(../img/num02.png) no-repeat left 40px;}
.intro_info ol li:nth-child(3) {background:url(../img/num03.png) no-repeat left 40px;}
.intro_info ol li:nth-child(4) {background:url(../img/num04.png) no-repeat left 40px;}
.intro_info ol li:nth-child(5) {background:url(../img/num05.png) no-repeat left 40px;}
.intro_info ol li p {padding:0 0 6px 0;font-family:'NanumBarunGothic';font-size:18px;font-weight:600;color:#000;}

.benefit {margin:60px 0 65px 0;background:#eef2f8;color:#666;}
.benefit ul {width:1200px;margin:0 auto;}
.benefit ul:after {content:""; display:block; clear:both;}
.benefit ul li {width:33.3%;height:350px;float:left;text-align:center;}
.benefit ul li:nth-child(odd) {background:#e3e8f0;}
.benefit ul li:before {height:83px;margin:50px 0 20px 5px;display:block;text-align:center;content:""; clear:both;}
.benefit ul li:nth-child(1):before {background:url(../img/ico_benefit01.png) no-repeat 50% 50%;}
.benefit ul li:nth-child(2):before {background:url(../img/ico_benefit02.png) no-repeat 50% 50%;}
.benefit ul li:nth-child(3):before {background:url(../img/ico_benefit03.png) no-repeat 50% 50%;}
.benefit p {line-height:24px;}
.benefit .tit {padding:0 0 10px 0;font-family:'NanumBarunGothic';font-size:28px;color:#000;line-height:34px;}
 
.footer {min-height:170px;background: url(../img/btm_bg.gif) repeat-x left top;}
.footer .footer_body {width:1200px;margin:0 auto;}
.footer .footer_body .btm_t_wrap {height:45px;}
.footer .footer_body .btm_t_wrap:after {content:""; display:block; clear:both;}
.footer .footer_body .btm_t_wrap .link {float:left;padding:15px 0 0 0;}
.footer .footer_body .btm_t_wrap .link:after {content:""; display:block; clear:both;}
.footer .footer_body .btm_t_wrap .link li {float:left;}
.footer .footer_body .btm_t_wrap .link li a {padding:0 12px 0 12px;display:block;background:url(../img/t_line.gif) no-repeat left 50%;font-size:13px;color:#000;font-weight:700;}
.footer .footer_body .btm_t_wrap .link li:first-child a {background:none;padding-left:0;}
.footer .footer_body .btm_t_wrap .family_site {width:210px;margin:8px 0 0 0;position:relative;float:right;}
.footer .footer_body .btm_t_wrap .family_site > a {height:30px;padding:7px 0 0 10px;display:block;position:relative;border:1px solid #e6eaee;border-radius:4px;background:#fff url(../img/ico_arrow_down.gif) no-repeat 95% 50%;z-index:1;}
.footer .footer_body .btm_t_wrap .family_site > a.selected {background:#fff url(../img/ico_arrow_up.gif) no-repeat 95% 50%;}
.footer .footer_body .btm_t_wrap .family_site a {font-size:12px;text-decoration:none;}
.footer .footer_body .btm_t_wrap .family_site ul {width:100%;height:0px;position:absolute;bottom:27px;left:0;background:#fff;border:1px solid #e6eaee;overflow:hidden;transition:.5s ease all;}
.footer .footer_body .btm_t_wrap .family_site ul.on {height:107px;}
.footer .footer_body .btm_t_wrap .family_site ul li a {display:block;padding:10px 0 10px 10px;border-bottom:1px solid #e6eaee;}
.footer .footer_body .btm_t_wrap .family_site ul li a:hover {background:#f5f5f5;} 
.footer .footer_body .copy_wrap {position:relative;}
.footer .footer_body .copy_wrap .logo_g,
.footer .footer_body .copy_wrap .certify_wrap {position:absolute;top:25px;}
.footer .footer_body .copy_wrap .logo_g {left:0px;}
.footer .footer_body .copy_wrap .certify_wrap {right:0px;}
.footer .footer_body .copy_wrap address {padding:25px 0 0 350px;font-size:12px;color:#757575;line-height:22px;}
.footer .footer_body .btm_t_wrap .sns {float: left; margin: 10px 0 0 0;padding-left: 525px;}
.footer .footer_body .btm_t_wrap .sns li {float: left;}
.footer .footer_body .btm_t_wrap .sns li.snsF a {background-position: 0 0;}
.footer .footer_body .btm_t_wrap .sns li.snsT a {background-position: -30px 0;}
.footer .footer_body .btm_t_wrap .sns li.snsB a {background-position: -31px 0;}
.footer .footer_body .btm_t_wrap .sns li a {display: block;width: 30px;height: 26px;margin-left: 6px;background: url('../img/imgFootSns.png') no-repeat;}
.footer .footer_body .btm_t_wrap .sns li a span {position: absolute;top: -5000em;visibility: hidden;font-size: 0.3em;}


/*///// 버튼 /////*/
.btn {
	position:relative;
	height:36px;
	border:1px solid #ddd;
	background:#fff;
	padding:9px 20px 2px 20px;
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	border-radius:3px;
}
button.btn {padding-top:0;}

.btn_large {height:50px;padding:13px 50px 2px 50px;font-size:18px;font-weight:700;}
.btn_middle {min-width:100px;height:40px;padding:8px 30px 2px 30px;font-weight:700;}
.btn_mini {height:22px;padding:8px 10px 2px 10px;}
a.btn_mini, span.btn_mini {padding:3px 10px 2px 10px;}
a.btn_middle, span.btn_middle {padding:10px 30px 2px 30px;}

.btn_red {background:#c40715;color:#fff !important;border:none;}
.btn_dark {background:#333;color:#fff !important;border:none;}
.btn_darkGray {background:#666;color:#fff !important;border:none;}
.btn_gray {background:#888;color:#fff !important;border:none;}
.btn_lightGray {background:#eee;color:#666 !important;border:none;}
.btn_blue {background:#148adc;color:#fff !important;border:none;}
.arrow_link {padding:0 10px 0 0;display:inline-block;background: url(../img/ico_arrow_right.png) no-repeat right 50%;color:#000 !important;}
.arrow_link:hover {text-decoration:underline;}

.ico_btn {
	position:relative;
	height:30px;
	border:1px solid #757575;
	background:#fff;
	padding:6px 20px 2px 20px;
	display:inline-block;
	vertical-align:middle;
	border-radius:60px;
	font-size:13px;
	font-weight:700;
	color:#000;
}
.ico_btn span {display:inline-block;}
.ico_btn .ico {}
.ico_btn .ico_r {}
.ico_btn .ico:before, .ico_btn .ico_r:after {width:13px;height:13px;vertical-align:middle;content:""; display:inline-block; clear:both;}
.ico_btn .ico:before {margin-right:5px;}
.ico_btn .ico_r:after {margin-left:5px;}
button.ico_btn {padding-top:0;}
.ico_btn_small {height:24px;padding:8px 15px 2px 15px;}
.ico_btn_red {border:1px solid #de0615;color:#de0615 !important;}
.ico_btn_gray {border:1px solid #ddd;color:#666 !important;}
.ico_heart:before {background: url(/culturen/resources/img/ico_heart_line.png) no-repeat left top;}
.ico_s_write:before {background: url(/culturen/resources/img/ico_s_write.png) no-repeat 50% 50%;}
.ico_s_monitor:before {background: url(/culturen/resources/img/ico_s_monitor.png) no-repeat 50% 50%;}
.like_chk .ico_heart:before {background: url(/culturen/resources/img/ico_heart.png) no-repeat left top;}
.ico_interest:before {background: url(/culturen/resources/img/ico_down.png) no-repeat left top;}
.ico_arrow_dw:after {background: url(/culturen/resources/img/ico_arrow_down.gif) no-repeat left 49%;}
.ico_arrow_right:after {background: url(/culturen/resources/img/ico_arrow_right.gif) no-repeat left 49%;}
.disabled {border:none;background:#eee;color:#666 !important;cursor:default;pointer-events: none;}
.btn_like .txt {min-width:55px;text-align:left;}



/*///// 체크,라디오 버튼 /////*/
.radio_b_wrap,
.check_b_wrap {margin-right:4px;display:inline-block;position:relative;vertical-align:middle;/*overflow:hidden;*/color:#666;}
.radio_b_wrap input,
.check_b_wrap input {width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;z-index:10;}
.radio_b_wrap span.ico,
.check_b_wrap span.ico {width:13px;height:13px;position:relative;margin-top:-2px;display:inline-block;border:1px solid #7a7a7a;vertical-align:middle;text-align:center;transition:0.2s ease all; border-radius:2px;overflow:hidden;}
.radio_b_wrap span.ico:before {width:0px;height:0px;position: absolute;top:5px;left:5px;content:""; display:inline-block; clear:both;background:#212121;border-radius:50%;transition:0.2s ease all;}
.check_b_wrap span.ico:after {width:100%;height:100%;position:absolute;top:0;left:0;content:""; display:inline-block; clear:both;background: url(../img/ico_check.png) no-repeat 50% 50%;background-size:0%;opacity:0;transition:0.2s ease all;}

.radio_b_wrap input[type="radio"]:checked + span,
.check_b_wrap input[type="checkbox"]:checked + span {}
.radio_b_wrap input[type="radio"] ~ label, .check_b_wrap input[type="checkbox"] ~ label {border:1px dotted transparent;display: inline-block;}
.radio_b_wrap input[type="radio"]:checked ~ label, .radio_b_wrap input[type="radio"]:checked ~ span,
.check_b_wrap input[type="checkbox"]:checked ~ label, .check_b_wrap input[type="checkbox"]:checked ~ span {color:#000;font-weight:bold;}
.radio_b_wrap input[type="radio"]:checked + span {border:1px solid #757575;}
.check_b_wrap input[type="checkbox"]:checked + span {border:1px solid #757575}
.check_b_wrap input[type="checkbox"]:checked + span:after {opacity:1;background-size:90%;}
.radio_b_wrap span.ico {border-radius:50%;}
.radio_b_wrap input[type="radio"]:checked + span:before {width:7px;height:7px;top:2px;left:2px;}
.radio_b_wrap input[type="radio"]:focus ~ label, .check_b_wrap input[type="checkbox"]:focus ~ label {outline:2px;	border:1px dotted #000;}

.radio_g_block .item {padding:10px 0 0 0;}
.radio_g_block .item:first-child {padding:0;}
.radio_g_block .radio_child {display:none;padding:8px 0 8px 20px;transition:0.5s ease all;}
.radio_g_block .item .view {display:block;}
.radio_g_inlineblock {}
.radio_g_inlineblock .item {display:inline-block;padding:0px 30px 0 0;}
.space_small .item {padding:0px 10px 0 0;}

.no_space {margin-right: 0px;}

/*// 공통팝업  //*/
.pop_open .popup {transform:scale(1);transition:.3s ease all;}
.pop_open .imgViewPop {transform:scale(1);transition:0s ease all;}
.popup_outer {position:absolute;top:0px;left:0;z-index:10000;}
.popup {position:relative;left:0;top:0;border:1px solid #2f3b4e;background:#fff;z-index:1000;box-shadow:1px 1px 5px rgba(0,0,0,.2);/*overflow:hidden;*//* transform:scale(.8); */}
.popup .popup_h {height:50px;padding:15px 10px 10px 30px;background:#000;}
.popup .popup_h:after {content:""; display:block; clear:both;}
.popup .popup_h h2 {float:left;font-family:'NanumBarunGothic';font-size:18px;color:#fff;}
.popup .popup_c {background:#fff;}
.popup .popup_c .popup_body {padding:30px;}
.popup .popup_b {border-top:1px solid #ddd;padding:15px 15px 15px 15px;}
.popup .popup_b:after {content:""; display:block; clear:both;}
.popup .pop_close {position:absolute;right:10px;top:8px;border:1px solid transparent;}
.popup .last_btn {height:0;position:absolute;font-size:0;line-height:0;border:none;overflow:hidden;}
#youtubePop .pop_close {width:50px;height:50px;right:0px;top:-52px;background:#fff url(../img/btn_close_black.png) no-repeat 50% 50%;}
.popup .pop_close span.ico {display:inline-block;width:30px;height:30px;background:url(../img/btn_pop_close.png) no-repeat 50% 50%;text-indent:-10000px;}
.popup .pop_close .txt {display:none;}
.pop_input_box:after {content:""; display:block; clear:both;}
.pop_input_box ul li {padding:5px 0 0 0;float:left;}
.pop_input_box ul li label {width:85px;padding:0 5px 0 0;display:inline-block;text-align:right;letter-spacing:-1px;}
.pop_con_info_wrap {text-align:center;}
.pop_con_info_wrap .con_tit {padding:20px 0 0 0;font-family:'NanumBarunGothic';font-size:24px;color:#000;}
.pop_con_info_wrap .con_info {padding:20px 0 0 0;font-size:16px;color:#666;line-height:26px;}
.pop_con_info_wrap .left_txt {text-align:left;line-height:24px;}
.popup .popup_c .gray_list {padding:20px 40px 20px 40px;background:#f1f1f1;color:#666;line-height:24px;}
.youtubePop {display:block;position:relative;}
.youtubePop:after {width:100%;position:absolute;top:0px;bottom:0px;left:0;content:""; clear:both;display:inline-block;vertical-align:middle;background:url(../img/ico_play.png) no-repeat 50% 50%;background-size:30%;}

.layer_pop {display:none;position:absolute;left:-100px;top:35px;border-radius:3px;background:#fff;border:1px solid #757575;overflow:hidden;z-index:100;}
.layer_pop .popup_h {height:40px;padding:10px 0px 10px 20px;border-bottom:1px solid #ddd;}
.layer_pop .popup_h:after {content:""; display:block; clear:both;}
.layer_pop .popup_h h2 {float:left;font-size:14px;}
.layer_pop .popup_c {padding:20px;background:#fff;}
.layer_pop .pop_close {position:absolute;right:10px;top:3px;border:1px solid transparent;}
.layer_pop .pop_close span.ico {display:inline-block;width:30px;height:30px;background:url(../img/btn_close_black.png) no-repeat 50% 50%;text-indent:-10000px;}
.layer_pop .sail_info_txt {max-height:250px;}
.layer_pop .sail_info_txt li {padding:0px 0px 12px 10px !important;background:url(../img/bullet02.gif) no-repeat left 7px;font-size:13px;}

.ico_error_ticket:before, .ico_error_time:before {width:100px;height:100px;margin:0 auto 20px;margin-top:-20px;content:""; display:block; clear:both;}
.ico_error_ticket:before {background:url(../img/ico_error_ticket.png) no-repeat left top;}
.ico_error_time:before {background:url(../img/ico_error_time.png) no-repeat left top;}

.notice_pop {padding:0 10px 0 10px;background:rgba(0,0,0,.8);}
.notice_pop .popup_h {height:50px;padding:15px 0px 10px 20px;}
.notice_pop .popup_h h2 {font-family:'NanumBarunGothic';font-size:16px;color:#fff;}
.notice_pop .popup_c {background:#fff;padding:30px;color:#666;overflow:auto;}
.notice_pop .popup_b {padding:10px 0px 10px 0px;color:#fff;text-align:right;font-size:12px;}
.notice_pop .pop_close {position:absolute;right:10px;top:8px;border:1px solid transparent;}
.notice_pop .pop_con_info_wrap {text-align:left;}
.notice_pop .pop_con_info_wrap .con_tit {padding:0px 0 0 0;font-family:'NanumBarunGothic';font-size:18px;color:#000;font-weight:700;line-height:1.4;}
.notice_pop .pop_con_info_wrap .con_tit:after {width:20px;height:1px;background:#666;content:""; display:block; clear:both;margin:15px 0 15px 0;}
.notice_pop .pop_con_info_wrap .con_info {padding:0px 0 0 0;font-size:14px;line-height:1.8;}
.notice_pop .pop_close span.ico {display:inline-block;width:30px;height:30px;background:url(../img/btn_pop_close.png) no-repeat 50% 50%;text-indent:-10000px;}
.notice_pop .check_b_wrap label {color:#fff !important;}

#imgViewPop img {text-align:center;max-width:600px;}
#imgViewPop .prev, #imgViewPop .next {width:40px;height:40px;position:absolute;top:50%;text-indent:-10000px;}
#imgViewPop .prev {left:0px;background:url(../img/btn_prev.png) no-repeat 50% 50%;}
#imgViewPop .next {right:0px;background:url(../img/btn_next.png) no-repeat 50% 50%;}


.login_box {width:430px;margin:0 auto;padding:0 0 30px 0;position:relative;}
.login_box fieldset {position:relative;}
.login_box fieldset .comm_input {width:300px;height:50px;margin-top:10px;border:1px solid #ddd;font-size:16px;font-weight:300;color:#000;}
.login_box fieldset ul li:first-child .comm_input {margin-top:0;}
.login_box fieldset .comm_input:focus {border:1px solid #757575;}
.login_box .btn_g {padding:20px 0 0 0;}
.login_box .btn_g:after {content:""; display:block; clear:both;}
.login_box .btn_g .mem_link ul li {display:inline-block;}
.login_box .btn_g .mem_link ul li:before {content:"ㅣ"; display:inline-block; clear:both;color:#aaa;}
.login_box .btn_g .mem_link ul li:first-child:before {display:none;}
.login_box .btn_g .mem_link ul li a {padding:0 0 0 10px;display:inline-block;color:#000;}
.login_box .btn_g .mem_link ul li a:hover {text-decoration:underline}
.login_box .btn_g .check_b_wrap {color:#666;}
.login_box .btn_g .check_b_wrap span.txt {display:inline-block;padding:3px 0 0 3px;}
.login_box .btn_g .check_b_wrap span.ico {width:20px;height:20px;margin-top:-2px;border:none;background:url(/culturen/resources/img/ico_login_chk_off.png) no-repeat 50% 50%;}
.login_box .btn_g .check_b_wrap input[type="checkbox"]:checked + span {border:none;background:url(/culturen/resources/img/ico_login_chk.png) no-repeat 50% 50%;}
.login_box .btn_g .check_b_wrap input[type="checkbox"]:checked + span:after {display:none;}
.login_box .btn_login {width:120px;height:110px;position:absolute;right:0;top:0;}

.txt_list {padding:20px 40px 0 40px;border-top:1px solid #eee;font-size:13px;color:#666;line-height:20px;}
.txt_list ul li {padding:0 0 10px 10px;background:url(/culturen/resources/img/bullet01.gif) no-repeat left 8px;}

.inline_list li {padding:5px 10px 5px 0;display:inline-block;}

/* 문화관광 css추가 */

.map_area {width:1200px;height:250px;margin:0 0 30px 0;position:relative;border-top:2px solid #000;background:url(/culturen/resources/img/map_bg.jpg) no-repeat left top;}
.map_area_close {height:auto;}
.map_area .map_left button {width:27px;height:35px;padding:0 0 10px 0;position:absolute;background:url(/culturen/resources/img/map_marker_off.png) no-repeat left top;border:none;font-size:11px;font-weight:600;}
.map_area .map_left button:focus {border:none;}
.map_area .map_left button.selected {background:url(../img/map_marker_on.png) no-repeat left top;color:#de0615;}
.map_area .map_left button:nth-child(1) {left:115px;top:109px;}
.map_area .map_left button:nth-child(2) {left:363px;top:160px;}
.map_area .map_left button:nth-child(3) {left:450px;top:172px;}
.map_area .map_left button:nth-child(4) {left:370px;top:25px;}
.map_area .map_left button:nth-child(5) {left:328px;top:75px;}
.map_area .map_right {padding:0 30px 0 0;position:absolute;top:70px;right:0px;}
.map_area .map_right:after {/*width:620px*/;height:1px;background:#fff;position:absolute;top:45px;right:0px;content:""; display:block; clear:both;}
.map_area .map_right button {width:100px;height:120px;padding:0 0 25px 0;margin:0 0 0 7px;position:relative;background:url(../img/map_marker_b_off.png) no-repeat 50% top;font-size:13px;color:#fff;font-weight:600;z-index:10;}
.map_area .map_right button.selected {margin-top:-10px;background:url(../img/map_marker_b_on.png) no-repeat 50% top;color:#de0615;}
.map_area .map_right button .num {position:absolute;top:-12px;left:42px;font-size:12px;color:#577889;font-weight:600;}
.map_area .map_right button.selected .num {color:#de0615;}
.map_area .map_btn {position:absolute;right:0;top:-70px;font-size:12px;}
.map_area .map_pin {}
.map_area .map_btn:before {width:60px;height:45px;background:url(../img/map_close.png) no-repeat 50% 50%;content:""; display:block; clear:both;}
.map_area .map_pin:before {background:url(../img/map_marker_on.png) no-repeat 50% 50%;}

.map_area_01 {width:1200px;height:250px;margin:0 0 30px 0;position:relative;border-top:2px solid #000;background:url(../img/map_bg_01.jpg) no-repeat left top;}
.map_area_01_close {height:auto;}
.map_area_01 .map_left_00 button {width:27px;height:35px;padding:0 0 10px 0;position:absolute;background:url(../img/map_marker_off.png) no-repeat left top;border:none;font-size:11px;font-weight:600;}
.map_area_01 .map_left_00 button:focus {border:none;}
.map_area_01 .map_left_00 button.selected {background:url(../img/map_marker_on.png) no-repeat left top;color:#de0615;}
.map_area_01 .map_left_00 button:nth-child(1) {left:180px;top:125px;}
.map_area_01 .map_left_00 button:nth-child(2) {left:280px;top:165px;}
.map_area_01 .map_left_00 button:nth-child(3) {left:453px;top:180px;}
.map_area_01 .map_left_00 button:nth-child(4) {left:420px;top:65px;}
.map_area_01 .map_left_00 button:nth-child(5) {left:360px;top:105px;}
.map_area_01 .map_left_01 button {width:21px;height:35px;padding:0 5px 5px 6px;position:absolute;background:url(../img/map_marker_01_off.png) no-repeat left top;border:none;font-size:11px;font-weight:600;}
.map_area_01 .map_left_01 button:focus {border:none;}
.map_area_01 .map_left_01 button.selected {background:url(../img/map_marker_01_on.png) no-repeat left top;color:#de0615;}
.map_area_01 .map_left_01 button:nth-child(1) {left:430px;top:180px;}
.map_area_01 .map_left_01 button:nth-child(2) {left:353px;top:150px;}
.map_area_01 .map_left_01 button:nth-child(3) {left:270px;top:20px;}
.map_area_01 .map_left_01 button:nth-child(4) {left:100px;top:15px;}
.map_area_01 .map_right_00 {padding:0 30px 0 0;position:absolute;top:70px;right:0px;}
.map_area_01 .map_right_00:after {/*width:620px*/;height:1px;background:#fff;position:absolute;top:45px;right:0px;content:""; display:block; clear:both;}
.map_area_01 .map_right_00 button {width:100px;height:120px;padding:0 0 25px 0;margin:0 0 0 7px;position:relative;background:url(../img/map_marker_b_off.png) no-repeat 50% top;font-size:13px;color:#fff;font-weight:600;z-index:10;}
.map_area_01 .map_right_00 button.selected {margin-top:-10px;background:url(../img/map_marker_b_on.png) no-repeat 50% top;color:#de0615;}
.map_area_01 .map_right_00 button .num {position:absolute;top:-12px;left:42px;font-size:12px;color:#577889;font-weight:600;}
.map_area_01 .map_right_00 button.selected .num {color:#de0615;}
.map_area_01 .map_right_01 {padding:0 55px 0 0;position:absolute;top:70px;right:0px;}
.map_area_01 .map_right_01:after {/*width:620px*/;height:1px;background:#fff;position:absolute;top:45px;right:0px;content:""; display:block; clear:both;}
.map_area_01 .map_right_01 button {width:93px;height:140px;padding:0 0 35px 0;margin:0 15px;position:relative;background:url(../img/map_marker_b_01_off.png) no-repeat 50% top;font-size:13px;color:#fff;font-weight:600;z-index:10;}
.map_area_01 .map_right_01 button.selected {margin-top:-15px;padding:0 0 20px 0;background:url(../img/map_marker_b_01_on.png) no-repeat 50% top;color:#de0615;}
.map_area_01 .map_right_01 button .num {position:absolute;top:-12px;left:42px;font-size:12px;color:#577889;font-weight:600;}
.map_area_01 .map_right_01 button.selected .num {color:#de0615;}
.map_area_01 .map_right_01 button.selected.txt {color:#de0615;top:42px;left:35px;}
.map_area_01 .map_btn {position:absolute;right:0;top:-70px;font-size:12px;}
.map_area_01 .map_pin {}
.map_area_01 .map_btn:before {width:60px;height:45px;background:url(../img/map_close.png) no-repeat 50% 50%;content:""; display:block; clear:both;}
.map_area_01 .map_pin:before {background:url(../img/map_marker_on.png) no-repeat 50% 50%;}

.ko_cul {padding:30px 0 30px 0;}
.ko_cul:after {content:""; display:block; clear:both;}
.ko_cul .txt {float:right;}
.ko_cul .txt a {font-size:12px;color:#999;}

.culture_area {color:#666;line-height:1.8;}
.culture_area > div {display:none;}
.culture_area > div:first-child {display:block;}
.culture_area .culture_top {height:440px;}
.culture_area .culture_top .txt_b {width:320px;margin-top:40px;padding:0 0px 0 40px;float:right;position:relative;}
.culture_area .culture_top .txt_b:before {width:100px;height:3px;position:absolute;top:0px;left:-40px;background:#de0615;content:""; display:block; clear:both;}
.culture_area .culture_top .txt_b h2 {padding:0 0 10px 0;font-size:30px;color:#000;font-weight:600;line-height: 1.2;}
.culture_area .culture_top .txt_b span {display:block;padding:10px 0 0 0;color:#de0615;}
.culture_area .culture_top .txt_b_01 {width:320px;margin-top:40px;padding:0;float:left;position:relative;}
.culture_area .culture_top .txt_b_01:before {width:80px;height:3px;position:absolute;top:0px;background:#de0615;content:""; display:block; clear:both;}
.culture_area .culture_top .txt_b_01 h2 {padding:0 0 10px 0;font-size:30px;color:#000;font-weight:600;line-height: 1.2;}
.culture_area .culture_top .txt_b_01 h2 span{color:#de0615;display:inline-block;}
.culture_area .culture_top .txt_b_01 span {display:block;padding:10px 0 0 0;color:#de0615;}
.culture_area .culture_top_01 {height:620px;}
.culture_area .culture_top_01 .txt_b_01 {width:320px;margin-top:40px;padding:0;float:left;position:relative;}
.culture_area .culture_top_01 .txt_b_01:before {width:80px;height:3px;position:absolute;top:0px;background:#de0615;content:""; display:block; clear:both;}
.culture_area .culture_top_01 .txt_b_01 h2 {padding:0 0 10px 0;font-size:30px;color:#000;font-weight:600;line-height: 1.2;}
.culture_area .culture_top_01 .txt_b_01 span {display:block;padding:10px 0 0 0;color:#de0615;}
.culture_area .culture_01 .culture_top_01 {background:url(../img/culture_spot_02.jpg) no-repeat right top;}
.culture_area .culture_02 .culture_top {background:url(../img/culture_spot_01.jpg) no-repeat right top;}
.culture_area .culture_03 .culture_top {background:url(../img/culture_spot_03.jpg) no-repeat right top;}
.culture_area .culture_04 .culture_top {background:url(../img/culture_spot_04.jpg) no-repeat right top;}
.culture_area .culture_05 .culture_top {background:url(../img/culture_t_01.jpg) no-repeat left top;}
.culture_area .culture_06 .culture_top {background:url(../img/culture_t_02.jpg) no-repeat left top;}
.culture_area .culture_07 .culture_top {background:url(../img/culture_t_03.jpg) no-repeat left top;}
.culture_area .culture_08 .culture_top {background:url(../img/culture_t_04.jpg) no-repeat left top;}
.culture_area .culture_09 .culture_top {background:url(../img/culture_t_05.jpg) no-repeat left top;}

.culture_area .culture_05 .culture_btm {height:500px;background:url(../img/culture_b_01.jpg) no-repeat left top;}
.culture_area .culture_06 .culture_btm {height:440px;background:url(../img/culture_b_02.jpg) no-repeat left top;}
.culture_area .culture_07 .culture_btm {height:990px;background:url(../img/culture_b_03.jpg) no-repeat left top;}
.culture_area .culture_08 .culture_btm {height:450px;background:url(../img/culture_b_04.jpg) no-repeat left top;}
.culture_area .culture_09 .culture_btm {height:800px;background:url(../img/culture_b_05.jpg) no-repeat left top;}
.culture_area .culture_btm {padding:0 0 0 160px;position:relative;}
.culture_area .culture_btm strong {color:#000;}
.culture_area .culture_btm .txt_tp01 {padding:20px 0 0 10px;position:relative;}
.culture_area .culture_btm .txt_tp01:before {width:1px;height:40px;position:absolute;top:0px;left:0px;background:#000;content:""; display:block; clear:both;}
.culture_area .culture_btm .txt_tp02 {padding:0 40px 0 0;position:relative;}
.culture_area .culture_btm .txt_tp02:before {width:1px;height:40px;margin-bottom:10px;background:#000;content:""; display:block; clear:both;}
.culture_area .culture_btm .txt_tp03 {padding:20px 0 0 10px;position:relative;}
.culture_area .culture_btm .txt_tp03:before {width:1px;height:40px;position:absolute;top:0px;left:0px;background:#000;content:""; display:block; clear:both;}
.culture_area .culture_05 .culture_btm .txt_tp02 {position:absolute;top:190px;left:300px;}
.culture_area .culture_07 .culture_btm .txt_tp02 {position:absolute;top:448px;left:70px;}
.culture_area .culture_07 .culture_btm .txt_tp03 {position:absolute;top:722px;left:500px;}
.culture_area .culture_09 .culture_btm .txt_tp02 {width:400px;position:absolute;top:476px;left:70px;}
.culture_area .btn_b button {width:70px;height:70px;position:fixed;top:50%;border:1px solid #ddd;text-indent:-10000px;}
.culture_area .btn_b button.prev {left:50%;margin-left:-740px;background:url(../img/btn_prev02.png) no-repeat 50% 50%;}
.culture_area .btn_b button.next {right:50%;margin-right:-740px;background:url(../img/btn_next02.png) no-repeat 50% 50%;}

/*.culture_area .kio_wrap {padding:10px 30px 10px 30px;margin-bottom:40px;background:#f8f8f8;}*/
.culture_area .kio_wrap {height:1560px;background:url(../img/culture_kio_bg.jpg) no-repeat left top;}
.culture_area .kio_wrap .kio_con_wrap {padding:0px 0 50px 0;position:relative;}
.culture_area .kio_wrap .kio_con_wrap:after {content:""; display:block; clear:both;}
.culture_area .kio_wrap .txt_b_ki {width:410px;margin-top:70px;padding:0;float:right;position:relative;}
.culture_area .kio_wrap .txt_b_ki:before {width:130px;height:3px;position:absolute;top:0px;background:#000;content:""; display:block; clear:both;}
.culture_area .kio_wrap .txt_b_ki h2 {padding:30px 0 15px 0;font-size:30px;color:#000;font-weight:600;line-height: 1.2;display:block;}
.culture_area .kio_wrap .txt_b_ki h2 .kti_gray {color:#666;}
.culture_area .kio_wrap .txt_b_ki_01 {width:410px;margin:380px 0 0 43px;padding:0;float:left;position:relative;}
.culture_area .kio_wrap .txt_b_ki_01:before {width:118px;height:1px;position:absolute;top:0px;background:#000;content:""; display:block; clear:both;}
.culture_area .kio_wrap .txt_b_ki_01 h2 {padding:30px 0 15px 0;font-size:30px;color:#000;font-weight:600;line-height: 1.2;display:block;}
.culture_area .kio_wrap .txt_b_ki_01 h2 .kti_gray {color:#666;}
.culture_area .kio_wrap .txt_b_ki_01 .kti_pb {padding-bottom:10px;}
.culture_area .kio_wrap .txt_b_ki_02 {margin:227px 930px 0 43px;padding:0;float:left;position:relative;}
.culture_area .kio_wrap .txt_b_ki_02:before {width:53px;height:1px;position:absolute;top:0px;background:#000;content:""; display:block; clear:both;}
.culture_area .kio_wrap .txt_b_ki_02 h2 {padding:30px 0 15px 0;font-size:30px;color:#000;font-weight:600;line-height: 1.2;display:block;}
.culture_area .kio_wrap .txt_b_ki_02 h2 .kti_gray {color:#666;}
.culture_area .kio_wrap .txt_b_ki_02 .kti_pb {padding-bottom:10px;}
.culture_area .kio_wrap .kio_con_wrap .k_gray {display: inline;padding-left: 10px;}
.culture_area .kio_wrap .kio_con_wrap .k_red {color:#e0223b !important;display: inline;}
.culture_area .kio_wrap .kio_con_wrap .k_arrow {background: url(../img/kio_arrow.png) no-repeat 0 50%;}

/* // 문화관광 css추가 */

/*///// SCROLL /////*/

.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	/* background-color: #fff; */
	background-color:#f4f7fa;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:#cfdeec !important;
	
}
.mCSB_scrollTools{ opacity: 1 !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools{ 
	width: 5px !important;
}
.mCSB_inside > .mCSB_container{margin-right: 10px !important;}




/*///// 인풋 /////*/

.comm_input {
	display:inline-block;
	border:1px solid #dedede;
	height:36px;
	width:200px;
	padding:0 0 0 10px;
	background:#fff;
	vertical-align:middle;
	border-radius:3px;
	font-size:13px;
}

.input_m {height:36px;font-size:13px;}
.input_s {height:30px;font-size:13px;}


/*///// 셀렉트박스 /////*/

.comm_select {
	display:inline-block;
	border:1px solid #dedede;
	height:30px;
	padding:0 5px 0 5px;
	background:#fff;
	vertical-align:middle;
}


/*///// KIOSK /////*/
.kiosk_body .kiosk_wrap {min-width:1060px !important;width:1060px !important;padding:0 30px 0 30px;margin:0 auto;}
.kiosk_body .concert_list > ul > li {width:18%;margin-right:2.5%;}
.kiosk_body .concert_list > ul > li:nth-child(5n+5) {margin-right:0;}
.kiosk_body .concert_list > ul > li .pic {width:100%;}
.kiosk_body .concert_list > ul > li a .pic ul li {width:79px;}
.concert_list > ul > li a .pic ul li:before {margin-right:4px;}
.kiosk_body .container .container_body {width:100%;}
.kiosk_body .detail_body .lt_left {width: 300px;}
.kiosk_body .detail_body .lt_left .poster {width: 250px;}
.kiosk_body .detail_body .lt_right {width: 700px;}
.kiosk_body .detail_body .lt_right .detail_info .dafault_list {width: 330px;}
.kiosk_body .detail_body .lt_right .detail_info .info_list_wrap {width: 330px;}
.kiosk_body .map_area {width:100%;}
.kiosk_body .culture_area .culture_top .txt_b {width:400px;}
.kiosk_body .culture_area .culture_01 .culture_top,
.kiosk_body .culture_area .culture_02 .culture_top,
.kiosk_body .culture_area .culture_03 .culture_top,
.kiosk_body .culture_area .culture_04 .culture_top,
.kiosk_body .culture_area .culture_05 .culture_top {background-position: -255px;}
.kiosk_body .map_area .map_right button {width:80px;height:103px;background-size:100%;font-size:12px;}
.kiosk_body .culture_btm {height:550px;letter-spacing:-1px;}
.kiosk_body .map_area {background-position: -70px;}
.kiosk_body .map_area .map_left button:nth-child(1) {left:45px;}
.kiosk_body .map_area .map_left button:nth-child(2) {left:293px;}
.kiosk_body .map_area .map_left button:nth-child(3) {left:380px;}
.kiosk_body .map_area .map_left button:nth-child(4) {left:290px;}
.kiosk_body .map_area .map_left button:nth-child(5) {left:258px;}
.kiosk_body .board_search_wrap {margin-top:30px;}






.btn_top {width:50px;height:50px;position:fixed;right:5px;bottom:5px;background:rgba(0,0,0,.3);background:rgba(0,0,0,.5) url(../img/top_arrow.png) no-repeat center 50%;background-size:50%;text-indent:-10000px;display:none;}
.pop_msk {position:fixed;left:0;top:0;width:100%;background:rgba(0,0,0,0.5);z-index:900;}
.pop_msk_c {position:absolute;left:0;top:0;bottom:0;width:100%;background:rgba(0,0,0,0.2);z-index:900;}
.pos_rela {position:relative;}
.wide {width:100% !important;}
.hidden {display:none !important;}
.fl {float:left !important;}
.fr {float:right !important;}
.al {text-align:left !important;}
.ac {text-align:center !important;}
.ar {text-align:right !important;}
.un_l {text-decoration:underline !important;}
.f_16 {font-size:16px !important;}
.f_12 {font-size:12px !important;}
.f_13 {font-size:13px !important;}
.f_14 {font-size:14px !important;}
.f_18 {font-size:18px !important;}
.f_24 {font-size:24px !important;}
.f_35 {font-size:35px !important;}
.search_tit {font-size:27px !important;}
.f_darkGray {color:#666 !important;}
.f_gray {color:#666 !important;}
.f_blue {color:#0c78b0 !important;}
.f_lightBlue {color:#148adc !important;}
.f_red {color:#e0223b !important;}
.f_black {color:#000 !important;}
.f_normal {font-weight:400 !important;}
.f_ligth {font-weight:300 !important;}
.f_bold {font-weight:700 !important;}
.line_h24 {line-height:24px !important;}
.bd_t_line {border-top:1px solid #000;}
.hide {font-size:0;line-height:0;text-indent:-10000px;display: block;}
.bg_gray {background:#f1f1f1 !important;}
.bg_gray02 {background:#f8f8f8 !important;}
.bg_beige {background:#f9f3e6 !important;}
.dp_in {display:inline-block !important;}
.line_md {text-decoration:line-through !important;}
.bgN {background:none !important;}
.overhidden {overflow:hidden !important;}
.vm {vertical-align:middle !important;}
.letter_s1 {letter-spacing:-1px !important;}
.w50 {min-width:50px !important;}
.w60 {min-width:60px !important;}
.w70 {min-width:70px !important;}
.w80 {min-width:80px !important;}
.w100 {min-width:100px !important;}
.ellipsis {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.mgt30 {margin-top:30px;}


