@charset "utf-8";

.main .header_wrap {margin-bottom:0;}
.main_container {}
.promotion {height:420px;position:relative;}
.promotion_item {}
.promotion_item .item_wrap {position:relative;}
.promotion_item .item_wrap .item {width:1200px;height:420px;margin:0 auto;padding:60px 0 0 105px;position:relative;}
.promotion_item .item_wrap .item .item_con {height:200px;}
.promotion_item .item_wrap .item .item_con .s_tit {font-family: 'Malgun Gothic';font-size:20px;font-weight:bold;color:#fff;}
.promotion_item .item_wrap .item .item_con .tit {padding:6px 0 20px 0;font-family: 'Malgun Gothic';font-size:50px;font-weight:bold;color:#fff;letter-spacing:-0.06em;}
.promotion_item .item_wrap .item .item_con .tit02 {padding:14px 0 10px 0;font-family: 'Malgun Gothic';font-size:50px;font-weight:bold;letter-spacing:-0.06em;line-height: 35px;}
.promotion_item .item_wrap .item .item_con .txt {font-family: 'Malgun Gothic';font-size:16px;color:#fff;line-height:24px;}
.promotion_item .item_wrap .item .item_con.txt_black .s_tit {color:#111;}
.promotion_item .item_wrap .item .item_con.txt_black  .tit {color:#111;}
.promotion_item .item_wrap .item .item_con.txt_black  .txt {color:#111;}

.promotion_item .item_wrap .item .btn_reservation {position:absolute;bottom:120px;width:200px;height:50px;padding:10px 0 0 0;display:inline-block;border:2px solid #fff;background:rgba(0,0,0,.5);text-align:center;font-family: 'Malgun Gothic';color:#fff;font-size:16px;font-weight:bold;}
.promotion_item .item_wrap .item .sub_txt {height:80px;position:absolute;bottom:0px;left:105px;color:#fff;font-size:12px;z-index:10;}
.promotion_item .item_wrap .item .sub_txt .tit {padding:15px 0 13px 0;font-size:18px;}
.promotion_item .item_wrap .item .sub_txt .txt {color:rgba(255,255,255,.8);}
.promotion_item .item_wrap .btm_txt_bg {width:100%;height:80px;position:absolute;bottom:0px;left:0px;background:rgba(0,0,0,.5);}
.promotion .bx-wrapper {border:none;box-shadow:none;margin:0;}
.promotion .bx-wrapper .bx-pager, .promotion .bx-wrapper .bx-controls-auto {width:1200px !important;margin:0 auto;position: relative;bottom:48px;text-align:right;padding-top: 0px;}
.promotion .bx-wrapper .bx-pager {padding:0 110px 0 0;z-index:60;}
.promotion .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align:right;}
.promotion .bx-wrapper .bx-pager.bx-default-pager a {background:none;border:1px solid #fff;}
.promotion .bx-wrapper .bx-pager.bx-default-pager a:hover, .promotion .bx-wrapper .bx-pager.bx-default-pager a.active, .promotion .bx-wrapper .bx-pager.bx-default-pager a.active:focus {background:#fff;}
.promotion .bx-wrapper .bx-pager.bx-default-pager a:focus {background:none;}
.promotion .control {width:1200px;margin:0 auto;position:relative;bottom:67px;text-align:right;font-size:0;line-height:0;}
.promotion .control:after {content:""; display:block; clear:both;}
.promotion .control li {display:inline-block;padding:0 0 0 1px;}
.promotion .control span a {width:29px;height:29px;display:block;}
.promotion .control span a {width:29px;height:29px;position:relative;z-index:70;text-indent:-10000px;}
.promotion .control span.promo_prev .bx-prev {background: url('../img/main/btn_prev03.png') no-repeat 50% 50%;}
.promotion .control span.promo_stop .bx-stop {background: url('../img/main/btn_pause02.png') no-repeat 50% 50%;}
.promotion .control span.promo_stop .bx-start {background: url('../img/main/btn_play02.png') no-repeat 50% 50%;}
.promotion .control span.promo_next .bx-next {background: url('../img/main/btn_next03.png') no-repeat 50% 50%;}
.promotion .showHide_wrap {width:100%;position:absolute;bottom:0px;left:0px;}
.promotion .showHide_wrap p {width:1200px;margin:0 auto;position:relative;text-align:right;z-index:10;}
.promotion .showHide_wrap p button {width:40px;height:40px;position:absolute;bottom:-40px;right:0px;background: url('../img/main/promo_close.png') no-repeat 50% 50%;text-indent:-10000px;}
.promotion .showHide_wrap p button.promo_open {background: url('../img/main/promo_open.png') no-repeat 50% 50%;}

.section01 {width:1200px;height:430px;margin:0 auto;padding:40px 0 0px 0;position:relative;}
.section01 .concert_list_outer {width:100%;height:270px;display:none;position:absolute;top:110px;left:0px;}
.section01 .concert_list_outer .concert_list > li {height:270px;overflow:hidden;}
.section01 .concert_list_outer .concert_list > li img {width:200px;height:270px;}
.section01 .tab_tp01 {padding:0 0 30px 0;text-align:center;}
.section01 .tab_tp01:after {content:""; display:block; clear:both;}
.section01 .tab_tp01 > ul {font-size:0px;line-height:0px;letter-spacing: -4px;}
.section01 .tab_tp01 > ul > li {width:14.25%;display:inline-block;margin-right:-1px;letter-spacing: 0px;}
.section01 .tab_tp01 > ul > li > button {width:100%;height:40px;display:block;margin-right:-1px;position:relative;border:1px solid #ddd;font-size:14px;line-height:36px;font-weight:700;}
.section01 .tab_tp01 > ul > li.selected > button {background:#000;border-bottom:1px solid #ddd;color:#fff;}
.section01 .tab_tp01 > ul > li.selected .concert_list_outer {display:block;overflow:hidden;}
.section01 .bx-controls-direction .bx-prev, .section01 .bx-controls-direction .bx-next {width:40px;height:40px;}
.section01 .bx-controls-direction .bx-prev {left:-60px; background: url('../img/main/btn_prev.png') no-repeat left top;}
.section01 .bx-controls-direction .bx-next {right:-60px; background: url('../img/main/btn_next.png') no-repeat left top;}
.section01 .concert_list a {display:block;}
.section01 .bx-viewport {height:270px !important;}
.section01 .bx-wrapper .bx-caption span {padding:20px 0;margin:0 10px;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}

.section02 {height:450px;position:relative;background:#eee;}
.section02 .ly_right_bg {width:30%;position:absolute;top:0px;bottom:0px;right:0px;background:#ffe63c;}
.section02 .ly_right_bg.color01 {background:#ffe63c;}
.section02 .ly_right_bg.color02 {background:#3c98ff;}
.section02 .ly_right_bg.color03 {background:#4641d4;}
.section02 .ly_right_bg.color04 {background:#85a688;}
.section02 .ly_right_bg.color05 {background:#ff7800;}
.section02 .con_box {width:1080px;margin:0 auto;}
.section02 .con_box .con_left {width:730px;padding:60px 0 0 0;float:left;}
.section02 .con_box .con_left .con_wrap {width:140px;position:relative;}
.section02 .con_box .con_left .con_wrap .ev_list {padding:15px 0 40px 0;display:block;}
.section02 .con_box .con_left .con_wrap .ev_list ul {width:540px;position:absolute;top:0px;left:160px;display:none;}
.section02 .con_box .con_left .invite_gift .photo {padding:10px;position:absolute;top:0px;left:0px;background:#fff;display:none;}
.section02 .con_box .con_left .invite_gift .photo img {width:220px; height:297px;}
.section02 .con_box .con_left .invite_gift .photo .ico_sale {width:55px;height:57px;padding:6px 0 0 0;position:absolute;bottom:10px;right:10px;background:rgba(222,6,21,0.85);font-size:11px;line-height:1;color:#fff;text-align:center;}
.section02 .con_box .con_left .invite_gift .photo .ico_sale strong {display:block;font-size:22px;}
.section02 .con_box .con_left .invite_gift .on .photo {display:block;}
.section02 .con_box .con_left .invite_gift ul {padding:30px 0 0 220px;}
.section02 .con_box .con_left .invite_gift ul li {background: url('../img/main/dot02.gif') repeat-x left bottom;}
.section02 .con_box .con_left .invite_gift ul li a.link {display:block;padding:15px 10px 15px 10px;margin-left:40px;background: url('../img/main/ico_arrow_gray.png') no-repeat 0 21px;line-height:1.5;}
.section02 .con_box .con_left .invite_gift ul li a.link span {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;font-weight:700;}
.section02 .con_box .con_left .invite_gift ul li a.link span.date {font-size:12px;color:#888;font-weight:normal;}
.section02 .con_box .con_left .invite_gift ul li a.link:hover,
.section02 .con_box .con_left .invite_gift ul li.on a.link {background: url('../img/main/ico_arrow_red.png') no-repeat 0 21px;}
.section02 .con_box .con_left .invite_gift ul li.on a.link span.tit, 
.section02 .con_box .con_left .invite_gift ul li a.link:hover span.tit {font-weight:700;color:#de0615;}
.section02 .con_box .con_left .discount ul li img {width:250px;height:150px;}
.section02 .con_box .con_left .con_wrap .ev_list ul:after {content:""; display:block; clear:both;}
.section02 .con_box .con_left .con_wrap .ev_list > li > button {width:100%;padding:12px 0 12px 10px;display:block;border-bottom:1px solid #ccc;font-weight:600;text-align:left;}
.section02 .con_box .con_left .con_wrap .ev_list > li.selected > button {color:#000;background: url('../img/main/ico_arrow.png') no-repeat 95% 50%;}
.section02 .con_box .con_left .con_wrap .ev_list > li.selected ul {display:block;}
.section02 .con_box .con_left .con_wrap h2 {padding:0 0 15px 0;font-size:25px;border-bottom:3px solid #000;}
.section02 .con_box .con_left .con_wrap .more {width:32px;height:32px;display:block;border:1px solid #777;background: url('../img/main/more.png') no-repeat 50% 50%;text-indent:-10000px;position:absolute;bottom:-30px;left:0px;display:none;}
.section02 .con_box .con_left .con_wrap .ev_list > li.selected .more {display:block;}
.section02 .con_box .con_left .con_wrap .discount ul li a {width:250px;height:150px;margin:0 20px 20px 0;float:left;display:block;position:relative;}
/*
.section02 .con_box .con_left .con_wrap .discount ul li a p.txt {width:100%;padding:15px 60px 15px 10px;position:absolute;bottom:0px;left:0px;background:#fff;font-size:13px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.section02 .con_box .con_left .con_wrap .discount ul li a p.percent {width:55px;height:55px;padding:3px 0 0 0;background:rgba(222,6,21,.85);border-radius:50%;font-size:11px;text-align:center;color:#fff;position:absolute;bottom:5px;right:5px;}
.section02 .con_box .con_left .con_wrap .discount ul li a p.percent span {display:block;font-size:27px;line-height:24px;font-weight:600;}
*/
.section02 .con_box .con_right {width:350px;height:450px;float:left;position:relative;z-index:10;overflow:hidden;}
.section02 .con_box .con_right h2 {position:absolute;top:73px;left:50px;font-size:13px;color:#000;z-index:10;}
.section02 .con_box .con_right h2 span {color:#de0615;}
.section02 .con_box .con_right h2:before {width:100px;height:3px;position:absolute;top:-8px;left:-50px;content:""; display:block; clear:both;background:#de192c;}
.section02 .con_box .con_right .area_list li {display:none;position:absolute;top:0px;left:0px;}
.section02 .con_box .con_right .area_list li.selected {display:block;}
.section02 .con_box .con_right .control {position:absolute;bottom:20px;left:240px;}
.section02 .con_box .con_right .control li {float:left;margin:0 5px 0 0;}
.section02 .con_box .con_right .control li button {width:33px;height:33px;border:1px solid #bfa152;text-indent:-10000px;}
.section02 .con_box .con_right .control li button.prev {background: url('../img/main/area_prev.png') no-repeat 50% 50%;}
.section02 .con_box .con_right .control li button.next {background: url('../img/main/area_next.png') no-repeat 50% 50%;}
.section02 .con_box .con_right .more {width:33px;height:33px;position:absolute;bottom:20px;right:0px;background: url('../img/main/more03.png') no-repeat 50% 50%;border:1px solid #bfa152;text-indent:-10000px;}

.section03 {height:460px;position:relative;background:#fff;}
.section03 .ly_right_bg {width:30%;position:absolute;top:0px;bottom:0px;right:0px;background:#f0edd6;}
.section03 .con_box {width:1080px;margin:0 auto;}
.section03 .con_box .con_left {width:730px;padding:50px 0 0 0;float:left;}
.section03 .con_box .con_left .con_wrap:after {content:""; display:block; clear:both;}
.section03 .con_box .con_left .con_wrap .con_b {width:320px;height:360px;margin-left:42px;float:left;position:relative;border:1px solid #777;background:#f5f5f5;}
.section03 .con_box .con_left .con_wrap .con_b:first-child {margin-left:0;}
.section03 .con_box .con_left .con_wrap .con_b .con_b_header {height:150px;position:relative;background:#fff;}
.section03 .con_box .con_left .con_wrap .con_b .con_b_header .photo {width:80px;height:80px;position:absolute;right:20px;bottom:15px;border-radius:50%;overflow:hidden;}
.section03 .con_box .con_left .con_wrap .con_b .con_b_header .photo img {width:100%;}
.section03 .con_box .con_left .con_wrap .con_b .con_b_header h2 {position:absolute;top:30px;left:15px;font-size:13px;color:#000;}
.section03 .con_box .con_left .con_wrap .con_b .con_b_header h2 span {color:#de0615;}
.section03 .con_box .con_left .con_wrap .con_b .con_b_header h2:before {width:90px;height:3px;position:absolute;top:-12px;left:-50px;content:""; display:block; clear:both;background:#000;}
.section03 .con_box .con_left .con_wrap .con_b ul {padding:0px 30px 0 30px;}
.section03 .con_box .con_left .con_wrap .con_b ul li:after {content:""; display:block; clear:both;}
.section03 .con_box .con_left .con_wrap .con_b ul li {height:100px;padding:20px 0 20px 0;background: url('../img/main/dot.gif') repeat-x left top;line-height:20px;}
.section03 .con_box .con_left .con_wrap .con_b ul li:first-child {background:none;}
.section03 .con_box .con_left .con_wrap .con_b ul li a {}
.section03 .con_box .con_left .con_wrap .con_b ul li .pic {width:60px;height:60px;margin:0 15px 0 0;float:left;overflow:hidden;}
.section03 .con_box .con_left .con_wrap .con_b ul li img {width:100%;}
.section03 .con_box .con_left .con_wrap .con_b .more {width:32px;height:32px;display:block;border:1px solid #777;background:#fff url('../img/main/more.png') no-repeat 50% 50%;text-indent:-10000px;position:absolute;top:20px;right:20px;}
.section03 .con_box .con_right {width:350px;height:460px;padding:110px 0 0 50px;float:left;position:relative;background: url('../img/main/s3_bg.gif') no-repeat left top;z-index:10;overflow:hidden;}
.section03 .con_box .con_right h2 {position:absolute;top:73px;left:50px;font-size:13px;color:#000;}
.section03 .con_box .con_right h2 span {color:#de0615;}
.section03 .con_box .con_right h2:before {width:100px;height:3px;position:absolute;top:-8px;left:-50px;content:""; display:block; clear:both;background:#de192c;}
.section03 .con_box .con_right .con_kind {max-width:300px;padding-right:10px;display:inline-block;background:#fff;border:1px solid #000;font-size:14px;font-weight:600;color:#000;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;word-wrap:normal;}
.section03 .con_box .con_right .con_kind span {padding:2px 10px 3px 10px;margin:0 10px 0 0;display:inline-block;background:#000;color:#fff;}
.section03 .con_box .con_right a {padding:30px 0 0 0;display:block;}
.section03 .con_box .con_right a p {padding:0 0 15px 0;line-height:20px;}
.section03 .con_box .con_right a .subject {font-size:21px;font-weight:600;color:#000;line-height:28px;}
.section03 .con_box .con_right a ul:after {content:""; display:block; clear:both;}
.section03 .con_box .con_right a ul li {width:96px;height:70px;margin:0 0 0 5px;float:left;overflow:hidden;}
.section03 .con_box .con_right a ul li img {width:100%;}
.section03 .con_box .con_right a ul li:first-child {margin:0;}
.section03 .con_box .con_right .more {width:33px;height:33px;position:absolute;bottom:25px;right:0px;background: url('../img/main/more03.png') no-repeat 50% 50%;border:1px solid #bfa152;text-indent:-10000px;}
.section03 .group_name {padding:60px 0 0 0;}
.section03 .group_name span {display:inline-block;font-size:21px;font-weight:600;letter-spacing:-1px;}
.section03 .group_name .logo {width:100px;margin:0 10px;}
.section03 .group_name .logo img {width:80px; height:80px;}
.section03 .actor_name {background-size:cover !important;}
.section03 .actor_name p {width:220px;padding:80px 0 0 15px;position:relative;font-size:30px;font-weight:600;letter-spacing:5px;}
.section03 .actor_name p span {font-size:16px;letter-spacing:0px;padding:0 10px;}

.section04 {position:relative;background:#eee;}
.section04 .con_box {width:1080px;min-height:500px;margin:0 auto;padding:40px 0 0 0;position:relative;overflow:hidden;}
.section04 .tab_tp01 {padding:0 0 30px 0;text-align:center;}
.section04 .tab_tp01:after {content:""; display:block; clear:both;}
.section04 .tab_tp01 > ul {font-size:0px;line-height:0px;letter-spacing: -4px;}
.section04 .tab_tp01 > ul > li {display:inline-block;background:#fff;letter-spacing: 0px;}
.section04 .tab_tp01 > ul > li > button {min-width:90px;height:40px;padding:0 20px 0 20px;display:block;margin-right:-1px;position:relative;border:1px solid #ddd;font-size:14px;line-height:36px;font-weight:700;}
.section04 .tab_tp01 > ul > li.selected > button {background:#000;border-bottom:1px solid #ddd;color:#fff;}
.section04 .tab_tp01 > ul > li.selected .list {display:block;}
.section04 .con_box .list {width:100%;position:absolute;top:110px;left:0px;display:none;}
.section04 .con_box .list:after {content:""; display:block; clear:both;}
.section04 .con_box .list > ul {margin-left:-20px;}
.section04 .con_box .list > ul > li {width:200px;height:270px;float:left;margin:0 0 20px 20px;display:none;overflow:hidden;}
.section04 .con_box .list > ul > li > img {width:100%;}
.section04 .con_box .list > ul > li.active {display:block;}
.section04 .con_box .list > ul > li > a {display:block;position:relative;background:#000;}
.section04 .con_box .list > ul > li > a img {transition:.3s ease all;width:200px;height:270px;}
.section04 .con_box .list > ul > li > a:hover img {opacity:.45;width:200px;height:270px;}
.section04 .con_box .more {width:100px;height:65px;position:absolute;bottom:-70px;left:50%;padding-bottom: 40px;margin-left:-50px;border:none !important;background: url('../img/main/more02.png') no-repeat 50px bottom !important;vertical-align:top;text-align:center;color:#000 !important;}
.section04 .lb_info {position:absolute;bottom:0px;left:7px;opacity:0;font-size:12px;line-height:18px;transition:.3s ease all;}
.section04 .lb_info:after {content:""; display:block; clear:both;}
.section04 .con_box .list > ul > li > a:hover .lb_info {display:block;bottom:10px;opacity:1;}
.section04 .lb_info span {width:86px;float:left;margin:0 0 4px 4px;padding:5px 0 5px 13px;background:#000;border-radius:3px;color:#e2c787;text-align:left;font-size:13px;}
.section04 .lb_info span:before {width:18px;height:18px;margin:0 7px 0 0;vertical-align:middle;content:""; display:inline-block; clear:both;}
.section04 .lb_info span.age:before {background:url(../img/ico_age.png) no-repeat left 50%;}
.section04 .lb_info span.sale:before {background:url(../img/ico_sale.png) no-repeat left 50%;}
.section04 .lb_info span.ev:before {background:url(../img/ico_ev.png) no-repeat left 50%;}
.section04 .lb_info span.free:before {background:url(../img/ico_free.png) no-repeat left 50%;}
.section04 .lb_info span.ticket:before {background:url(../img/ico_ticket02.png) no-repeat left 50%;}
.section04 .lb_info span.area:before {background:url(../img/ico_area.png) no-repeat left 50%;}


.section05 {height:240px;position:relative;background:#fff;}
.section05 .con_box {width:1080px;margin:0 auto;padding:10px 0 0 0;position:relative;}
.section05 .con_box .notice_wrap {height:50px;padding:15px 0 0 70px;margin:0 0 40px 0;border:1px solid #777;position:relative;background: url('../img/main/ico_noti.png') no-repeat 30px 50%;}
.section05 .con_box .notice_wrap .body {height:18px;position:relative;overflow:hidden;}
.section05 .con_box .notice_wrap ul.list {position:absolute;top:0px;}
.section05 .con_box .notice_wrap ul li {padding:0 0 5px 0;}
.section05 .con_box .notice_wrap a {color:#000;}
.section05 .con_box .notice_wrap a span {padding:0 0 0 30px;display:inline-block;font-size:11px;}
.section05 .con_box .notice_wrap .more {width:33px;height:33px;position:absolute;top:8px;right:10px;background: url('../img/main/more.png') no-repeat 50% 50%;text-indent:-10000px;}
.section05 .con_box .notice_wrap .control {position:absolute;top:10px;right:50px;}
.section05 .con_box .notice_wrap .control:after {content:""; display:block; clear:both;}
.section05 .con_box .notice_wrap .control li {float:left;padding:0 0 0 1px;}
.section05 .con_box .notice_wrap .control button {width:29px;height:29px;text-indent:-10000px;}
.section05 .con_box .notice_wrap .control button.prev {background: url('../img/main/btn_prev02.png') no-repeat 50% 50%;}
.section05 .con_box .notice_wrap .control button.stop {background: url('../img/main/btn_pause.png') no-repeat 50% 50%;}
.section05 .con_box .notice_wrap .control button.play {background: url('../img/main/btn_play.png') no-repeat 50% 50%;}
.section05 .con_box .notice_wrap .control button.next {background: url('../img/main/btn_next02.png') no-repeat 50% 50%;}
.section05 .btm_util:after {content:""; display:block; clear:both;}
.section05 .btm_util .q_link {padding:10px 0 0 0;float:left;}
.section05 .btm_util .q_link ul li {float:left;padding:0 0 0 0px;}
.section05 .btm_util .q_link ul li a {width:110px;display:block;height:90px;text-align:center;}
.section05 .btm_util .q_link ul li a:before {width:56px;height:56px;margin:0 auto;margin-bottom:15px;content:""; display:block; clear:both;}
.section05 .btm_util .q_link ul li:nth-child(1) a:before {background: url('../img/main/ico_btm01.png') no-repeat 50% top;}
.section05 .btm_util .q_link ul li:nth-child(2) a:before {background: url('../img/main/ico_btm02.png') no-repeat 50% top;}
.section05 .btm_util .q_link ul li:nth-child(2) a {margin-right:40px;}
.section05 .btm_util .q_link ul li:nth-child(3) a:before {background: url('../img/main/ico_btm03.png') no-repeat 50% top;}
.section05 .btm_util .q_link ul li:nth-child(4) a:before {background: url('../img/main/ico_btm04.png') no-repeat 50% top;}
.section05 .btm_util .q_link ul li:nth-child(5) a:before {background: url('../img/main/ico_btm05.png') no-repeat 50% top;}
.section05 .btm_util .q_link ul li:nth-child(6) a:before {background: url('../img/main/ico_btm06.png') no-repeat 50% top;}
.section05 .btm_util .q_link a {font-size:12px;}
.section05 .btm_util .center {float:right;font-weight:600;}
.section05 .btm_util .center .txt {color:#666;}
.section05 .btm_util .center .phone {padding:10px 0 10px 0;font-size:38px;font-weight:800;}
.section05 .btm_util .center .time {}

/*/ 탭메뉴 -----------------------------------------------------------------------/*/

.tab_wrap {}
.tab_header {}
.tab_header:after {content:""; display:block; clear:both;}
.tab_header .tab_btn {float:left;border:1px solid #ddd;margin:0 2px 0 0;min-width:100px;min-height:30px;border-bottom:none;}
.tab_header .selected {background:#ddd;}
.tab_body {padding:15px;}
.tab_bodyr:after {content:""; display:block; clear:both;}
.tab_body .tab_con_box {display:none;}
.tab_body .tab_con_box:first-child {display:block;}

.dp_n {display:none;}

/*/ 팝업소스 -----------------------------------------------------------------------/*/
a{text-decoration:none; color:white;}
.pull-right{float:right; color:white;}
.main_popup{position:absolute;left:60px;top:160px;z-index:200;visibility:hidden;}
.popup_bottom{
    background-color: #000;
    color: white;
    height: 25px;
    padding: 2px 10px 3px 10px;
    width:450px;
}