
@charset "utf-8";
@import url('/css/portal/default.css');

body{background-color:#fff}
/* button */
	/* reset */
	button, input[type='reset'], input[type='button'], input[type='submit']{line-height:normal !important}
	.button, .button a, .button button, .button input{display:inline-block;position:relative;margin:0;display:-moz-inline-stack;display:inline-block;text-decoration:none !important;border:0;white-space:nowrap;overflow:visible;vertical-align:middle}
	.button a, .button button, .button input{vertical-align:top;cursor:pointer;background:none;border:none;overflow:hidden}
	.button button{padding-bottom:1px}
	/* 버튼 컬러 white */
	.button.whiteS{height:22px;padding:0 10px;color:#767676;background:#fff;border:1px solid #bbb}
	.button.whiteS, .button.whiteS a, .button.whiteS button, .button.whiteS input{height:22px;color:#767676;font-size:1em;line-height:1.8}
	.button.white{height:24px;padding:0 12px;color:#767676;background:#fff;border:1px solid #999}
	.button.white, .button.white a, .button.white button, .button.white input{height:24px;color:#767676;font-size:1em;line-height:2}
	.button.whiteB{height:27px;padding:0 18px;color:#666;background:#fff;border:1px solid #666}
	.button.whiteB, .button.whiteB a, .button.whiteB button, .button.whiteB input{height:27px;color:#666;font-size:1em;font-weight:bold;line-height:2.2}
	
	/* 버튼 컬러 gray */
	.button.grayS{height:22px;padding:0 10px;color:#fff;background:#999;border:1px solid #767676}
	.button.grayS, .button.grayS a, .button.grayS button, .button.grayS input{height:22px;color:#fff;font-size:1em;line-height:1.8}
	.button.gray{height:24px;padding:0 12px;background:#666;border:1px solid #333}
	.button.gray, .button.gray a, .button.gray button, .button.gray input{height:24px;color:#fff;font-size:1em;line-height:2}
	.button.grayB{height:27px;padding:0 18px;font-weight:bold;color:#fff;vertical-align:top;background:#444;border:1px solid #000}
	.button.grayB, .button.grayB a, .button.grayB button, .button.grayB input{height:27px;color:#fff;font-size:1em;font-weight:bold;line-height:2.2}
	
	/* 버튼 컬러 기타 */
	.btnSingleRight{clear:both;float:right;margin-bottom:40px}
	.button.orange{height:14px;padding:0 12px;background:#ff8400;border:1px solid #ff5400}
	.button.orange, .button.orange a, .button.orange button, .button.orange input{height:12px;color:#666;font-size:1em;line-height:1.8}
	.button.blue{height:27px;padding:0 18px;font-weight:bold;color:#fff;vertical-align:top;background:#4b6de6;border:1px solid #2f4eb9}
	.button.blue, .button.blue a, .button.blue button, .button.blue input{height:27px;color:#fff;font-size:1em;font-weight:bold;line-height:2.2}
	
	.btnRound { display:inline-block; padding:4px 12px; background:#666; color:#fff; border-radius:12px; }
	.btnRound.dark { background:#3f3f3f; }
	.btnRound.red { background:#8a1818; }
	
	/* select Box */
		.selectCom{display:inline-block;vertical-align:middle;background:#fff}
		table.boardInput02 td .selectCom + span{margin:0 5px}
		.sbHolder{display:inline-block;position:relative;width:inherit;height:24px;border:solid 1px #d5d5d5;font-weight:normal;background-color:#fff}
		.sbHolder:focus .sbSelector{color:#666}
		.sbSelector{display:block;height:20px;left:0;line-height:2;outline:none;overflow:hidden;position:absolute;text-indent:16px;top:0;width:100%}
		.sbSelector:link, .sbSelector:visited, .sbSelector:hover{color:#444;outline:none;text-decoration:none}
		.sbSelector.selected{color:#444;outline:none;text-decoration:none}
		.sbToggle{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat;display:block;height:21px;width:20px;outline:none;position:absolute;right:0;top:0}
		.sbToggle:hover{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat}
		.sbToggleOpen{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat}
		.sbToggleOpen:hover{background:url('/images/portal/bg/selectIcons.png') 0 0 no-repeat}
		.sbHolderDisabled{background-color:#3C3C3C;border:solid 1px #515151}
		.sbHolderDisabled .sbHolder{}
		.sbHolderDisabled .sbToggle{}
		.sbOptions{position:absolute;top:-1px;left:-1px;margin:0;width:100%;z-index:1000;background-color:#fff;border:2px solid #525252;overflow-y:auto}
		.sbOptions li{padding:0}
		.sbOptions a{display:block;margin:2px;padding-left:13px;font-weight:normal;color:#333;line-height:22px}
		.sbOptions a:link,.sbOptions a:visited{color:#444;text-decoration:none}
		.sbOptions a:hover,
		.sbOptions a:focus,
		.sbOptions a.sbFocus{color:#fff;background:#525252}
		.sbOptions a:focus{}
		.sbOptions li:first-child a{line-height:19px}
		.sbOptions li.last a{border-bottom:none;font-size:0.92em}
		.sbOptions .sbDisabled{border-bottom:dotted 1px #515151;color:#767676;display:block;padding:7px 0 7px 3px}
		.sbOptions .sbGroup{border-bottom:dotted 1px #515151;color:#444;display:block;font-weight:bold;padding:7px 0 7px 3px}
		.sbOptions .sbSub{padding-left:17px}

h1{height:50px;margin-bottom:25px;color:#fff;font-size:1.333em;background:#8a1818}
h1 span{display:block;height:50px;padding-left:30px;font-family:'NGBold';/*background:url('/images/portal/content/popup/bgH1.png') no-repeat 0 0;*/line-height:50px;}

h2.title01{margin-bottom:10px;color:#333;font-size:1.7em;line-height:1.2}
h2.title02{clear:both;color:#333;font-size:1.2em;line-height:1.2}
h2.title03{margin-bottom:10px;padding-left:15px;color:#333;font-family:'NGBold';font-size:1.2em;background:url('/images/portal/bullet/bulSquare01.jpg') no-repeat 0 3px;line-height:1.2;overflow:hidden}

dl.info01{clear:both;margin-bottom:15px;overflow:hidden}
dl.info01 dt{float:left;margin-right:8px;font-family:NGBold, "돋움", Dotum}
dl.info01 dd{float:left;margin-right:15px}

.uciBox{margin:0 20px;border-top:2px solid #222}
/* table */
table.infoList{width:100%}
table.infoList th{padding:8px 0;border:1px solid #d5d5d5;border-top:0;border-left:0;background:#f9f9f9}
table.infoList td{padding:8px 0 7px 10px;border:1px solid #d5d5d5;border-top:0;border-right:0;text-align:left;line-height:1.5}
table.infoLsit td *{vertical-align:middle}
table.infoList td a{margin-left:5px;color:#1636b5}
table.infoList img{vertical-align:middle}

p.text01{margin-bottom:10px;color:#333;font-family:NGBold, "돋움", Dotum}
p.text02{color:#333;text-align:center}
p.text03{margin-bottom:10px;color:#333}
p.text03 span{display:block;margin-top:3px;color:#767676;font-size:.92em}

div.content{margin:0 10px;padding-bottom:20px}
div.buttonBox{margin:0 10px;padding:20px 0;border-top:1px solid #eaeaea;text-align:center}
div.buttonBox.noBorder{border-top:0 !important}
div.buttonBox.noBorder .button{height:24px}
div.buttonBox.noBorder .button a{height:24px;line-height:2}

table.list01{width:100%}
table.list01 th{padding:3px 0;border-top:2px solid #6b6b6b;background-color:#fafafa}
table.list01 td{padding:5px 10px;border-top:1px solid #eaeaea}
table.list01 td:first-child{padding:0;text-align:center}
table.list01 td.onlyChild{padding:15px 0;font-family:NGBold, "돋움", Dotum}
table.list01 td a{color:#767676}

div.infoHead02{height:60px;border-bottom:1px solid #eaeaea;overflow:hidden}
div.infoHead02.hasPrev{margin-top:25px}
div.infoHead02 h4{float:left;margin-top:10px;color:#333;font-size:1.7em;line-height:1}
div.infoHead02 ul{float:right;margin-top:14px}
div.infoHead02 li{float:left}
div.infoHead02 li.print,
div.infoHead02 li.scrap{margin:1px 8px 0 0;padding-right:8px;border-right:1px dotted #c9c9c9}
div.infoHead02 li.print > button,
div.infoHead02 li.scrap > a{display:block;height:13px;padding-left:15px;color:#a6a6a6;font-family:NGNormal;font-size:.9em;background:url('/images/common/bg/bgFunction.gif') no-repeat -32px 1px;line-height:13px}
div.infoHead02 li.scrap > a{background-position:-32px -20px}
div.infoHead02 li.snsTwitter{margin-left:0}
div.infoHead02 li.snsFacebook,
div.infoHead02 li.snsMe2day,
div.infoHead02 li.snsGoogle,
div.infoHead02 li.snsKakaotalk,
div.infoHead02 li.snsKakaostory{margin-left:4px}
div.infoHead02 li.snsTwitter a,
div.infoHead02 li.snsFacebook a,
div.infoHead02 li.snsMe2day a,
div.infoHead02 li.snsGoogle a,
div.infoHead02 li.snsKakaotalk a,
div.infoHead02 li.snsKakaostory a{display:block;position:relative;width:15px;height:15px;overflow:hidden}
div.infoHead02 li a span{position:absolute;top:0;left:0;width:100%;height:100%;background:url('/images/common/bg/bgFunction.gif') no-repeat 0 0}
div.infoHead02 li.snsFacebook a span{background-position:-16px 0}
div.infoHead02 li.snsMe2day a span{background-position:0 -16px}
div.infoHead02 li.snsGoogle a span{background-position:-16px -16px}
div.infoHead02 li.snsKakaotalk a span{background-position:0 -32px}
div.infoHead02 li.snsKakaostory a span{background-position:-16px -32px}

div.performInfo{position:relative;width:790px;margin:30px 0 20px;border-bottom:1px solid #eaeaea;overflow:hidden}
div.performInfo > img{float:left;width:300px;height:370px;margin-bottom:30px}
div.performInfo dl{float:left;width:465px;margin-left:20px;padding-bottom:15px;overflow:hidden}
div.performInfo dt{float:left;width:65px;padding-left:10px;color:#666;background:url('/images/event/bgDot02.gif') no-repeat 0 50%}
div.performInfo dd{float:left;width:370px;margin-bottom:15px;padding-left:15px;background:url('/images/common/bg/bgDotLineV01.gif') no-repeat 0 5px}
div.performInfo dd a{color:#666}

div.pageNav{clear:both;font-family:Verdana;font-weight:bold;text-align:center}
div.pageNav.hasNext{margin-bottom:50px}
div.pageNav > a{display:inline-block;position:relative;height:9px;margin:0 3px;overflow:hidden;vertical-align:middle}
div.pageNav > a.first,
div.pageNav > a.last{width:11px}
div.pageNav > a.prev,
div.pageNav > a.next{width:6px}
div.pageNav > a span{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff url('/images/common/bg/bgPageNav.gif') no-repeat 0 0}
div.pageNav > a.last span{background-position:-7px -10px}
div.pageNav > a.prev span{background-position:-12px 0}
div.pageNav > a.next span{background-position:0 -10px}
div.pageNav > span{display:inline-block;margin:0 4px}
div.pageNav > span a{display:inline-block;height:21px;padding:0 6px;color:#404040;line-height:21px}
div.pageNav > span a.on{height:19px;padding:0 5px;border:1px solid #dedede;color:#53d7bd;line-height:19px}

/* 문서 입력 */
table.boardInput02{width:100%;margin-bottom:15px;border-top:2px solid #6b6b6b}
table.boardInput02 th{padding-left:12px;border-bottom:1px solid #eaeaea;color:#666;text-align:left}
table.boardInput02 th span{position:relative;display:block;padding-left:8px}
table.boardInput02 th span img{position:absolute;top:6px;left:0}
table.boardInput02 td{padding:13px 0;border-bottom:1px solid #eaeaea}
table.boardInput02 td label{float:left;margin-right:10px;line-height:13px}
table.boardInput02 td label > *{float:left;vertical-align:middle}
table.boardInput02 td label > input{width:13px;height:13px;margin:0 4px 0 0;padding:0}
table.boardInput02 td span{display:inline-block;margin-left:10px;font-size:.9em;vertical-align:middle}
table.boardInput02 td p{font-size:.9em}
table.boardInput02 td span.line01{margin:-6px 0 -6px 10px}
table.boardInput02 td span.block{clear:both;display:block;margin:0;padding-top:10px}
table.boardInput02 td span.button{margin-left:4px}
table.boardInput02 td.more{vertical-align:bottom}
table.boardInput02 td.more button{width:22px;height:22px;border:1px solid #ddd}

/* 입력양식 */
select{height:22px;vertical-align:middle}

form.leaveComment{position:relative;margin-top:10px;padding:15px;border:1px solid #ddd;background-color:#fafafa;text-align:center}
form.leaveComment *{vertical-align:middle}
form.leaveComment > img{width:71px;height:71px;border:1px solid #d0d0d0}
form.leaveComment > span{position:absolute;width:3px;height:3px;background:url('/images/common/bg/bgRound02.gif') no-repeat 0 0;overflow:hidden;z-index:999}
form.leaveComment > span.lt{top:-1px;left:-1px}
form.leaveComment > span.rt{top:-1px;right:-1px;background-position:-3px 0}
form.leaveComment > span.rb{bottom:-1px;right:-1px;background-position:-3px -3px}
form.leaveComment > span.lb{bottom:-1px;left:-1px;background-position:0 -3px}
form.leaveComment textarea{background:#fff url('/images/common/bg/bgPlaceholder01.gif') no-repeat 7px 7px}

/*.inputText{height:20px;padding:0 7px;border-width:1px;border-style:solid;border-color:#cbcbcb #e4e4e4 #e4e4e4 #cbcbcb;font:normal 1em/1.45 "나눔고딕", NanumGothic, NGNormal, "돋움", Dotum;line-height:20px;vertical-align:middle} */
.inputText.keyword01{width:170px}
.inputText.performName01{width:95px}

.removePlaceholder{background-image:none !important}

.inputText.place01{width:400px}
.inputText.place02{width:280px}
.inputText.zipCode01{width:50px}
.inputText.address01{width:190px}

.inputText.phone01{width:60px}
.inputText.email01{width:70px}
.inputText.email02{width:100px}

input.inputText{height:24px;padding:0 1px 0 7px;border:1px solid #d5d5d5;background-color:#fff;line-height:20px;vertical-align:middle}
textarea.inputText{padding:5px 1px 5px 7px;border:1px solid #d5d5d5;vertical-align:middle}
textarea.inputText.comment01{width:518px;height:57px;min-height:57px}


/* 스크랩 */
span.selectCate{display:block;margin:25px}
span.selectCate label *{vertical-align:middle}
span.selectCate label span{display:inline-block;margin-right:5px;color:#333;font-family:NGBold, "돋움", Dotum}


/* 공연/전시명 찾기 */
form.findPerform01{margin-bottom:20px;text-align:center}
h2.findPerform01{margin-bottom:10px;color:#333;font-family:NGBold, "돋움", Dotum}
h2.findPerform01 span{margin-left:10px;color:#767676;font-size:.9em;font-family:NGNormal !important}
div.findPerform01{padding:3px 0 10px;text-align:center}
div.findPerform01 span{margin-right:4px;font-family:NGBold, "돋움", Dotum}

/* 문양크게보기 */
p.pattern{margin-bottom:15px;color:#333;font-size:1.2em;font-family:'NGBold'}
img.pattern{display:block;width:500px;height:500px;border:1px solid #e2e2e2}
p.note01{padding-left:10px;color:#767676;background:url('/images/common/bg/bgExMark01.gif') no-repeat 0 3px}

/* 할인 티켓 */
div.discount{width:864px;height:391px;margin:0 auto;padding:10px;border:1px solid #c1c1c1;overflow:hidden}
div.discount img{float:left}
div.discount div{float:left;width:511px;height:385px;border:3px solid #e0e0e0;border-left:0}
div.discount h2{margin:35px 0 50px;color:#333;font-size:2.4em;text-align:center;line-height:1}
div.discount dl{margin:0 30px;font-size:1.2em;overflow:hidden} 
div.discount dt{float:left;width:90px;padding-left:15px;color:#333;background:url('/images/common/bg/bgDot03.gif') no-repeat 0 50%}
div.discount dt.space{letter-spacing:6px}
div.discount dd{margin-bottom:15px;color:#666;overflow:hidden}

/* 갤러리 */
div.imgSpace{width:560px;height:407px;margin:0 auto 10px;overflow-x:hidden;overflow-y:auto;text-align:center}

div.workSubList{width:555px;height:77px;margin:0 auto}
div.workSubList button.prev{float:left;width:16px;height:77px;border:1px solid #dddedf}
div.workSubList button.next{float:right;width:16px;height:77px;border:1px solid #dddedf}
div.workSubList div{float:left;width:504px;margin-left:6px;overflow:hidden}
div.workSubList ul{width:9999px;height:77px;background:url('/images/service/bgWorkSubList.gif') repeat-x 0 0}
div.workSubList li{float:left;position:relative;width:77px;padding-left:7px}
div.workSubList li img{width:77px;height:77px}
div.workSubList li img.video{position:absolute;top:28px;left:34px;width:23px;height:23px}

/* ID 사용가능 여부 확인 */
div.checkID{text-align:center}
div.checkID p.text02{margin-bottom:10px}
div.checkID p.text02 span{color:#5371bd;font-family:NGBold, "돋움", Dotum}
div.checkID p.note{margin-top:20px;padding:10px;border-top:1px solid #eaeaea;font-size:.9em;text-align:left}
div.checkID form{padding:10px;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;background-color:#f8f8f8}
div.checkID form label span{display:inline-block;height:22px;margin-right:5px;font-size:.9em;line-height:22px}
.content div.checkID form input{width:178px}

div.ssnInfo{margin:15px 0 -21px;padding:15px;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;font-size:.9em;background-color:#f8f8f8}
div.ssnInfo ul{margin:5px 0}
div.ssnInfo div{margin:10px 0;text-align:center}

/* ID 찾기 */
p.uid{margin-bottom:-1px;padding:15px;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;color:#333;text-align:center;background-color:#f8f8f8}
p.uid span{display:block;color:#338df2;font-family:NGBold, "돋움", Dotum}
p.uid.last{margin-bottom:-21px}


/* 우편번호 찾기 */
p.zipCode{margin-bottom:10px;color:#333;text-align:center}
p.zipCode > span{display:inline-block;text-align:left}
p.zipCode span span{display:block;color:#767676}

form.zipCode{margin-bottom:20px;text-align:center}

p.zipCodeNote{margin-bottom:5px;color:#767676;font-size:.9em}

table.zipCode{width:100%;border-top:2px solid #6b6b6b;border-bottom:1px solid #e3e3e3}
table.zipCode th{height:29px;color:#666;font-weight:normal;font-size:.9em}

div.zipCode{height:199px;margin-bottom:20px;border-bottom:1px solid #e3e3e3;overflow-x:hidden;overflow-y:scroll}
div.zipCode table{width:100%}
div.zipCode th,
div.zipCode td{height:50px;padding:0;border-top:1px solid #e3e3e3;color:#767676;font-family:NGNormal, "돋움", Dotum;font-weight:normal;font-size:.9em}
div.zipCode tr:first-child th,
div.zipCode tr:first-child td{border-top:0}
div.zipCode button{color:#767676;font-size:1em;font-family:NGNormal, "돋움", Dotum;text-align:left;line-height:1.45}
div.zipCode button span{color:#53d7bd}

/* 상품권 신청 */
table.voucher{width:100%;margin-bottom:10px;border-top:2px solid #6b6b6b;font-size:.9em}
table.voucher th{padding:5px 0 5px 15px;border-bottom:1px solid #e3e3e3;color:#666;text-align:left;line-height:22px}
table.voucher td{padding:5px 10px;border-bottom:1px solid #e3e3e3;color:#767676;line-height:22px}
table.voucher td.point{padding-right:15px;text-align:right}
table.voucher + h2{margin-top:30px}

ul.voucher{margin-bottom:25px;padding-left:15px;font-size:.9em;line-height:1.6}
ul.voucher li{padding-left:6px;background:url('/images/common/bg/bgDot01.gif') no-repeat 0 50%}
ul.voucher strong{font-weight:normal}

div.voucher{text-align:center}

/* 내공 정보 */
/* .myGrade{padding:0;margin-left:-250px;margin-top:-233px;border:0} */
div.myGrade p{margin:15px 0 10px 10px;font-weight:bold}
div.myGrade p strong{color:#53d7bd}
div.myGrade table{margin:0 auto;width:95%;margin-bottom:20px}
div.myGrade table th{padding:7px 0 5px 0;border-top:2px solid #6b6b6b;color:#666666;border-bottom:1px solid #e3e3e3;font-size:11px}
div.myGrade table th +th{border-left:1px solid #e3e3e3}
div.myGrade table td{padding:7px 0 5px 0;border-bottom:1px solid #e3e3e3;text-align:center;font-size:11px}
div.myGrade table td + td {border-left:1px solid #e3e3e3}
div.myGrade table + .pageNav{border:0 }

/*.report{display:none;position:fixed;top:50%;left:50%;margin-left:-250px;width:498px;background:#fff;z-index:1200}*/
.report h1{padding:8px 0 7px 16px;background:url(../images/people/bgPopHeader.gif) 0 0 repeat-x;font-size:14px;color:#fff}
.report h1 span{padding-left:11px;background:url(../images/people/bgPopH1.gif) 0 5px no-repeat}
.report .btnPopClose{position:absolute;right:15px;top:13px;color:#fff;font-size:15px}
.report div{padding:25px 25px 35px 25px;border:1px solid #d8dad9}
.report dl{overflow:hidden;margin-bottom:10px;padding-bottom:20px;border-bottom:2px solid #6b6b6b}
.report dl dt{float:left;clear:both;margin-bottom:7px;width:53px;color:#333;background:none}
.report dl dd{margin:0 0 7px 53px;padding-bottom:0;background:none}
.report dl dd .inputTxt{height:15px;padding-top:0;padding-left:10px;padding-right:10px;width:94%;border:1px solid #e7e7e7}
.report dl dd.cause{margin-top:16px}
.report dl dd.cause p{font-size:11px}
.report dl dd.cause ul{margin:5px 0 0 -3px}
.report dl dd.cause ul li{margin-bottom:5px}
.report dl dd.cause ul li input[type=radio]{vertical-align:middle}
.report dl dd.cause ul li textarea{margin:10px 0 0 0;padding:2px 10px;width:94%;height:60px}
.report .txt{font-size:11px}
.report .btnPop{margin-top:30px;text-align:center}

/* 할인티켓 출력 레이어 팝업 */
.ticketPopup{position:relative;width:657px;background:none}
.ticketPopup:after{display:block;content:"";clear:both}
.ticketPopup .tit{height:45px;margin-bottom:0;background:none}
.ticketPopup .tit span{margin-left:10px;font-size:0.62em;line-height:3;color:rgba(255,255,255,.5)}
.ticketPopup > dl{float:left;margin:25px 0 0 46px;width:365px}
.ticketPopup .stit{width:365px;height:55px;color:#000;font-size:2em;line-height:1.2;font-family:'NGBold';letter-spacing:-2px;}
.ticketPopup .contentBox{width:365px;margin-top:9px}
.ticketPopup .contentBox dt{float:left;width:86px;padding-bottom:8px;color:#4b6de6;font-weight:bold;line-height:1.2}
.ticketPopup .contentBox dd{float:left;width:279px;padding-bottom:8px;color:#000;line-height:1.2}
.ticketPopup .contentBox dd span{float:left;width:279px;color:#000}
.ticketPopup .btnBox{width:657px;margin-left:-48px;padding:30px 0;clear:both;text-align:center}
.ticketPopup .btnBox .button{width:98px;padding:0}
.ticketPopup .img{float:right}
/* 오류신고팝업 */
.content{padding:0 20px}
.content .reportBox{border-top:2px solid #222}
.content input{width:90%}
.content textarea{width:90%}

/* 크기조절 가이드 */
.sizeControl { padding:0 30px 30px 30px; }
.sizeControl h2 { margin-bottom:15px; font-size:14px; font-weight:bold; }
.sizeControl .box { position:relative; padding:25px 20px; border:1px solid #e2e2e2; }
.sizeControl .box ol { position:absolute; left:540px; font-size:14px; font-weight:bold; color:#333; }
.sizeControl .box.order1 { margin-bottom:45px; }
.sizeControl .box.order1 ol { top:270px; }
.sizeControl .box.order2 ol { top:90px; }


/* 개인정보 관련 팝업 수정 */
.content .join { overflow:hidden; overflow-y:scroll; width:98%; height:450px; border:solid 1px #ccc; font-size:1em}

@media print {
	h1,
	div.buttonBox{display:none}
	.ticketPopup{border:1px solid #5d6c7a}
}